<div class="">
  <span class="help-text"><%= t('.click_on_map').html_safe %></span>

  <div id="map" class="map"></div>

  <div class="field mt-s locations locations-list">
    <%= form.hidden_field :locations_json, id: 'all_locations' %>
  </div>
  <div class="custom-auto-search-wrapper auto-search-wrapper">
    <input type="text"
           autocomplete="off"
           id="search"
           class="<%= @form.errors[:locations_json].present? ? 'is-invalid-input' : nil %>"
           placeholder="Wpisz adres (min. 5 znaków)"
           aria-describedby="location-with-toggle">
  </div>

  <% if @form.errors[:locations_json].present? %>
    <span class="form-error is-visible">
      <%= @form.errors[:locations_json][0] %>
    </span>
  <% end %>

  <%= append_javascript_pack_tag "locations_map" %>
</div>

<%= append_javascript_pack_tag "autocomplete" %> 

