<span class="exports button button__sm button__secondary js-export-selected-btn hidden" data-toggle="export-selected-dropdown">
  Eksport wybranych
  <%= icon "arrow-down-s-line", class: "dropdown-filter-icon" %>
</span>

<div class="dropdown-pane"
     id="export-selected-dropdown"
     data-dropdown
     data-position="bottom"
     data-alignment="right"
     data-auto-focus="true"
     data-close-on-click="true">
  <ul class="vertical menu add-components">
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="xlsx"><%= t("decidim.study_notes.admin.study_notes.index.excel") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"><%= t("decidim.study_notes.admin.study_notes.index.zip") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-with_attachments="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_with_attachments") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-anonymized="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_anonymized") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-anonymized="true"
         data-with_attachments="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_anonymized_with_attachments") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-with_attachments="true"
         data-normalized="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_normalized_with_attachments") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-normalized="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_normalized") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-normalized="true"
         data-anonymized="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_normalized_anonymized") %></a>
    </li>
    <li>
      <a href="#"
         class="js-export-selected"
         data-format="zip"
         data-normalized="true"
         data-anonymized="true"
         data-with_attachments="true"><%= t("decidim.study_notes.admin.study_notes.index.zip_normalized_anonymized_with_attachments") %></a>
    </li>
  </ul>
</div>
