<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
      <%= link_to 'Nadaj numery wewnętrzne', sequential_numbers_study_notes_path, class: "button button__sm button__secondary" %>

      <%= render partial: "export_searched_notes" %>
      <%= render partial: "export_chosen_notes" %>

      <%= link_to 'Zarejestruj w Signum', '',
                  id: 'js-register-selected-btn',
                  class: "button button__sm button__secondary hidden js-register-selected-btn",
                  data: { url: register_selected_to_signum_study_notes_path } %>

      <%= link_to 'Pozycje legendy', legend_items_path, class: "button button__sm button__secondary" %>
      <%= link_to 'Podkłady mapowe', map_backgrounds_path, class: "button button__sm button__secondary" %>
    </h1>
  </div>

  <%= render partial: "filters" %>
  <%= render partial: 'table' %>
</div>

<%= decidim_paginate @notes %>

<%= prepend_javascript_pack_tag "admin_study_notes", defer: true %>
