<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <div>
      <%= t(".title") %>
    </div>
  </h1>
</div>
<%= decidim_form_for(@form, url: generate_sequential_numbers_study_notes_path(@form), html: { class: "form-defaults form " }) do |f| %>
  <div class="card-section">
    <div class="card">
      <div class="form__wrapper">
        <div class="card pt-4">
          <div class="card-section">
            <label>
              Podaj zakres ID Decidim, dla których ma byc nadany numer wewnetrzny
            </label>
            <div class="grid grid-cols-2 gap-2 sequential-numbers-inputs">
              <div class="row column sequential-number-from">
                <%= f.number_field :id_from, min: 1, max: 9_999_999 %>
              </div>

              <div class="row column sequential-number-to">
                <%= f.number_field :id_to, min: 1, max: 9_999_999 %>
              </div>
            </div>

            <div class="row column">
              <%= f.number_field :sequential_number,
                                 min: 0,
                                 max: 9_999_999,
                                 help_text: "Nadawanie numeracji rozpocznie się chronologicznie od pierwszej dodanej uwagi." %>
            </div>

            <% if @form.errors.any? %>
              <div class="row column">
                <%= f.check_box :force_override %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="item__edit-sticky">
    <div class="item__edit-sticky-container">
      <div class="button--double form-general-submit">
        <%= link_to t("decidim.admin.actions.back"), study_notes_path, class: "button button__sm button__secondary" %>
        <%= f.submit t(".save"), class: "button button__sm button__secondary" %>
      </div>
    </div>
  </div>
<% end %>
