<% add_decidim_page_title(t("contacts.title", scope: "decidim.admin")) %>

<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t("contacts.title", scope: "decidim.admin") %>
      <%= link_to t("actions.add_contact_info_position", scope: "decidim.admin_extended.contact_info_positions"), new_contact_info_position_path, class: "button button__sm button__secondary expanded small new" %>
    </h1>
  </div>

  <% contact_info_groups.each do |contact_info_group| %>
  <div class="card-divider">
    <h2 class="card-title">
      <strong><%= contact_info_group.name %></strong>
    </h2>
  </div>
  <fieldset class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t(".position_name") %></th>
          <th><%= t(".position") %></th>
          <th><%= t(".phone") %></th>
          <th><%= t(".email") %></th>
          <th><%= t(".published") %></th>
          <th><%= t(".created_at") %></th>
        </tr>
        </thead>
        <tbody>
          <% contact_info_group.contact_info_positions.sorted_by_weight.each do |contact_info_position| %>
            <tr>
              <td><%= contact_info_position.name %></td>
              <td><%= contact_info_position.position %></td>
              <td><%= contact_info_position.phone %></td>
              <td><%= contact_info_position.email %></td>
              <td><%= contact_info_position.published ? t(".published_yes") : t(".published_no") %></td>
              <td><%= l contact_info_position.created_at, format: :decidim_short_cut_zero %></td>
              <td class="table-list__actions">
                <%= icon_link_to "pencil-line",
                                 [:edit, contact_info_position],
                                 t("actions.edit_contact_info_position", scope: "decidim.admin_extended.contact_info_positions"),
                                 class: "action-icon--edit",
                                 method: :get %>
                <%= icon_link_to "delete-bin-line",
                                 contact_info_position,
                                 t("actions.destroy_contact_info_position", scope: "decidim.admin_extended.contact_info_positions"),
                                 class: "action-icon--remove",
                                 method: :delete,
                                 data: { confirm: t("actions.confirm_destroy_contact_info_position", scope: "decidim.admin_extended.contact_info_positions")} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
  <% end %>
</div>
