<div class="card with-overflow" id='user-groups'>
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <%= t("contacts.title", scope: "decidim.admin") %>
      <div class="flex--cc flex-gap--1">
        <div id="js-other-actions-wrapper" class="text-right">
          <%= link_to t("actions.add_contact_info_position", scope: "decidim.admin_extended.contact_info_positions"), new_contact_info_position_path, class: "button tiny button--simple" %>
          <%= link_to t("actions.add_contact_info_group", scope: "decidim.admin_extended.contact_info_positions"), new_contact_info_group_path, class: "button tiny button--simple" %>
        </div>
      </div>
    </h2>
  </div>

  <div class="card-divider">
    <h2 class="card-title"><%= t(".groups") %></h2>
  </div>
  <fieldset class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t(".group_name") %></th>
          <th><%= t(".subtitle") %></th>
          <th><%= t(".published") %></th>
          <th><%= t(".created_at") %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% contact_info_groups.each do |contact_info_group| %>
          <td><%= contact_info_group.name %></td>
          <td><%= contact_info_group.subtitle.presence || "-" %></td>
          <td><%= contact_info_group.published.present? ? t(".published_yes") : t(".published_no") %></td>
          <td><%= l contact_info_group.created_at, format: :decidim_short %></td>
          <td class="table-list__actions">
            <%= icon_link_to "pencil",
                             [:edit, contact_info_group],
                             t("actions.edit_contact_info_group", scope: "decidim.admin_extended.contact_info_positions"),
                             class: "action-icon--edit",
                             method: :get %>
            <%= icon_link_to "circle-x",
                             contact_info_group,
                             t("actions.destroy_contact_info_group", scope: "decidim.admin_extended.contact_info_positions"),
                             class: "action-icon--remove",
                             method: :delete,
                             data: { confirm: t("actions.confirm_destroy_contact_info_group", scope: "decidim.admin_extended.contact_info_positions") } %>
          </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
  <div class="card-divider">
    <h2 class="card-title"><%= t(".positions") %></h2>
  </div>
  <fieldset class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t(".group_name") %></th>
          <th><%= t(".position_name") %></th>
          <th><%= t(".position") %></th>
          <th><%= t(".phone") %></th>
          <th><%= t(".email") %></th>
          <th><%= t(".published") %></th>
          <th><%= t(".created_at") %></th>
        </tr>
        </thead>
        <tbody>
        <% contact_info_groups.each do |contact_info_group| %>
          <tr>
            <td><strong><%= contact_info_group.name %></strong></td>
            <td colspan="7"></td>
          </tr>
          <% contact_info_group.contact_info_positions.sorted_by_weight.each do |contact_info_position| %>
            <tr>
              <td> </td>
              <td><%= contact_info_position.name %></td>
              <td><%= contact_info_position.position %></td>
              <td><%= contact_info_position.phone %></td>
              <td><%= contact_info_position.email %></td>
              <td><%= contact_info_position.published ? t(".published_yes") : t(".published_no") %></td>
              <td><%= l contact_info_position.created_at, format: :decidim_short %></td>
              <td class="table-list__actions">
                <%= icon_link_to "pencil",
                                 [:edit, contact_info_position],
                                 t("actions.edit_contact_info_position", scope: "decidim.admin_extended.contact_info_positions"),
                                 class: "action-icon--edit",
                                 method: :get %>
                <%= icon_link_to "circle-x",
                                 contact_info_position,
                                 t("actions.destroy_contact_info_position", scope: "decidim.admin_extended.contact_info_positions"),
                                 class: "action-icon--remove",
                                 method: :delete,
                                 data: { confirm: t("actions.confirm_destroy_contact_info_position", scope: "decidim.admin_extended.contact_info_positions")} %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>
