<% add_decidim_page_title(t("titles.ws_messages", scope: "decidim.admin")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t "decidim.admin.titles.ws_messages" %>
      <% if allowed_to? :update, :organization, organization: current_organization %>
        <%= link_to "Nowe powiadomienie", [:new, :admin, :ws_message], class: "button button__sm button__secondary" %>
      <% end %>
    </h1>
  </div>

  <div class="table-scroll">
    <table class="table-list">
      <thead>
      <tr>
        <th><%= t("models.ws_message.fields.title", scope: "decidim.admin") %></th>
        <th><%= t("models.ws_message.fields.body", scope: "decidim.admin") %></th>
        <th><%= t("models.ws_message.fields.active_channels", scope: "decidim.admin") %></th>
        <th><%= t("models.ws_message.fields.created_at", scope: "decidim.admin") %></th>
        <th><%= t("models.ws_message.fields.author", scope: "decidim.admin") %></th>
        <th><%= t("models.ws_message.fields.published_at", scope: "decidim.admin") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @ws_messages.each do |ws_message| %>
          <tr>
            <td>
              <% if allowed_to? :update, :organization, organization: current_organization %>
                <%= link_to ws_message.title, [:edit, :admin, ws_message] %>
              <% else %>
                <%= ws_message.title %>
              <% end %>
            </td>
            <td>
              <%= decidim_sanitize html_truncate(ws_message.body, length: 50, separator: "..."), strip_tags: %w[img video] %>
            </td>
            <td>
              <%= active_notification_channels(ws_message) %>
            </td>
            <td>
              <%= l ws_message.created_at, format: :decidim_short_cut_zero %>
            </td>
            <td>
              <%= ws_message.user.name %>
            </td>
            <td>
              <%= l ws_message.published_at, format: :decidim_short_cut_zero if ws_message.published_at %>
            </td>
            <td class="table-list__actions">
              <% if allowed_to? :update, :organization, organization: current_organization %>
                <%= icon_link_to "pencil-line",
                                 [:edit, :admin, ws_message],
                                 t("actions.edit", scope: "decidim.admin"),
                                 class: "action-icon--edit",
                                 method: :get, data: {} %>
                <% unless ws_message.published? %>
                  <%= icon_link_to "mail-line",
                                   publish_admin_ws_message_path(ws_message),
                                   t("actions.publish", scope: "decidim.admin"),
                                   class: "action-icon--preview",
                                   method: :post %>
                  <%= icon_link_to "delete-bin-line",
                                   [:admin, ws_message],
                                   t("actions.destroy", scope: "decidim.admin"),
                                   class: "action-icon--remove",
                                   method: :delete,
                                   data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate @ws_messages %>
