<%# file overwritten to: %>
<%# - add custom file size formatting %>
<%# - don't throw errors when documents are missing in development env %>

<div id="<%= dom_id(document) %>">
  <div class="card__list-content">
    <%= link_to document&.url.presence || '', target: "_blank", rel: "noopener noreferrer", class: "card__list-title", title: t("decidim.application.document.download") do %>
      <%= h attachment_title(document) %>
    <% end %>
    <% if document.description.present? %>
      <div class="card__list-text"><%= decidim_escape_translated(document.description) %></div>
    <% end %>
    <div class="card__list-metadata">
      <% if document.file? %>
        <div><%= icon "file-text-line" %><%= document.file_type %>, <%= '%.1f' % (document.file_size.to_f / 1024.0) %> KB</div>
      <% else %>
        <div><%= icon "file-text-line" %><%= document.file_type %></div>
      <% end %>
    </div>
  </div>
  <% if document.file? %>
    <%= link_to document.url,
                target: "_blank",
                rel: "noopener noreferrer",
                class: "button button__sm button__transparent-secondary flex-none",
                title: t("decidim.application.document.download"),
                data: { "external-link": false } do %>
      <%= t("decidim.application.document.download") %>
      <%= icon "download-2-line" %>
    <% end %>
  <% else %>
    <%= link_to document&.url.presence || '',
                target: "_blank",
                rel: "noopener noreferrer",
                class: "button button__sm button__transparent-secondary flex-none",
                title: t("decidim.application.document.visit_link"),
                data: { "external-link": true } do %>
      <%= t("decidim.application.document.visit_link") %>
      <%= icon "download-2-line" %>
    <% end %>

  <% end %>
</div>
