<div class="update-user_question" id="editable-user_question-<%= user_question.id %>">
  <%= decidim_form_for(form_object, url: decidim_participatory_process_expert_questions.second_step_update_user_question_path(user_question), method: :patch, remote: true) do |form| %>
    <%= form.hidden_field :expert_id %>

    <div class="flex items-center justify-center flex-col">
      <legend><%= t('.statistics_legend') %></legend>
      <div class="remark-field--selects w-full flex items-center justify-center">
        <%= form.select :gender,
                        form_object.gender_options_for_public_post,
                        { include_blank: t("select_gender", scope: 'decidim.expert_questions.user_questions.form'), label: false },
                        { multiple: false } %>
        <%= form.select :age,
                        form_object.user_age_for_select,
                        { include_blank: t("select_age", scope: 'decidim.expert_questions.user_questions.form'), label: false },
                        { multiple: false } %>
        <%= form.select :district_id,
                        form_object.user_districts_for_select,
                        { include_blank: t("select_district", scope: 'decidim.expert_questions.user_questions.form'), label: false },
                        { multiple: false } %>
      </div>
    </div>

    <div class="flex items-center justify-center gap-2 mt-6">   
      <%= form.button type: "submit", class: "button button__sm button__secondary ml-auto", data: { disable: true } do %>
        <%= t(".save") %> 
      <% end %>
    </div>
  <% end %>
</div>
