<%= filter_form_for filter do |form| %>
  <fieldset class="user-questions__filters">
    <legend class="show-for-sr">
      <div class="filters__section">
        <div class="filters__help">
          <p><%= t("help", scope: "decidim.shared.filter_form_help") %></p>
        </div>
      </div>
    </legend>
    <div class="filters__section">
      <div class="filters__search">
        <div class="filter-search filter-container">
          <%= form.search_field :search_text, label: false, placeholder: t(".search"), title: t(".search"), data: { disable_dynamic_change: true }, aria: { label: "Wyszukiwane pytanie" } %>
          <button type="submit" aria-controls="user_questions" aria-label="<%= t(".search") %>">
            <%= icon "search-line", aria_hidden: true %>
          </button>
        </div>
      </div>
    </div>
    <fieldset class="filters__section my-5">
      <legend class="uppercase font-semibold text-sm mb-2"><%= t(".state") %></legend>

      <% filter_user_questions_state_values.each do |value, label| %>
        <div class="filter" data-accessibility-violation="true">
          <label for="filters_state_<%= value %>">
            <%= radio_button_tag "filter[state]", value, params.dig(:filter, :state) == value, id: "filters_state_#{value}", 'aria-controls': 'user_questions', class: "reset-defaults" %>
            <%= label %>
          </label>
        </div>
      <% end %>
    </fieldset>

    <%= form.experts_collection_filter(
          method: :expert,
          collection: filter_expert_values,
          label_scope: "decidim.expert_questions.user_questions.filters",
          id: "expert",
          type: :check_boxes_tree,
          "aria-controls": "user_questions"
        ) %>

    <% if current_user %>
      <fieldset class="filters__section mt-5">
        <legend class="uppercase font-semibold text-sm mb-2"><%= t(".activity") %></legend>

        <% activity_filter_values.each do |value, label| %>
          <div class="filter" data-accessibility-violation="true">
            <label for="filters_activity_<%= value %>">
              <%= radio_button_tag "filter[activity]", value, params.dig(:filter, :activity) == value, id: "filters_activity_#{value}", 'aria-controls': 'user_questions', class: "reset-defaults" %>
              <%= label %>
            </label>
          </div>
        <% end %>
      </fieldset>
    <% end %>

    <div class="filters__section mt-5">
      <fieldset>
        <legend class="uppercase font-semibold text-sm mb-2"><%= t(".sort") %></legend>
        <% sort_filter_values.each do |value, label| %>
          <div class="filter" data-accessibility-violation="true">
            <label for="filter_sort_<%= value %>">
              <%= radio_button_tag "filter[sort]", value, params.dig(:filter, :sort) == value, id: "filter_sort_#{value}", 'aria-controls': "user_questions" %>
              <%= label %>
            </label>
          </div>
        <% end %>
      </fieldset>
    </div>
  </fieldset>
<% end %>
