
<main class="layout-1col cols-10 py-10 user-questions"> 
  <section>
    <%= render partial: "decidim/shared/component_announcement" %>
    <%= render partial: 'decidim/shared/users_action_disallowed' %>
    <%= render partial: 'decidim/shared/component_settings_help_section', locals: {
          followable_resource: first_followable_user_question,
          tooltip_content: t(".tooltip_content"),
          button_classes: "button__follow--expert-questions"
        } %>
  </section> 

  <section>
    <%= render partial: "experts" %> 
  </section> 

  <section>
    <h2 aria-atomic="true" aria-live="polite" id="user_questions-count" class="title-action__title user_questions uppercase custom-section-counter mb-4">
      <%= t(".user_questions_count", count: user_questions_with_comments_count).html_safe %>
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-x-8 max-md:gap-y-8">
      <div class="bg-[#f4f4f4] p-4 col-span-1 self-start">
        <%= render partial: "filters" %>
      </div>

      <div id="user-questions" class="user-questions__list col-span-2">
        <%= render partial: "user_questions" %>
      </div>
    </div>
  </section>
</main>

<%= append_javascript_pack_tag "remarks" %>
