<main class="layout-1col cols-10 py-10 user-questions" id="subcontent"> 
  <section>
    <%= link_to :back, class: "back-link" do %>
      <img src="<%= asset_pack_path('media/images/arrow-left-s-line.svg') %>" width="20" height="20" alt="" />
      <span><%= t(".back") %></span>
    <% end %>

    <div id="new-user_question-box" class="card card--user_question_form mt-8">
      <div class="card__header">
        <h2 id="new-user_question-header" class="h3"><%= t(".title", expert_name: expert.full_name) %></h2>
      </div>

      <div class="card__content flex flex-col">
        <% unless user_allowed_to_add_user_question?(current_user) %> 
          <span>
            <%= t(".anonymous_user_message", sign_in_link: decidim.new_user_session_path, sign_up_link: decidim.new_user_registration_path).html_safe %>
          </span> 
        <% end %>

        <% if user_allowed_to_add_user_question?(current_user) %> 
          <%= render "new", form_object: @form %> 
        <% end %>
      </div>
    </div> 
  </section>
</main>