<% add_decidim_page_title(t("decidim.admin.titles.article_categories")) %>

<div class="card" id="article_categories">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t "decidim.admin.titles.article_categories" %>
      <% if allowed_to? :update, :organization, organization: current_organization %>
        <%= link_to "Nowa kategoria", [:new, :admin, :article_category], class: "button button__sm button__secondary" %>
      <% end %>
    </h1>
  </div>
  <div class="table-scroll">
    <table class="table-list">
      <thead>
      <tr>
        <th><%= t("models.article_category.fields.name", scope: "decidim.admin") %></th>
        <th><%= t("models.article_category.fields.description", scope: "decidim.admin") %></th>
        <th><%= t("models.article_category.fields.articles_count", scope: "decidim.admin") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @article_categories.each do |article_category| %>
        <tr>
          <td>
            <% if allowed_to? :update, :organization, organization: current_organization %>
              <%= link_to article_category.name, [:edit, :admin, article_category] %>
            <% else %>
              <%= article_category.name %>
            <% end %>
          </td>
          <td>
            <%= decidim_sanitize html_truncate(article_category.description, length: 50, separator: "..."), strip_tags: %w[img video] %>
          </td>
          <td>
            <%= article_category.articles.count %>
          </td>
          <td class="table-list__actions">
            <% if allowed_to? :update, :organization, organization: current_organization %>
              <%= icon_link_to "pencil-line",
                               [:edit, :admin, article_category],
                               t("actions.edit", scope: "decidim.admin"),
                               class: "action-icon--edit",
                               method: :get, data: {} %>
              <%= icon_link_to "delete-bin-line",
                               [:admin, article_category],
                               t("actions.destroy", scope: "decidim.admin"),
                               class: "action-icon--remove",
                               method: :delete,
                               data: { confirm: t("actions.confirm_destroy", scope: "decidim.admin") } %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate @article_categories %>
