<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :title %>
      </div>

      <div class="row column">
        <%= form.editor :body %>
      </div>

      <div class="row column">
        <%= form.select :users_action_allowed_for_unregister_users,
                        options_for_select(
                          [[ 'Wszyscy', true ],
                           [ 'Tylko zalogowani', false ]],
                          selected: @form.users_action_allowed_for_unregister_users)
        %>
      </div>

      <div class="row column">
        <%= form.number_field :weight %>
      </div>

      <div class="row column">
        <%= form.date_field :added_on %>
      </div>
    </div>
  </div>

  <div class="card">
    <%= render partial: 'decidim/repository/admin/galleries/new_or_present_gallery', locals: { form: form } %>
  </div>
</div>