<% add_decidim_page_title(t("statistics.title", scope: "decidim.admin")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t("statistics.title", scope: "decidim.admin") %>
      <% if allowed_to? :update, :organization, organization: current_organization %>
        <%= link_to "Dodaj nową pozycję", [:new, :statistic], class: "button button__sm button__secondary" %>
      <% end %>
    </h1>
  </div>

  <div class="table-scroll">
    <table class="table-list">
      <thead>
      <tr>
        <th><%= t(".headers.name") %></th>
        <th><%= t(".headers.explanation") %></th>
        <th><%= t(".headers.visible") %></th>
        <th><%= t(".headers.count") %></th>
        <th><%= t(".headers.additional_statistic_number") %></th>
        <th><%= t(".headers.sum") %></th>
        <th><%= t(".headers.weight") %></th>
        <th><%= t(".headers.actions") %></th>
      </tr>
      </thead>
      <tbody>
        <% @statistics.each do |s| %>
          <%= render "statistic", statistic: s %>
        <% end %>
        </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate @statistics %>
