<% provide(:title, hero_section_public.title) %>

<% add_decidim_meta_tags(
     {
       title: hero_section_public.title,
       description: hero_section_public.description.presence || "",
       url: decidim_ad_users_space.info_articles_url
     }) %>

<% edit_link(
     decidim_ad_users_space.admin_info_articles_path,
     :update,
     :organization,
     organization: current_organization
   ) %>

<main class="layout-1col cols-10">
  <div class="vertical-tabs">
    <% if article_categories.any? || orphan_articles.any? %>
      <nav>
        <ul id="dropdown-menu-pages" class="vertical-tabs__list" role="menu" aria-hidden="false" tabindex="-1">
          <% article_categories.each do |topic| %>
            <% if topic.articles.any? %>
              <li class="<%= 'is-active' if params[:anchor] == "temat-#{topic.id}" %>" role="menuitem">
                <a href="#" class="vertical-tab-link" data-target="temat-<%= topic.id %>"><%= topic.name %></a>
              </li>
            <% end %>
          <% end %>

          <% if orphan_articles.any? %>
            <li class="<%= 'is-active' if params[:anchor] == 'orphan' %>" role="menuitem">
              <a href="#" class="vertical-tab-link" data-target="orphan"><%= t(".standalone_articles") %></a>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>

    <div class="wrapper wrapper--knowledge-base">
      <% if article_categories.any? %>
        <div class="row">
          <% article_categories.each do |topic| %>
            <% if topic.articles.any? %>
              <div class="column">
                <div class="topic" data-section-id="temat-<%= topic.id %>" style="display: none;">
                  <div class="topic__description">
                    <div class="editor-content"><%= quill_sanitize topic.description %></div>
                  </div>

                  <div class="topic__articles">
                    <% topic.articles.sorted_by_weight.each do |article| %>
                      <div class="article" id="article-<%= article.id %>">
                        <button aria-controls="<%= article.id %>-content" class="card__title" data-url="<%= article.id %>" id="<%= article.id %>" aria-expanded="false">
                          <h3 class="section-title"><%= article.title %></h3>
                          <img src="<%= asset_pack_path('media/images/arrow-down-s-line.svg') %>" width="32" height="32" alt="" class="toggle-button" />
                        </button>

                        <div class="card__content" id="<%= article.id %>-content" aria-labelledby="<%= article.id %>" role="region">
                          <div class="editor-content card__content_custom custom-text rich-text-display">
                            <%= quill_sanitize translated_attribute article.body %>
                          </div>

                          <%= render 'decidim/shared/gallery_attachments', model: article %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if orphan_articles.any? %>
        <div class="row">
          <div class="column">
            <div class="topic" data-section-id="orphan" style="display: none;">
              <h2 class="topic__title"><%= t(".standalone_articles") %></h2>

              <div class="topic__articles">
                <% orphan_articles.each do |article| %>
                  <div class="article" id="article-<%= article.id %>">
                    <button aria-controls="<%= article.id %>-content" class="card__title" data-url="<%= article.id %>" id="<%= article.id %>" aria-expanded="false">
                      <h2 class="section-title" style="display: flex; align-items: center;"><%= article.title %></h2>
                      <img src="<%= asset_pack_path('media/images/arrow-down-s-line.svg') %>" width="32" height="32" alt="" class="toggle-button" />
                    </button>

                    <div class="card__content" id="<%= article.id %>-content" aria-labelledby="<%= article.id %>" role="region">
                      <div class="editor-content card__content_custom custom-text rich-text-display">
                        <%= quill_sanitize translated_attribute article.body %>
                      </div>

                      <%= render 'decidim/shared/gallery_attachments', model: article %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= append_javascript_pack_tag "ad_users_space_items_expanding" %>
<%= append_javascript_pack_tag "knowledge_base" %>
