<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t ".title" %>: <%= hero_section_admin.title %>
  </h1>
</div>

<div class="card">
  <div class="card-section">
    <div class="form__wrapper">
      <div class="card pt-4">
        <div class="row column">
          <%= t(".hs_title") %>:
          <%= hero_section_admin.title %>
        </div>

        <div class="row column">
          <%= t(".hs_description") %>:
          <%= hero_section_admin.description.html_safe %>
        </div>

        <div class="row column">
          <%= t(".hs_system_name") %>:
          <%= hero_section_admin.system_name %>
        </div>

        <div class="row column">
          <%= t(".hs_update_at") %>:
          <%= l(hero_section_admin.updated_at, format: :decidim_short_cut_zero) %>
        </div>
      </div>

      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= link_to t("actions.back", scope: "decidim.admin"), decidim_admin_extended.hero_sections_path, class: "button button__sm button__secondary" %>
          <%= link_to t("actions.edit", scope: "decidim.admin"), decidim_admin_extended.edit_hero_section_path(id: hero_section_admin.id), class: "button button__sm button__secondary" %>
        </div>
      </div>

    </div>
  </div>
</div>
