<div class="user-password"
     data-show-password="<%= t "show_password", scope: "decidim.devise.shared.password_fields" %>"
     data-hide-password="<%= t "hide_password", scope: "decidim.devise.shared.password_fields" %>"
     data-hidden-password="<%= t "hidden_password", scope: "decidim.devise.shared.password_fields" %>"
     data-shown-password="<%= t "shown_password", scope: "decidim.devise.shared.password_fields" %>">
  <%= form.send(:custom_label, :password, t("activemodel.attributes.user.password"), { required: true }) %>

    <% use_strong_password_validator = local_assigns.has_key?(:show_help_text) || local_assigns.has_key?(:user) %>
  
  <% password_field = if use_strong_password_validator %>
    <%= form.password_field :password, 
        autocomplete: "new-password",
        label: false, 
        class: "password-field-js", 
        placeholder: "", 
        "data-validator": "strong_password" %>
  <% else %>
    <%=form.password_field :password, autocomplete: "current-password", label: false, class: "password-field-js", placeholder: "" %>
  <% end %>

  <%= password_field %>
  <button type="button"
          class="peek-password"
          aria-label="<%= t("show_password", scope: "decidim.devise.shared.password_fields") %>">
  </button>
</div>
