<% provide(:title, information.title) %>

<% add_decidim_meta_tags({
  title: information.title,
  description: information.body,
  url: decidim_news.edit_information_url(information)
}) %>

<% edit_link(
     decidim_news.edit_information_path(information),
     :edit,
     :information
   ) %>

<div class="participatory-space__container">
  <section class="content-block content-block--informations participatory-space__content-block">
    <div class="space-y-8">
      <div class="navigation-wrapper">
        <%= link_to :news_index, class: "back-link" do %>
          <img src="<%= asset_pack_path('media/images/arrow-left-s-line.svg') %>" width="20" height="20" alt="" />
          <span><%= t(".back") %></span>
        <% end %>

        <% if information.added_on %>
          <span><%= l(information.added_on, format: :decidim_short_cut_zero) %></span>
        <% end %>
      </div>

      <div class="editor-content fix-swipebox">
        <%= quill_sanitize information.body %>
      </div>

      <%= render 'decidim/shared/gallery_attachments', model: information %>
      <%= attachments_for information %>
      <%= comments_for information %>
    </div>
    
    <div class="custom-wrapper">
      <%= render layout: 'decidim/shared/tooltip', locals: { tooltip_content: t(".tooltip_content") } do %>
        <%= follow_button_for(information, nil, { button_classes: "button button__sm button__gray button__follow button__follow--information"}) %>
      <% end %>
      <div class="participatory-space__nav-container information-nav-container">
      </div>
    </div>
  </section>
</div>

<%= append_javascript_pack_tag "comments" %>
