<%= render layout: "layouts/decidim/shared/layout_user_profile" do %>
  <% add_decidim_page_title(t("my_interests", scope: "layouts.decidim.user_profile")) %>
  <% content_for(:subtitle) { t("my_interests", scope: "layouts.decidim.user_profile") } %>
  
  <%= form_for(@user_interests, url: user_interests_path, method: :put, class: "user-form") do |f| %>
    <p class="help-text">
      Powiedz nam coś o swoich zainteresowaniach
    </p>

    <p>
      Powiadomimy Cię, kiedy rozpoczną się związane z nimi konsultacje
    </p>

    <div class="form__select-wrapper mt-8">
      <%= f.select :scopes_ids, @user_interests.available_scopes,
                   { label: "Które dzielnice Cię interesują?", include_blank: false, legend_title: "Wybierz dzielnice" },
                   { class: 'multiple scopes-ids-select-js',
                     multiple: true,
                     "data-placeholder": "Wybierz dzielnice",
                     "aria-controls": "processes",
                     "data-class": "pretty-multiselect",
                     "data-style": "--prompt: 'Wybierz jedną lub kilka dzielnic:'" } %>

      <div class="field checkboxed mt-6">
        <%= render "decidim/shared/toggle_switch",
                   field_name: "scope_citywide",
                   checked: @user_interests.scope_citywide,
                   label_text: "Powiadamiaj mnie o wszystkich konsultacjach ogólnomiejskich" %>
      </div>
    </div>

    <div class="form__select-wrapper mt-8">
      <%= f.select :tags_ids, @user_interests.available_tags,
                   { label: "Które tematy Cię interesują?", include_blank: false, legend_title: "Wybierz tematy" },
                   { class: 'multiple tags-ids-select-js',
                     multiple: true,
                     "data-placeholder": "Wybierz tematy",
                     "aria-controls": "processes",
                     "data-class": "pretty-multiselect",
                     "data-style": "--prompt: 'Wybierz jeden lub kilka tematów:'" } %>

      <div class="field checkboxed mt-6">
        <%= render "decidim/shared/toggle_switch",
                   field_name: "follow_ngo",
                   checked: @user_interests.follow_ngo,
                   label_text: t('follow_ngo', scope: 'decidim.notifications_settings.show') %>
      </div>
    </div>

    <div class="field checkboxed mt-6">
      <%= render "decidim/shared/toggle_switch",
                 field_name: "newsletter_notifications",
                 checked: @user_interests.newsletter_notifications,
                 label_text: t("newsletter_notifications", scope: "decidim.notifications_settings.show") %>
    </div>
    <div class="field checkboxed mt-6">
      <%= render "decidim/shared/toggle_switch",
                 field_name: "email_on_notification",
                 checked: @user_interests.email_on_notification,
                 label_text: t("email_on_notification", scope: "decidim.notifications_settings.show") %>
    </div>

    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between mt-10">
      <%= f.submit "Zapisz zmiany", class: "button button__sm md:button__lg button__secondary mr-auto !ml-0" %>
    </div>
  <% end %>
<% end %>

<%= append_javascript_pack_tag "users_extended_user_profile" %>
<%= append_javascript_pack_tag "multiselect" %>
<%= append_javascript_pack_tag "users_extended_registrations" %>
