<%# View for STATIC PAGES (not pages component) - TYLKO strony z Bazy wiedzy %>

<% add_decidim_meta_tags(
    {
      title: hero_section_public.title,
      description: hero_section_public.description.presence || "",
    }) %>

<% edit_link(
  decidim_admin.static_pages_path,
  :read,
  :static_page
) %>

<main class="layout-1col cols-10">
  <div class="vertical-tabs">
    <nav>
      <ul id="dropdown-menu-pages" class="vertical-tabs__list" role="menu" aria-hidden="false" tabindex="-1">
        <% @topics.each do |topic| %>
          <% if topic.pages.for_help_pages.any? %>
            <li class="<%= 'is-active' if params[:anchor] == "temat-#{topic.id}" %>" role="menuitem">
              <a href="#" class="vertical-tab-link" data-target="temat-<%= topic.id %>"><%= translated_attribute topic.title %></a>
            </li>
          <% end %>
        <% end %>

        <% if @orphan_pages.for_help_pages.any? %>
          <li class="<%= 'is-active' if params[:anchor] == 'orphan' %>" role="menuitem">
            <a href="#" class="vertical-tab-link" data-target="orphan"><%= t ".standalone_pages" %></a>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="wrapper wrapper--knowledge-base">
      <% if @topics.any? %>
        <div class="row ">
          <% @topics.each do |topic| %>
            <% if topic.pages.for_help_pages.any? %>
              <div class="column">
                <div class="topic" data-section-id="temat-<%= topic.id %>" style="display: none;">
                  <% description_content = translated_attribute(topic.description).to_s.strip %>
                  <% if topic.description.present? && description_content.present? && description_content != "<p></p>" %>
                    <div class="editor-content">
                      <div class="rich-text-display"><%= quill_sanitize description_content %></div>
                    </div>
                  <% end %>
                  <div class="topic__articles">
                    <% topic.pages.for_help_pages.each do |article| %>
                      <div class="article" id="article-<%= article.id %>">
                        <button aria-controls="<%= article.slug %>-content" class="card__title" data-url="<%= article.slug %>" id="<%= article.slug %>" aria-expanded="false">
                          <h2 class="section-title"><%= translated_attribute article.title %></h2>
                          <img src="<%= asset_pack_path('media/images/arrow-down-s-line.svg') %>" width="32" height="32" alt="" class="toggle-button" />
                        </button>

                        <div class="card__content" id="<%= article.slug %>-content"  aria-labelledby="<%= article.slug %>" role="region">
                          <div class="editor-content card__content_custom rich-text-display">
                            <%= quill_sanitize translated_attribute article.content %>
                          </div>

                          <%= render 'decidim/shared/gallery_attachments', model: article %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @orphan_pages.for_help_pages.any? %>
        <div class="row">
          <div class="column">
            <div class="topic" data-section-id="orphan" style="display: none;">

              <div class="topic__articles">
                <% @orphan_pages.for_help_pages.each do |article| %>
                  <div class="article" id="article-<%= article.id %>">
                    <button aria-controls="<%= article.slug %>-content" class="card__title" data-url="<%= article.slug %>" id="<%= article.slug %>" aria-expanded="false">
                      <h2 class="section-title"><%= translated_attribute article.title %></h2>
                      <img src="<%= asset_pack_path('media/images/arrow-down-s-line.svg') %>" width="32" height="32" alt="" class="toggle-button" />
                    </button>

                    <div class="card__content" id="<%= article.slug %>-content"  aria-labelledby="<%= article.slug %>" role="region">
                      <div class="editor-content card__content_custom rich-text-display">
                        <%= quill_sanitize translated_attribute article.content %>
                      </div>

                      <%= render 'decidim/shared/gallery_attachments', model: article %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>

<%= append_javascript_pack_tag "core_extended_pages" %>
<%= append_javascript_pack_tag "knowledge_base" %>

