<%# View for STATIC PAGES (not pages component) %>

<% add_decidim_meta_tags(
     title: translated_attribute(@page.title),
     description: translated_attribute(@page.content),
     url: page_url(@page)
   ) %>

<%
  edit_link(
    decidim_admin.edit_static_page_path(@page),
    :update,
    :static_page,
    static_page: @page
  )
%>

<%= render layout:"layouts/decidim/shared/layout_center", locals: { columns: 10 } do %>
  <% if @topic %> 
      <% unless @page.show_on_help_page? %>
        <%= render partial: "header", locals: {
          topic: translated_attribute(@topic.title),
          description: translated_attribute(@topic.description) 
        } %> 
      <% end %>

      <% if controller_name == 'pages' && @page.show_on_help_page? %>
        <div class="navigation-wrapper">
          <%= link_to :pages, class: "back-link" do %>
            <img src="<%= asset_pack_path('media/images/arrow-left-s-line.svg') %>" width="20" height="20" alt="" />
            <span>Powrót do Bazy Wiedzy</span>
          <% end %>
        </div>
      <% end %>

      <% if @pages.present? %>
        <div class="vertical-tabs">
          <%= render partial: "navigation", locals: { 
            page: @page, 
            pages: @pages 
          }  %>
          
          <%= render page_template(@page),
            page: @page,
            pages: @pages
          %>
        </div>
      <% else %>
        <%= render page_template(@page),
          page: @page,
          pages: @pages
        %>
      <% end %>
  <% else %>
    <%= render page_template(@page),
              title: translated_attribute(@page.title),
              description: nil,
              page: @page
    %>
  <% end %>
<% end %>
