<div class="form__wrapper">
  <div class="row column">
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="row column">
    <%= form.text_field :subtitle %>
  </div>

  <div class="row">
    <%= form.label :published %>
    <%= form.radio_button :published, false, label: t(".published_no") %>
    <%= form.radio_button :published, true, label: t(".published_yes") %>
  </div>

  <div class="row column">
    <%= form.number_field :weight %>
  </div>
</div>
