<% add_decidim_page_title(t("contact_info_groups.title", scope: "decidim.admin")) %>

<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t("contact_info_groups.title", scope: "decidim.admin") %>
      <%= link_to t("actions.add_contact_info_group", scope: "decidim.admin_extended.contact_info_positions"), new_contact_info_group_path, class: "button button__sm button__secondary expanded small new" %>
    </h1>
  </div>

  <fieldset class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th><%= t(".group_name") %></th>
          <th><%= t(".subtitle") %></th>
          <th><%= t(".published") %></th>
          <th><%= t(".created_at") %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% contact_info_groups.each do |contact_info_group| %>
          <td><%= contact_info_group.name %></td>
          <td><%= contact_info_group.subtitle.presence || "-" %></td>
          <td><%= contact_info_group.published.present? ? t(".published_yes") : t(".published_no") %></td>
          <td><%= l contact_info_group.created_at, format: :decidim_short_cut_zero %></td>
          <td class="table-list__actions">
            <%= icon_link_to "pencil-line",
                             [:edit, contact_info_group],
                             t("actions.edit_contact_info_group", scope: "decidim.admin_extended.contact_info_positions"),
                             class: "action-icon--edit",
                             method: :get %>
            <%= icon_link_to "delete-bin-line",
                             contact_info_group,
                             t("actions.destroy_contact_info_group", scope: "decidim.admin_extended.contact_info_positions"),
                             class: "action-icon--remove",
                             method: :delete,
                             data: { confirm: t("actions.confirm_destroy_contact_info_group", scope: "decidim.admin_extended.contact_info_positions") } %>
          </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>


</div>
