<div class="hidden">
  <%= invisible_captcha %>
  <%= form.hidden_field :locations %>
</div>

<% if @form.categories_select.any? %>
  <div class="field remark-field--category">
    <%= form.select :decidim_category_id,
          @form.categories.map{ |cat| ["<span style='background-color: #{cat.color};'>#{raw(cat.inline_svg(cat.file))}</span>#{translated_attribute(cat.name)}", cat.id]},
          { label: t('.wcag_category_label'), include_blank: t('.select_category'), required: false },
          { multiple: false, class: "remark-category-select-js", "data-class": "map-remarks__category-select", "data-placeholder": t('.select_category') } %>
  </div>
<% end %>

<div class="field remark-field--body">
  <%= form.label :body, t('activemodel.attributes.remark.body'), class: 'show-for-sr' %>
  <%= form.text_area(
        :body,
        id: 'add-remark',
        rows: 10,
        maxlength: form_object.max_characters,
        required: true,
        placeholder: t('activemodel.attributes.remark.body'),
        label: false,
        data: { remaining_characters: "#ask_question-remaining-characters" },
        aria: { describedby: "ask_question-remaining-characters" }
      ) %>
  <span id="ask_question-remaining-characters" class="remaining-character-count"></span>
</div>

<div class="field file-field remark-field--files position-relative">
  <%= form.file_field :files,
                      label: false,
                      class: "multifile hidden",
                      accept: FileFormValidator.accept_string_for(form.object.class, :files),
                      multiple: true %>

  <button type="button" class="remark-file-button attachment-button-js" data-target="#remark_files">Dodaj załącznik</button>
</div>

<% unless current_user %>
  <div class="field remark-field--signature">
    <%= form.label :signature, t('activemodel.attributes.remark.signature'), class: 'show-for-sr' %>
    <%= form.text_field :signature, label: false, required: true, placeholder: t('activemodel.attributes.remark.signature') %>
  </div>
<% end %>
