<div class="card__content update-remark" id="editable-remark-<%= remark.id %>">
  <%= decidim_form_for(form_object, method: :patch, remote: true) do |form| %>
    <% if form_object.categories_select.any? && @form.categories_select.length > 1 %>
      <div class="field remark-field--category">
        <%= form.select :decidim_category_id,
              form_object.categories.map{ |cat| ["<span style='background-color: #{cat.color};'>#{raw(cat.inline_svg(cat.file))}</span>#{translated_attribute(cat.name)}", cat.id]},
              { label: t('wcag_category_label', scope: 'decidim.consultation_map.remarks.form'), include_blank: false, required: false },
              { multiple: false, class: "remark-category-select-js", "data-class": "map-remarks__category-select", "data-placeholder": t('select_category', scope: 'decidim.consultation_map.remarks.form') } %>
      </div>
    <% end %>

    <div class="field remark-field--body">
      <%= form.label :body, t('activemodel.attributes.remark.body'), class: 'sr-only' %>
      <%= form.text_area(
            :body,
            id: 'add-remark',
            rows: 10,
            maxlength: form_object.max_characters,
            required: true,
            placeholder: t('activemodel.attributes.remark.body'),
            label: false,
            data: { remaining_characters: "#ask_question-remaining-characters-" + remark.id.to_s },
            aria: { describedby: "ask_question-remaining-characters-" + remark.id.to_s }
          ) %>
      <span id="ask_question-remaining-characters-<%= remark.id  %>" class="remaining-character-count keep-low"></span>
    </div>

    <% if remark.files.any? %>
      <ul class="space-y-2 mt-4">
        <% remark.files.each do |file| %>
          <% next unless file.present? %>
          <li class="flex items-center justify-between pb-1 custom-modal-item">
            <a href="<%= Rails.application.routes.url_helpers.rails_blob_path(file, only_path: true) %>" target="_blank" rel="noopener" class="custom-link flex-1 max-w-[700px] overflow-hidden whitespace-nowrap text-ellipsis underline text-link">
              <%= file.filename.to_s %>
            </a>

            <button type="button" class="flex-shrink-0 text-sm text-red-500 cursor-pointer remove-file-btn">
              Usuń
            </button>

            <%= check_box_tag 'remark[remove_files][]', file.id, false, class: "remove-file-checkbox !hidden", aria: { label: "Usuń #{file.filename}" } %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <div class="field file-field remark-field--files position-relative">
      <%= form.file_field :files,
                          label: false,
                          class: 'multifile hidden',
                          id: "remark_files_#{remark.id}",
                          aria: { label: 'Dodaj załącznik' },
                          accept: FileFormValidator.accept_string_for(form.object.class, :files),
                          multiple: true %>
      <button type="button" class="remark-file-button attachment-button-js" data-target="#remark_files_<%= remark.id %>">Dodaj załącznik</button>
    </div>

    <% unless current_user %>
      <div class="field remark-field--signature">
        <%= form.label :signature, t('activemodel.attributes.remark.signature'), class: 'sr-only' %>
        <%= form.text_field :signature, label: false, required: true, placeholder: t('activemodel.attributes.remark.signature') %>
      </div>
    <% end %>
 

    <% unless current_user %>
      <fieldset class="mt-4">
        <legend><%= t('.statistics_legend') %></legend>
        <div class="field remark-field--selects"> 
          <%= form.select :gender,
                          form_object.gender_options_for_public_post,
                          { include_blank: t("select_gender", scope: 'decidim.consultation_map.remarks.form'), label: false },
                          { multiple: false } %>  
          <%= form.select :age,
                          form_object.user_age_for_select,
                          { include_blank: t("select_age", scope: 'decidim.consultation_map.remarks.form'), label: false },
                          { multiple: false } %>   
          <%= form.select :district_id,
                          form_object.user_districts_for_select,
                          { include_blank: t("select_district", scope: 'decidim.consultation_map.remarks.form'), label: false },
                          { multiple: false } %>
        </div>
      </fieldset>
    <% end %>

    <hr class="border-[#F3F4F7] my-5" />

    <div class="remark-box__actions">
      <%= form.submit t(".save"), class: "button button__sm button__primary", data: { disable: true } %> 
    </div> 
  <% end %>
</div>
