<div class="card__content update-remark" id="editable-remark-<%= remark.id %>">
  <%= decidim_form_for(form_object, method: :patch, remote: true) do |form| %>

    <% if form_object.categories_select.any?  %>
      <div class="field">
        <%= form.select :decidim_category_id,
                        form_object.categories_select,
                        { label: t('wcag_category_label', scope: 'decidim.consultation_map.remarks.form'), include_blank: t("select_category", scope: 'decidim.consultation_map.remarks.form') },
                        { multiple: false } %>
      </div>
    <% end %>

     <div class="field remark-field--body">
      <%= form.text_area(
            :body,
            id: 'add+remark',
            rows: 4,
            maxlength: form_object.max_characters,
            required: true,
            placeholder: t('activemodel.attributes.remark.body'),
            label: false,
            data: { remaining_characters: "#ask_question-remaining-characters-" + remark.id.to_s },
            aria: { describedby: "ask_question-remaining-characters-" + remark.id.to_s }
          )  %>
      <span id="ask_question-remaining-characters-<%= remark.id  %>" class="remaining-character-count keep-low"></span>
    </div>
    
    <div class="field file-field remark-field--files position-relative">
      <%= form.file_field :images,
            label: false, 
            class: 'multifile hidden',
            multiple: true,
            id: "remark_images_" + remark.id.to_s %>


      <button type="button" class="remark-file-button attachment-button-js" data-target="#remark_images_<%= remark.id %>">Dodaj załącznik</button>
    </div> 
      
    <% unless current_user %>
      <div class="field remark-field--signature">
        <%= form.label :signature, t('activemodel.attributes.remark.signature'), class: 'show-for-sr' %>
        <%= form.text_field :signature, label: false, required: true, placeholder: t('activemodel.attributes.remark.signature') %>
      </div>
    <% end %>

    <% unless current_user %>
      <fieldset class="mt-sm">
        <legend id="email-legend"><%= t('.email_legend') %></legend>
        <div class="field remark-field--email">
          <%= form.email_field :email, placeholder: t("email_placeholder", scope: 'decidim.consultation_map.remarks.form'), label: false %>
        </div>
      </fieldset>

      <fieldset class="mt-sm">
        <legend><%= t('.statistics_legend') %></legend>
        <div class="remark-field--selects"> 
          <%= form.select :gender,
                          form_object.user_gender_for_select,
                          { include_blank: t("select_gender", scope: 'decidim.consultation_map.remarks.form'), label: false },
                          { multiple: false } %> 
          <%= form.select :age,
                          form_object.user_age_for_select,
                          { include_blank: t("select_age", scope: 'decidim.consultation_map.remarks.form'), label: false },
                          { multiple: false } %> 
          <%= form.select :district_id,
                          form_object.user_districts_for_select,
                          { include_blank: t("select_district", scope: 'decidim.consultation_map.remarks.form'), label: false },
                          { multiple: false } %> 
        </div> 
      </fieldset>
    <% end %>

    <div class="row actions">
      <div class='pull-right'>
        <%= form.submit t(".clear"), type: 'reset', class: "clear-link" %>
        <%= form.submit t(".save"), class: "button", data: { disable: true } %>
      </div>
    </div>
  <% end %>
</div>