<div id="new-remark-box" class="remark-box">
  <div class="card add-comment">
    <div class="card__header"> 
      <h2 id="new-remark-header" class="h3"><%= t(".title") %></h2>
    </div>

    <% if !current_participatory_space.users_action_allowed_for_unregister_users && !current_user %>
      <div class="card__content">
        <span>
          <%= t(".anonymous_user_message", sign_in_link: decidim.new_user_session_path, sign_up_link: decidim.new_user_registration_path).html_safe %>
        </span>
      </div>
    <% else %>
      <div class="card__content">
        <%= form_for(form_object, remote: true) do |form| %>
          <%= render "form", form: form, form_object: form_object %>
         
          <hr class="border-[#F3F4F7] my-3 md:my-5" />

          <div class="remark-box__actions">
            <% unless current_user %>
              <ul class='pull-left ul-reset ul-contents' role="list">
                <li>
                  <%= link_to "Zaloguj się", decidim.new_user_session_path, class: 'link' %>
                  <span> / </span>
                </li>

                <li><%= link_to "Zarejestruj się", decidim.new_user_registration_path, class: 'link' %></li>
              </ul>
            <% end %> 

            <button type="submit" class="button button__sm button__primary max-md:w-full" data-disable="true">
              Wyślij
              <%= show_svg("map-text-bubble.svg") %>
            </button>
          </div>  
        <% end %>
      </div>

      <% if decidim.page_path("terms-of-service").present? %>
        <div class="tos-footer">
          <%= t(".tos_agreement", link: link_to(t(".terms"), decidim.page_path("terms-of-service"))).html_safe %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
