<% add_decidim_page_title(translated_attribute(current_component.name)) if try(:current_component) %>
<% add_decidim_page_title(translated_attribute(current_participatory_space.title)) %>
<% add_decidim_meta_tags(
  # TODO: upgrade v025! poprawic lub usunac
  # image_url: current_participatory_space.banner_image.url,
  description: translated_attribute(current_participatory_space.short_description),
) %>

<%= render "layouts/decidim/application" do %>
  <%= render partial: "layouts/decidim/process_header" %>
  <%= cell "decidim/translation_bar", current_organization %>
  <div class="wrapper <%= current_participatory_space.area ? "area-color-#{current_participatory_space.decidim_area_id}" : '' %>">
    <% if try(:current_component) %>
      <h2 class="show-for-sr"><%= translated_attribute(current_component.name) %></h2>
    <% end %>

    <%= yield %>
  </div>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%# TODO: upgrade v025! poprawic lub usunac %>
<%# provide :meta_image_url, current_participatory_space.banner_image.url %>