<section class="extended home-hero home__section">
  <div class="home-hero__container columns"> 
    <div class="home-hero__text">
      <h1 class="home-hero__heading">
        <strong><%= translated_welcome_text %></strong><br />
        <%= addition_to_welcome_text %>
      </h1>

      <div class="home-hero__description ql-editor">
        <%= decidim_sanitize translated_attribute description %>
      </div>

      <% if hero_image_action_url.present? %>
        <a class="button home-hero__button" href="<%= hero_image_action_url %>">
          <%= hero_image_action_title %>
        </a>
      <% end %>
    </div>
    <div class="home-hero__image">
      <%= image_tag(background_image, alt: hero_image_alt) if background_image  %>
    </div>

    <%= consultation_decor %>
  </div>
</section>
