<div class="reveal flag-modal" id="<%= modal_id %>" data-reveal>
  <div class="reveal__header">
    <h1 class="reveal__title"><%= t("decidim.shared.flag_modal.title") %></h1>
    <button class="close-button" data-close aria-label="<%= t("decidim.shared.flag_modal.close") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% if model.reported_by?(current_user) || (!current_user && model.reports.any?) %>
    <p><%= t("decidim.shared.flag_modal.already_reported") %></p>
  <% else %>
    <% tos_page = Decidim::StaticPage.find_by(slug: 'terms-and-conditions') %>
    <fieldset>
      <legend><%= t("decidim.shared.flag_modal.description", link: decidim.page_path(tos_page)) %></legend>
      <%= decidim_form_for report_form, url: decidim.report_path(sgid: model.to_sgid.to_s), method: :post, html: { id: nil } do |f| %>
        <% [
            [:offensive, t("decidim.shared.flag_modal.offensive")],
            [:does_not_belong, t("decidim.shared.flag_modal.does_not_belong", organization_name: current_organization.name)],
            [:spam, t("decidim.shared.flag_modal.spam")]
          ].each do |el| %>
          <label>
            <input type='radio' name='report[reason]' value="<%= el[0] %>" <%= el[0] == :spam ? 'checked' : nil %>>
            <%= el[1] %>
          </label>
        <% end %>

        <label class="mt-s">
          <%= t('activemodel.attributes.report.details') %>
          <textarea rows="4" name="report[details]" id="report_details" maxlength="1000"></textarea>
        </label>

        <%= f.submit t("decidim.shared.flag_modal.report") %>
      <% end %>
    </fieldset>
  <% end %>
</div>
