// view used only for unregistered users
(function() {
  function initReplyPanels(context = document) {
      $(context).find('.button[data-controls^="panel-comment"]').each(function () {
        const $button = $(this);
        const panelId = $button.attr('data-controls');
        const $panel = $('#' + panelId);
        const $grid = $button.closest('.remarks__footer-grid');

        // Reset i przypięcie listenera
        $button.off('click.replyToggle');

        $panel.hide();
        $button.attr('aria-expanded', 'false');
        $button.find('svg:last').hide();
        $button.find('span:last').hide();

        $button.on('click.replyToggle', function () {
          const isExpanded = $button.attr('aria-expanded') === 'true';

          if (isExpanded) {
            $panel.slideUp(200);
            $grid.removeClass('reply-open');
          } else {
            $panel.slideDown(200);
            $grid.addClass('reply-open');
          }

          $button.attr('aria-expanded', String(!isExpanded));

          const $icons = $button.find('svg');
          const $texts = $button.find('span');

          if (!isExpanded) {
            $icons.first().hide();
            $texts.first().hide();
            $icons.last().show();
            $texts.last().show();
          } else {
            $icons.first().show();
            $texts.first().show();
            $icons.last().hide();
            $texts.last().hide();
          }
        });
      });
    }


  let remark_form = $('#new_remark_');

  remark_form.closest(".card").find(".tos-footer").hide();

  let new_remark_header = $('#new-remark-header');
  new_remark_header.replaceWith(`
    <h4 class="mt-4 h4 text-center"><%= t('decidim.remarks.remarks.full_edit.header').html_safe %></h4>
    <p class="mt-4 text-center"><%= t('decidim.remarks.remarks.full_edit.note').html_safe %></p>
  `);

  remark_form.replaceWith("<%== escape_javascript(render 'decidim/remarks/remarks/edit_form', form_object: @form, remark: created_remark) %>");

  const customRemarkWrapper = $('.custom-remark-wrapper');

  customRemarkWrapper.append(`
    <button
      class="close-button close-second-step-new-remark-button-js"
      data-close
      aria-label="Zamknij formularz z dodatkowymi danymi"
      type="button">
      <span aria-hidden="true">×</span>
    </button>
  `);

  $(document).off('click', '.close-second-step-new-remark-button-js').on('click', '.close-second-step-new-remark-button-js', function() {
    $('#new-remark-box').replaceWith("<%= escape_javascript(render 'decidim/remarks/remarks/new', form_object: new_remark_form) %>");

    // Odtwarzaj logikę inicjalizacji
    $('#new_remark_ .remark-field--body textarea').data(
      "remaining-characters-counter",
      new Decidim.InputCharacterCounter($('#new_remark_ .remark-field--body textarea'))
    );

    $("#new_remark_ input[type=file].multifile").not(".MultiFile-applied").MultiFile({
      max: 5,
      STRING: {
        remove: 'usuń',
        denied: 'Ten format pliku $ext jest niedozwolony.',
        file: '$file',
        selected: 'Wybrany plik: $file',
        duplicate: 'Ten plik już został wybrany:\n$file',
        toomuch: 'Łączny rozmiar plików przekracza limit ($size)',
        toomany: 'Niedozwolona liczba plików (maks: $max)',
        toobig: '$file ma za duży rozmiar (maks: $size)'
      },
    });

    $("#new_remark_ .attachment-button-js").not(".AttachmentButton-applied").click(function (e) {
      e.preventDefault();
      $(this).addClass("AttachmentButton-applied");
      var target_id = $(this).data("target");
      $(this).closest("form").find(target_id + " > input").last().click();
    });
  });
    var $remarks = $('#remarks');
    var $remarksCount = $('#remarks-count');
    // var $orderFilterInput = $('.order_filter');

    $remarks.html('<%= j(render partial: "remarks").strip.html_safe %>');
    initReplyPanels();
    $remarksCount.html('<%= t("decidim.remarks.remarks.index.remarks_count", count: remarks.count).html_safe %>');

    $('#remarks .comment-field--body textarea').each(function () {
      $(this).data("remaining-characters-counter", new Decidim.InputCharacterCounter($(this)));
    });

    $("#remarks input[type=file].multifile").not(".MultiFile-applied").MultiFile({
        max: 5,
        STRING: {
          remove: 'usuń',
          denied: 'Ten format pliku $ext jest niedozwolony.',
          file: '$file',
          selected: 'Wybrany plik: $file',
          duplicate: 'Ten plik już został wybrany:\n$file',
          toomuch: 'Łączny rozmiar plików przekracza limit ($size)',
          toomany: 'Niedozwolona liczba plików (maks: $max)',
          toobig: '$file ma za duży rozmiar (maks: $size)'
        },
      });

    $("#remarks .attachment-button-js").not(".AttachmentButton-applied").click(function (e) {
        e.preventDefault();

        $(this).addClass("AttachmentButton-applied");

        var target_id = $(this).data("target");
        $(this).closest("form").find(target_id + " > input")
            .last()
            .click();
    });

    $remarks.foundation();
    document.dispatchEvent(new CustomEvent("ajax:loaded", { detail: $remarks[0] }));

    $("[data-decidim-comments]").each(function (_i, el) {
      var $el = $(el);
      var comments = new Decidim.CommentsComponent($el, $el.data("decidim-comments"));
      comments.mountComponent();
      $(el).data("comments", comments);
    }); 
}());

