<main class="layout-1col cols-10 py-10"> 
  <section>
    <%= render partial: "decidim/shared/component_announcement" %>
    <%= render partial: 'decidim/shared/users_action_disallowed' %>
    <%= render partial: 'decidim/shared/component_settings_help_section', locals: {
          followable_resource: first_followable_remark,
          tooltip_content: t(".tooltip_content"),
          button_classes: "button__follow--remarks"
        } %>
  </section>

  <section class="remarks">
    <% if user_allowed_to_add_remark?(current_user) %>
      <%= render "new", form_object: @form %>
    <% end %>
      
    <%= render partial: "filters" %>

    <h2 class="show-for-sr">Opinie</h2>

    <span id="remarks-count" class="title-action__title" aria-live="polite" aria-atomic="true">
      <%= t(".remarks_count", count: remarks.count).html_safe %>
    </span> 
    
    <div id="remarks" class="remarks__list">
      <%= render "remarks" %>
    </div>
  </section>
</main>
