<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column">
      <%= form.text_field :name, disabled: true %>
    </div>
    <div class="row column">
      <%= form.text_field :subject %>
    </div>
    <div class="row column">
      <%= form.editor :body, rows: 3 %>
    </div>

    <div class="row column">
     <%= form.editor :footer, rows: 2 %>
     <p class="help-text">Jesli pole jest puste stopka bedzie domyślna<br>
      Dostępna zmienna: %{unsubscribe_link} w stopce, aby wyświetlić url linku do wypisywania sie z newslettera</p>
    </div>
    <div class="row column">
      <%= form.check_box :active, label: 'Aktywny' %>
      <p class="help-text">Nie ma wpływu na wysyłanie powiadomień systemowych np. przypomnienia hasła</p>
    </div>
    <div class="row column">
      <div class="flash flex-col " data-announcement="">
        <div class="flash__message">
          <b>Dostępne zmienne używane w temacie:</b>
          <ul>
            <% @form.permitted_helpers_for_topic(mail_template).each do |helper_name| %>
              <li>%{<%= helper_name %>} - <%= I18n.t(helper_name, scope: 'decidim.admin_extended.mail_templates.helpers') %></li>
            <% end %>
          </ul>
          <p>
            <i>Uwaga! Nie wszystkie zmienne są używane w każdym szablonie!</i>
          </p>
          <br>
          <b>Dostępne zmienne używane w treści wiadomości:</b>
          <ul>
            <% mail_template.helpers.each do |helper_name| %>
              <li>%{<%= helper_name %>} - <%= I18n.t(helper_name, scope: 'decidim.admin_extended.mail_templates.helpers') %></li>
            <% end %>
          </ul>
          <p>
            <i>Uwaga! Nie wszystkie zmienne są używane w każdym szablonie!</i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
