<% provide(:title, consultation_request.title) %>

<% add_decidim_meta_tags({
  title: consultation_request.title,
  description: consultation_request.body,
  url: decidim_consultation_requests.edit_admin_consultation_request_url(consultation_request)
}) %>

<%
  edit_link(
    decidim_consultation_requests.edit_admin_consultation_request_path(consultation_request),
    :update,
    :organization,
    organization: current_organization
  )
%>

<main class="layout-1col cols-10 py-10">
  <section class="flex justify-between items-center gap-2">
    <div class="m-bottom flex-shrink-0">
      <%= link_to consultation_requests_path, class: "back-link" do %>
        <img src="<%= asset_pack_path('media/images/arrow-left-s-line.svg') %>" width="20" height="20" alt="" />
        <span><%= t(".back") %></span>
      <% end %>
    </div>
    
    <div class="author-data__main flex-shrink-0 flex-1 flex justify-end">
      <div class="author author--inline">
        <span class="author__name">
          <span class="caps slim"><%= t("activemodel.attributes.consultation_request.applicant") %>:</span>
          <%= consultation_request.applicant %>
        </span>
      </div>
    </div>
  </section>

  <section class="mt-10">
    <div class="editor-content mb-4">
      <%= decidim_sanitize consultation_request.body %>
    </div>
  
    <%= render 'decidim/shared/gallery_attachments', model: consultation_request %> 
  </section>
</div>
