<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
      html {
          margin: 0;
          padding: 0; 
          <% if defined? is_preview %>
              padding: 60px;
              background-color: #eeeeee;
          <% end %> 
      }

      body {
          margin: 0;
          padding: 0;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow-wrap: break-word;
          word-break: break-word;

          <% if defined? is_preview %>
            width: 900px;
            margin: auto;
            padding: 60px;
            background-color: white;
          <% end %>
      }

      h1 {
          padding-top: 12px;
          font-size: 25px;
          text-align: center;
      }

      i {
          padding-bottom: 12px;
          font-size: 18px;
          text-align: center;
          display: block;
      }

      h2 {
          margin: 0;
          padding: 4px 0;
          font-size: 22px;
      }

      h3 {
          margin: 0;
          padding: 4px 0;
          font-size: 16px;
      }

      h3 span {
          font-weight: normal;
      }

      p {
          margin: 0;
          padding: 0;
      }

      .caption {
          font-size: 120%;
      }

      .center {
          text-align: center;
      }

      .text-right {
          text-align: right;
      }

      .header-container {
          position: relative;
          height: 129px;
      }

      .document-details {
          position: absolute;
          top: 0;
          right: 0;
          width: auto;
          font-weight: bold;
          font-size: 1rem;
          text-align: left;
          white-space: nowrap;
      }


      .section {
          padding-top: 16px;
      }

      .avoid {
          page-break-inside: avoid !important;
      }

      .break {
          page-break-before: always !important;
      } 

      .fill {
          position: relative;
          padding: 8px;
          min-height: 21px;
          border: 1px solid;
          font-size: 130%;
          overflow-wrap: break-word;
      }

      .additional-info {
          position: absolute;
          right: 0;
          bottom: 0;
          padding: 8px;
          border-top: 1px solid #000;
          border-left: 1px solid #000;
      }

      div.fill {
          margin: 4px 0;
      }

      .fill.price {
          margin-top: 8px;
          padding: 16px 0;
          text-align: center;
          font-size: 400%;
          line-height: 1;
      }

      .mh50 {
          min-height: 50px;
      }

      .mh100 {
          min-height: 100px;
      }

      .mh200 {
          min-height: 200px;
      }

      .mh250 {
          min-height: 250px;
      }

      .mw20 {
          min-width: 20%;
      }

      .mw40 {
          min-width: 40%;
      }

      .w5 {
          width: 5%;
      }

      .w10 {
          width: 10%;
      }

      .w15 {
          width: 15%;
      }

      .w125 {
          width: 12.5%;
      }

      .w20 {
          width: 20%;
      }

      .w25 {
          width: 25%;
      }

      .w30 {
          width: 30%;
      }

      .w40 {
          width: 40%;
      }

      .w50 {
          width: 50%;
      }

      .w60 {
          width: 60%;
      }

      .w70 {
          width: 70%;
      }

      .w75 {
          width: 75%;
      }

      .w90 {
          width: 90%;
      }

      .w95 {
          width: 95%;
      }

      .w100 {
          width: 100%;
      }

      .text-center {
          text-align: center;
      }

      .text-justify {
          text-align: justify;
      }

      .msg-info {
          text-align: center;
          color: #ff0000;
          font-size: 110%;
      }

      .msg-info.large {
          font-size: 130%;
      }

      .mt-2 {
          margin-top: 8px;
      } 

      table.collapse td {
          padding: 4px 0;
      }

      table td:first-child {
          padding-right: 8px;
      }

      table.collapse td.w125 {
          padding-left: 10px;
      }

      table.pt12 {
          padding-top: 12px;
      }

      table.pb12 {
          padding-bottom: 12px;
      }

      table.agreements {
          font-size: 120%;
      }

      table.agreements td {
          padding: 8px 0;
      }

      .checkbox {
          margin-bottom: 6px;
          line-height: 120%;
      }

      .checkbox.large {
          font-size: 140%;
          line-height: 100%;
      }

      .checkbox::before {
          margin-right: 8px;
          display: inline-block;
          content: "";
          width: 12px;
          height: 12px;
          border: #000 1px solid;
          position: relative;
          top: -2px;
          vertical-align: middle;
      }

      li.checkbox {
          margin-left: 20px;
          position: relative;
          font-size: 0.875rem;
      }

      li.checkbox::before {
          left: -32px;
          top: 2px;
          width: 8px;
          height: 8px;
          margin-right: 0px;
          position: absolute;
      }

      .checkbox.large::before {
          width: 20px;
          height: 20px;
      }

      .checkbox.checked::before {
          background: #000;
      }

      .signature {
          padding-top: 96px;
          text-align: right;
          font-size: 100%;
      }

      .signature span {
          color: #ff0000;
      }

      .postcode {
      }

      .postcode * {
          display: inline-block;
          vertical-align: middle;
      }

      .container {
          width: 94%;
          margin: auto;
      }

      .container-title {
          font-size: 25px;
          font-weight: bold;
          background-color: #d9d9d9;
          text-align: center;
          padding: 4px 12px 2px;
          line-height: 1;
      }

      .section-title {
          font-size: 21px;
          font-weight: bold;
          background-color: #d9d9d9;
          margin-bottom: 10px;
          text-transform: uppercase;
          padding: 6px 12px 2px;
          line-height: 1;
      }

      .content {
          font-size: 17px;
          line-height: 1.45;
      }

      .checkbox-group > * {
          display: block;
      }

      .checkbox-group.half > * {
          display: inline-block;
          width: 45%;
      }

      table {
          width: 98%;
          border-collapse: collapse;
          margin-bottom: 10px;
          margin-left: 10px;
          page-break-inside: avoid !important;
      }

      table,
      th,
      td {
          border: 1px solid black;
      }

      thead { 
          display: table-row-group; 
      }

      th,
      td {
          padding: 8px 6px;
          text-align: left;
          font-weight: normal;
          font-size: 12.4px;
          text-align: center;
          min-width: 35px;
      }

      th {
          vertical-align: middle;
      }

      td {
          padding: 8px;
          text-align: center;
          min-width: 50px;
          vertical-align: top;
      }

      .footnotes {
          font-size: 12px;
          margin-top: 0px;
          margin-bottom: 0px; 
      }

      hr {
          border: 0px;
          background-color: black;
          margin: 78px 0;
          height: 1px;
          width: 30%;
      }

      .value-line {
          page-break-inside: avoid !important;
          display: block;
          padding-bottom: 4px;
      }

      .key {
          width: 39%;
          display: inline-block;
          vertical-align: top;
      }

      .value {
          width: 60%;
          display: inline-block;
          text-align: justify;
          text-indent: 0px;
      }

      .multiline {
          break-word: break-all;
          white-space: pre-line;
          max-width: 94%;
          margin: 12px 10px 24px;
      }

      td > .mutliline {
          margin: 10px;
      }

      .underline {
          top: 5px;
          position: relative;
      }

      label {
          display: inline-block;
      }

      .textarea {
          width: 100%;
          padding: 12px;
          font-size: 14px;
          line-height: 1.45;
      }

      .inner-paragraph {
          margin: 12px 0 8px 12px;
      }

      ol {
          counter-reset: list;
          padding-left: 25px;
      }

      ol > li {
          list-style: none;
          position: relative;
          margin-top: 6px;
          text-align: justify;
      }

      ol > li:before {
          counter-increment: list;
          content: counter(list, decimal) ") ";
          position: absolute;
          font-size: 0.5rem;
          left: -1.4em;
      }

      .text-left {
          text-align: left;
      }

      .normalized-image {
          width: 100%;
          height: 1150px !important;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: top center;
      }
  </style> 
</head>
<body>
<div class="container">
  <% if study_note.persisted? %>
    <div class="header-container">
      <% if study_note.signum_barcode.present? %>
        <div>
          <h3>Nr kancelaryjny: <%= study_note.signum_nr_kancelaryjny %></h3>
          <br>
          <svg id="barcode"></svg>
          <br>
          <br>
        </div>
      <% end %>

      <div class="document-details">
        <p>ID zgłoszenia: <%= study_note.id %></p>
        <p>Data wpływu: <%= l(study_note.created_at, format: :decidim_short_cut_zero) %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="container-title">Pismo dotyczące aktu planowania przestrzennego</div>
<div class="section avoid">
  <div class="section-title">1. ORGAN, DO KTÓREGO JEST SKŁADANE PISMO</div>
  <div class="content">
    Nazwa:
    <span class="value">Prezydent m.st. Warszawy</span>
  </div>
</div>
<div class="section avoid">
  <div class="section-title">2. RODZAJ PISMA<sup>1)</sup></div>
  <div class="content checkbox-group half">
    <label class="checkbox "> 2.1. wniosek do projektu aktu</label>
    <label class="checkbox checked"> 2.2. uwaga do konsultowanego projektu aktu<sup>2)</sup></label>
    <label class="checkbox "> 2.3. wniosek o zmianę aktu<sup>3)</sup></label>
    <label class="checkbox"> 2.4. wniosek o sporządzenie aktu<sup>3)</sup></label>
  </div>
</div>
<div class="section avoid">
  <div class="section-title">3. RODZAJ AKTU PLANOWANIA PRZESTRZENNEGO<sup>1)</sup></div>
  <div class="content checkbox-group">
    <label class="checkbox checked"> 3.1. plan ogólny gminy</label>
    <label class="checkbox"> 3.2. miejscowy plan zagospodarowania przestrzennego, w tym zintegrowany plan
      inwestycyjny lub miejscowy plan rewitalizacji</label>
    <label class="checkbox"> 3.3. uchwała ustalająca zasady i warunki sytuowania obiektów małej architektury,
      tablic reklamowych i urządzeń reklamowych oraz ogrodzeń, ich gabaryty, standardy jakościowe oraz rodzaje
      materiałów budowlanych, z jakich mogą być wykonane</label>
    <label class="checkbox"> 3.4. audyt krajobrazowy</label>
    <label class="checkbox"> 3.5. plan zagospodarowania przestrzennego województwa</label>
  </div>
</div>
<div class="section avoid">
  <div class="section-title">4. DANE SKŁADAJĄCEGO PISMO<sup>4)</sup></div>
  <% full_name_or_name = study_note.submitter_data_role.to_s == Decidim::StudyNotes::StudyNote::INDIVIDUAL ? "#{study_note.submitter_data_first_name} #{study_note.submitter_data_last_name}" : study_note.submitter_data_org_name %>
  <div class="content">
    <div class="value-line">
      <span class="key">Imię i nazwisko lub nazwa:</span>
      <span class="value"><%= full_name_or_name %></span>
    </div>
    <div class="value-line">
      <span class="key">Kraj: </span>
      <span class="value">
        <%= study_note.submitter_data_country %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Województwo: </span>
      <span class="value">
        <%= study_note.submitter_data_voivodeship %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Powiat: </span>
      <span class="value">
        <%= study_note.submitter_data_county %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Gmina: </span>
      <span class="value">
        <%= study_note.submitter_data_community %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Ulica: </span>
      <span class="value">
        <%= study_note.submitter_data_street %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Nr domu: </span>
      <span class="value">
        <%= study_note.submitter_data_street_number %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Nr lokalu: </span>
      <span class="value">
        <%= study_note.submitter_data_flat_number %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Miejscowość: </span>
      <span class="value">
        <%= study_note.submitter_data_city %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Kod pocztowy: </span>
      <span class="value">
        <%= study_note.submitter_data_zip_code %>
      </span>
    </div>
    <div class="value-line">
      E-mail (w przypadku gdy składający pismo posiada adres e-mail):
      <span class="value">
        <%= study_note.submitter_data_email %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Nr tel. (nieobowiązkowo):</span>
      <span class="value">
        <%= study_note.submitter_data_phone_number %>
      </span>
    </div>
    <div class="value-line">
      Adres skrytki ePUAP lub adres do doręczeń elektronicznych<sup>5)</sup>:
      <span class="value">
        <%= study_note.submitter_data_epuap_delivery_address %>
      </span>
    </div>
    4.1. Czy składający pismo jest właścicielem lub użytkownikiem wieczystym nieruchomości objętej wnioskiem lub
    uwagą?<br>
    <label class="checkbox w10 <%= " checked" if study_note.perpetual_owner_of_the_property %>"> tak</label>
    <label class="checkbox w10 <%= " checked" if !study_note.perpetual_owner_of_the_property %>"> nie</label>
  </div>
</div>
<div class="section avoid">
  <div class="section-title">5. ADRES DO KORESPONDENCJI SKŁADAJĄCEGO PISMO<sup>4)</sup></div>
  <div class="content">
    (Nieobowiązkowo)
    <div class="value-line">
      <span class="key">Kraj:</span>
      <span class="value">
        <%= study_note.mailing_address_data_country %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Województwo:</span>
      <span class="value">
        <%= study_note.mailing_address_data_voivodeship %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Powiat:</span>
      <span class="value">
        <%= study_note.mailing_address_data_county %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Gmina:</span>
      <span class="value">
        <%= study_note.mailing_address_data_community %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Ulica: </span>
      <span class="value">
        <%= study_note.mailing_address_data_street %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Nr domu: </span>
      <span class="value">
        <%= study_note.mailing_address_data_street_number %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Nr lokalu: </span>
      <span class="value">
        <%= study_note.mailing_address_data_flat_number %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Miejscowość:</span>
      <span class="value">
        <%= study_note.mailing_address_data_city %>
      </span>
    </div>
    <div class="value-line">
      <span class="key">Kod pocztowy:</span>
      <span class="value">
        <%= study_note.mailing_address_data_zip_code %>
      </span>
    </div>
  </div>
  <div class="section">
    <div class="section-title">6. DANE PEŁNOMOCNIKA<sup>4)</sup></div>
    <div class="content">
      (Nieobowiązkowo) <br>
      <label class="checkbox w30 <%= " checked" if study_note.attorney_data_role == 0 %>">
        pełnomocnik</label>
      <label class="checkbox w30 <%= " checked" if study_note.attorney_data_role == 1 %>"> pełnomocnik do
        doręczeń</label> <br>
      <div class="value-line">
        <span class="key">Imię i nazwisko lub nazwa: </span>
        <span class="value">
          <%= "#{study_note.attorney_data_first_name} #{study_note.attorney_data_last_name}" %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Kraj: </span>
        <span class="value">
          <%= study_note.attorney_data_country %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Województwo:</span>
        <span class="value">
          <%= study_note.attorney_data_voivodeship %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Powiat:</span>
        <span class="value">
          <%= study_note.attorney_data_county %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Gmina:</span>
        <span class="value">
          <%= study_note.attorney_data_community %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Ulica: </span>
        <span class="value">
          <%= study_note.attorney_data_street %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Nr domu: </span>
        <span class="value">
          <%= study_note.attorney_data_street_number %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Nr lokalu:</span>
        <span class="value">
          <%= study_note.attorney_data_flat_number %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Miejscowość:</span>
        <span class="value">
          <%= study_note.attorney_data_city %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Kod pocztowy:</span>
        <span class="value">
          <%= study_note.attorney_data_zip_code %>
        </span>
      </div>
      <div class="value-line">
        E-mail (w przypadku gdy składający pismo posiada adres e-mail):
        <span class="value">
          <%= study_note.attorney_data_email %>
        </span>
      </div>
      <div class="value-line">
        <span class="key">Nr tel. (nieobowiązkowo):</span>
        <span class="value">
          <%= study_note.attorney_data_phone_number %>
        </span>
      </div>
      <div class="value-line">
        Adres skrytki ePUAP lub adres do doręczeń elektronicznych<sup>5)</sup>:
        <span class="value">
          <%= study_note.attorney_data_epuap_delivery_address %>
        </span>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-title">7. TREŚĆ PISMA</div>
    <div class="content">
      7.1. Treść<sup>6)</sup>
      <div class="multiline"><%= study_note.request_body.present? ? study_note.request_body : "Wnoszę o uwzględnienie poniższej uwagi." %></div>
      7.2. (Nieobowiązkowo). W przypadku wypełnienia, należy uzupełnić każdą z kolumn tabeli.
      <br>
      <p class="inner-paragraph">Szczegółowe informacje dotyczące treści pisma w odniesieniu do działek
        ewidencyjnych:
      </p>
      <table>
        <thead>
        <tr>
          <th>Lp.</th>
          <th class="w15">7.2.1. Nazwa<br> aktu planowania przestrzennego</th>
          <th class="w15">7.2.2.<br> Identyfikator<br> działki lub<br> działek<br> ewidencyjnych</th>
          <th class="w15">7.2.3. Czy teren<br> objęty pismem<br> obejmuje całość<br> działki lub działek<br>
            ewidencyjnych<sup>7)</sup>
          </th>
          <th class="w50">7.2.4. Treść<sup>6)</sup></th>
        </tr>
        </thead>
        <tbody>

        <% if study_note.detailed_notes.present? && study_note.detailed_notes.length > 0 %>
          <% JSON.parse(study_note.detailed_notes).each_with_index do |detailed_note, index| %>
            <tr>
              <td>
                <%= index + 1 %>
              </td>
              <td>Plan ogólny gminy</td>
              <td>
                <%= detailed_note["parcel_ids"] %> 
              </td>
              <td>
                <label class="checkbox mt-2 w100 <%= " checked" if detailed_note["is_record_area_included"] == "true" %>">
                  tak</label>
                <label class="checkbox w100 <%= " checked" if detailed_note["is_record_area_included"] == "false" %>">
                  nie</label>
              </td>
              <td class="text-left">
                <ul>
                  <% if detailed_note["area_parameters"] == "true" %>
                    <% if detailed_note["max_height_intensity"] %>
                      <li>Wnoszę o maksymalną nadziemną intensywność
                        zabudowy: <%= detailed_note["max_height_intensity"] %></li>
                    <% end %>
                  <% end %>

                  <% if detailed_note["infill_development"] == "true" %>
                    <li><%= detailed_note["infill_development_include"] == "true" ? "Proszę objąć teren obszarem uzupełnienia zabudowy" : "Proszę wyłączyć teren z obszaru uzupełnienia zabudowy" %></li>
                  <% end %>

                  <% if detailed_note["inner_city_development"] == "true" %>
                    <li><%= detailed_note["inner_city_development_include"] == "true" ? "Proszę objąć teren obszarem zabudowy śródmiejskiej" : "Proszę wyłączyć teren z obszaru zabudowy śródmiejskiej" %></li>
                  <% end %>

                  <% if detailed_note["detailed_notes_social_infrastructure_accessibility"] == "true" && detailed_note["social_infrastructure_accessibility_body"].present? %>
                    <li><%= detailed_note["social_infrastructure_accessibility_body"] %></li>
                  <% end %>
                </ul>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
          </tr>
        <% end %>
        </tbody>
      </table>
      <br>
      7.3. (Nieobowiązkowo). W przypadku wypełnienia, należy uzupełnić każdą z kolumn tabeli.
      <br>
      <p class="inner-paragraph">Szczegółowe informacje dotyczące działek ewidencyjnych oraz niektórych parametrów –
        w przypadku zaznaczenia w pkt 2: wniosku do projektu aktu (pkt 2.1), uwagi do konsultowanego projektu aktu
        (pkt 2.2) lub wniosku o zmianę aktu (pkt 2.3) oraz w pkt 3: planu ogólnego gminy (pkt 3.1) lub miejscowego
        planu zagospodarowania przestrzennego, w tym zintegrowanego planu inwestycyjnego lub miejscowego planu
        rewitalizacji (pkt 3.2):
      </p>
      <table>
        <thead>
        <tr>
          <th>Lp.</th>
          <th class="w15">7.3.1. Nazwa<br> planu ogólnego<br> gminy lub<br> miejscowego<br> planu<br>
            zagospodarowania<br> przestrzennego
          </th>
          <th class="w15">7.3.2.<br> Identyfikator<br> działki lub działek<br> ewidencyjnych</th>
          <th class="w15">7.3.3. Czy teren<br> objęty pismem<br> obejmuje całość<br> działki lub<br> działek<br>
            ewidencyjnych<sup>7)</sup>
          </th>
          <th class="w15">7.3.4. Nazwa lub<br> nazwy klasy przeznaczenia<br> terenu (albo<br> symbol lub<br>
            symbole klasy<br> przeznaczenia<br> terenu)<sup>8)</sup>
          </th>
          <th class="w15">7.3.5.<br> Maksymalny<br> udział<br> powierzchni<br> zabudowy [%]</th>
          <th class="w15">7.3.6.<br> Maksymalna<br> wysokość<br> zabudowy [m]</th>
          <th class="w15">7.3.7.<br> Minimalny<br> udział<br> powierzchni<br> biologicznie<br> czynnej [%]</th>
        </tr>
        </thead>
        <tbody>

        <% if study_note.detailed_notes.present? && study_note.detailed_notes.length > 0 %>
          <% JSON.parse(study_note.detailed_notes).each_with_index do |detailed_note, index| %>
            <tr>
              <td>
                <%= index + 1 %>
              </td>
              <td>Plan ogólny m.st. Warszawy</td>
              <td>
                <%= detailed_note["parcel_ids"] %>
              </td>
              <td>
                <label class="checkbox mt-2 w100 <%= " checked" if detailed_note["is_record_area_included"] == "true" %>">
                  tak</label>
                <label class="checkbox w100 <%= " checked" if detailed_note["is_record_area_included"] == "false" %>">
                  nie</label>
              </td>
              <td>
                <% if detailed_note["functional_profile"] == "true" %>
                  <%= detailed_note["functional_profile_area_id"] %> – <%= t("activemodel.attributes.study_note.functional_profile_areas." + detailed_note["functional_profile_area_id"]) %>; profil
                  dodatkowy: <%= detailed_note["functional_profile_area_classes"].join(", ") %>
                <% end %>
              </td>
              <td>
                <%= detailed_note["max_percent_area"] %>
              </td>
              <td>
                <%= detailed_note["max_height_building"] %>
              </td>
              <td>
                <%= detailed_note["min_percent_bio"] %>
              </td>
            </tr>
          <% end %> 
        <% else %>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section avoid">
    <div class="section-title">8. OŚWIADCZENIE W SPRAWIE KORESPONDENCJI ELEKTRONICZNEJ</div>
    <div class="content">
      <div class="text-center">
        <label class="checkbox w25 <%= " checked" if study_note.declaration_remote_correspondence %>">
          Wyrażam zgodę</label>
        <label class="checkbox w25 <%= " checked" if !study_note.declaration_remote_correspondence %>">
          Nie wyrażam zgody</label>
      </div>
      <p class="text-justify">na doręczanie korespondencji w niniejszej sprawie za pomocą środków komunikacji
        elektronicznej w&nbsp;rozumieniu art. 2 pkt 5 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą
        elektroniczną (Dz. U. z&nbsp;2020&nbsp;r.&nbsp;poz.&nbsp;344).
      </p>
    </div>
  </div>
  <div class="section avoid">
    <div class="section-title">9. ZAŁĄCZNIKI</div>
    <ul class="content checkbox-group">
      <li class="checkbox small
              <%= " checked" if file_present?(study_note.attorney_power_represent_applicant_or_for_service) %>">
        Pełnomocnictwo do reprezentowania składającego pismo lub pełnomocnictwo do doręczeń
        (zgodnie z ustawą z dnia 16 listopada 2006 r. o opłacie skarbowej (Dz. U. z 2023 r. poz. 2111)) –
        jeżeli składający pismo działa przez pełnomocnika.
      </li>
      <li class="checkbox small
              <%= " checked" if file_present?(study_note.attorney_power_payment_stamp_duty_confirm) %>">
        Potwierdzenie uiszczenia opłaty skarbowej od pełnomocnictwa –
        jeżeli obowiązek uiszczenia takiej opłaty wynika z ustawy z dnia 16 listopada 2006 r. o opłacie skarbowej.
      </li>
      <li class="checkbox small
              <%= " checked" if study_note.parcel_site_boundary.present? %>">
        (Nieobowiązkowo). Określenie granic terenu w formie graficznej w przypadku wskazania terenu objętego pismem
        jako części działki ewidencyjnej lub działek ewidencyjnych.
      </li>
      <li class="checkbox small <%= " checked" if study_note.files&.any? %>">
        (Nieobowiązkowo). Inne załączniki – w przypadku zaznaczenia pola należy podać nazwy
        załączników.<sup>9)</sup><br>
        <span class="underline"><span class="value">
          <%= [
                study_note.files_filename_one,
                study_note.files_filename_two
              ].join(", ") if study_note.files&.any? %></span>……………………………………………………………………………………………………………….</span>
      </li>
    </ul>
  </div>
  <div class="section avoid">
    <div class="section-title">10. PODPIS SKŁADAJĄCEGO PISMO (PEŁNOMOCNIKA) I DATA PODPISU</div>
    <div class="content">
      <small>Podpis powinien być czytelny. Podpis i datę podpisu umieszcza się w przypadku składania pisma
        w postaci papierowej.</small>
      <br>
      <br>
      <br>
      Podpis: <span
      class="underline">…………………………………………………………………</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data:
      <span class="underline">……………………………</span>
    </div>
  </div>
  <hr>
  <ol class="footnotes">
    <li>Można zaznaczyć więcej niż jedno pole. W ramach jednego pisma można wybrać tylko te akty, w przypadku
      których pismo będzie wysyłane do tego samego organu wskazanego w pkt 1. W przypadku gdy treść wniosku lub
      uwagi związana jest z dokumentem powiązanym z aktem planowania przestrzennego (np. sporządzanej w toku
      procedowania aktu, w ramach strategicznej oceny oddziaływania na środowisko, prognozy oddziaływania na
      środowisko), należy w pkt 3 wybrać rodzaj aktu planowania przestrzennego, którego ten dokument dotyczy, po
      czym wprowadzić treść wniosku lub uwagi w pkt 7.1 lub 7.2.
    </li>
    <li>Nie dotyczy planu zagospodarowania przestrzennego województwa.</li>
    <li>Nie dotyczy planu zagospodarowania przestrzennego województwa i audytu krajobrazowego.</li>
    <li>W pkt 4 należy podać adres zamieszkania albo siedziby składającego pismo. W przypadku wypełnienia pkt 5
      podaje się adres do korespondencji składającego pismo, jeżeli jest inny niż adres podany w pkt 4. W przypadku
      wypełnienia pkt 6 podaje się adres zamieszkania albo siedziby pełnomocnika. W przypadku większej liczby
      składających pismo lub pełnomocników dane kolejnych składających pismo lub pełnomocników dodaje się w
      formularzu albo zamieszcza na osobnych stronach i dołącza do formularza.
    </li>
    <li>Adres skrytki ePUAP lub adres do doręczeń elektronicznych wskazuje się w przypadku wyrażenia zgody na
      doręczanie korespondencji za pomocą środków komunikacji elektronicznej, z zastrzeżeniem przypadków, w których
      organ, zgodnie z przepisami ustawy z dnia 18 listopada 2020 r. o doręczeniach elektronicznych (Dz. U. z 2023
      r. poz. 285, z późn. zm.), ma obowiązek doręczenia korespondencji na adres do doręczeń elektronicznych.
    </li>
    <li>Maksymalna liczba znaków w pkt 7.1 wynosi 1000, natomiast w przypadku pkt 7.2.4 wartość ta odnosi się do
      pojedynczego wiersza. W przypadku potrzeby dodatkowego uzasadnienia, które wykracza poza wskazany limit
      znaków, uzasadnienie zamieszcza się na osobnych stronach i dołącza do formularza. W przypadku większej liczby
      wierszy w pkt 7.2.4 kolejne wiersze dodaje się w formularzu albo zamieszcza na osobnych stronach i dołącza do
      formularza.
    </li>
    <li>W przypadku zaznaczenia pola „nie” (wskazania terenu objętego pismem jako części działki ewidencyjnej lub
      działek ewidencyjnych) można dodać załącznik z określeniem granic terenu w formie graficznej.
    </li>
    <li>Podaje się nazwę lub symbol klasy przeznaczenia terenu zgodnie ze standardami określonymi w przepisach
      wykonawczych wydanych na podstawie art. 16 ust. 2 ustawy z dnia 27 marca 2003 r. o planowaniu i
      zagospodarowaniu przestrzennym (Dz. U. z 2023 r. poz. 977, z późn. zm.).
    </li>
    <li>W przypadku dołączenia do pisma załączników zawierających dane osobowe, inne niż wymienione w pkt 4, 5 i 6,
      załączniki te należy zanonimizować, tj. ukryć dane osobowe.
    </li>
  </ol>
</div>

<% if local_assigns[:normalized] %>
  <div class="container">
    <% if file_present?(study_note.attorney_power_represent_applicant_or_for_service) %>
      <div class="section break">
        <h4>Pełnomocnictwo do reprezentowania składającego pismo lub pełnomocnictwo do doręczeń</h4>
        <h5><%= study_note.attorney_power_represent_applicant_or_for_service.filename %></h5>
        <% if study_note.attorney_power_represent_applicant_or_for_service.image? %>
          <div class="normalized-image" style="background-image: url(<%= file_url(study_note.attorney_power_represent_applicant_or_for_service) %>);"></div>
        <% else %>
          <% study_note.attorney_power_represent_applicant_or_for_service_img.each do |img| %>
            <div class="normalized-image" style="background-image: url(<%= file_url(img) %>);"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if file_present?(study_note.attorney_power_payment_stamp_duty_confirm) %>
      <div class="section break">
        <h4>Potwierdzenie uiszczenia opłaty skarbowej od pełnomocnictwa</h4>
        <h5><%= study_note.attorney_power_payment_stamp_duty_confirm.filename %></h5>
        <% if study_note.attorney_power_payment_stamp_duty_confirm.image? %>
          <div class="normalized-image" style="background-image: url(<%= file_url(study_note.attorney_power_payment_stamp_duty_confirm) %>);"></div>
        <% else %>
          <% study_note.attorney_power_payment_stamp_duty_confirm_img.each do |img| %>
            <div class="normalized-image" style="background-image: url(<%= file_url(img) %>);"></div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if study_note.parcel_site_boundary.any? %>
      <%
        filtered_detailed_notes = JSON.parse(study_note.detailed_notes).select do |detailed_note|
          detailed_note["is_parcel_site_boundary_included"] == "true"
        end
      %>

      <% study_note.parcel_site_boundary.each_with_index do |file, index| %>
        <% if file.image? %>
          <div class="section break">
            <h4>Określenie granic terenu w formie graficznej w przypadku wskazania terenu objętego pismem jako części
              działki ewidencyjnej lub działek ewidencyjnych - teren <%= filtered_detailed_notes[index]["index"].to_i + 1 %></h4>
            <h5><%= file.filename %></h5>
            <div class="normalized-image" style="background-image: url(<%= file_url(file) %>);"></div>
          </div>
        <% end %>
      <% end %>
      <% if study_note.parcel_site_boundary_img.any? %>
      <% study_note.parcel_site_boundary_img.each_with_index do |file, index| %>
          <div class="section break">
            <h4>Określenie granic terenu w formie graficznej w przypadku wskazania terenu objętego pismem jako części
              działki ewidencyjnej lub działek ewidencyjnych</h4>
            <h5><%= file.filename %></h5>
            <div class="normalized-image" style="background-image: url(<%= file_url(file) %>);"></div>
          </div>
      <% end %>
      <% end %>
    <% end %>

    <% if study_note.files.any? %>
      <% study_note.files.each do |file, index| %>
        <% if file.image? %>
          <div class="section break" style="max-height: 100%; page-break-inside: avoid;">
            <h4><%= (index == 0 ? study_note.files_filename_one : study_note.files_filename_two) || "Brak" %></h4>
            <h5><%= file.filename %></h5>
            <div class="normalized-image" style="background-image: url(<%= file_url(file) %>);"></div>
          </div>
        <% end %>
      <% end %>
      <% if study_note.files_img.any? %>
      <% study_note.files_img.each do |file, index| %>
          <div class="section break" style="max-height: 100%; page-break-inside: avoid;">
            <h4><%= (index == 0 ? study_note.files_filename_one : study_note.files_filename_two) || "Brak" %></h4>
            <h5><%= file.filename %></h5>
            <div class="normalized-image" style="background-image: url(<%= file_url(file) %>);"></div>
          </div>
      <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if study_note.persisted? && study_note.signum_barcode.present? %>
  <script type="text/javascript">
    /*! JsBarcode v3.11.5 | (c) Johan Lindell | MIT license */
    !function(t){var e={};function n(r){if(e[r])return e[r].exports;var o=e[r]={i:r,l:!1,exports:{}};return t[r].call(o.exports,o,o.exports,n),o.l=!0,o.exports}n.m=t,n.c=e,n.d=function(t,e,r){n.o(t,e)||Object.defineProperty(t,e,{enumerable:!0,get:r})},n.r=function(t){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(t,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(t,"__esModule",{value:!0})},n.t=function(t,e){if(1&e&&(t=n(t)),8&e)return t;if(4&e&&"object"==typeof t&&t&&t.__esModule)return t;var r=Object.create(null);if(n.r(r),Object.defineProperty(r,"default",{enumerable:!0,value:t}),2&e&&"string"!=typeof t)for(var o in t)n.d(r,o,function(e){return t[e]}.bind(null,o));return r},n.n=function(t){var e=t&&t.__esModule?function(){return t.default}:function(){return t};return n.d(e,"a",e),e},n.o=function(t,e){return Object.prototype.hasOwnProperty.call(t,e)},n.p="",n(n.s=7)}([function(t,e,n){"use strict";var r;function o(t,e,n){return e in t?Object.defineProperty(t,e,{value:n,enumerable:!0,configurable:!0,writable:!0}):t[e]=n,t}Object.defineProperty(e,"__esModule",{value:!0});var i=e.SET_A=0,a=e.SET_B=1,u=e.SET_C=2,s=(e.SHIFT=98,e.START_A=103),f=e.START_B=104,c=e.START_C=105;e.MODULO=103,e.STOP=106,e.FNC1=207,e.SET_BY_CODE=(o(r={},s,i),o(r,f,a),o(r,c,u),r),e.SWAP={101:i,100:a,99:u},e.A_START_CHAR=String.fromCharCode(208),e.B_START_CHAR=String.fromCharCode(209),e.C_START_CHAR=String.fromCharCode(210),e.A_CHARS="[\0-_È-Ï]",e.B_CHARS="[ -È-Ï]",e.C_CHARS="(Ï*[0-9]{2}Ï*)",e.BARS=[11011001100,11001101100,11001100110,10010011e3,10010001100,10001001100,10011001e3,10011000100,10001100100,11001001e3,11001000100,11000100100,10110011100,10011011100,10011001110,10111001100,10011101100,10011100110,11001110010,11001011100,11001001110,11011100100,11001110100,11101101110,11101001100,11100101100,11100100110,11101100100,11100110100,11100110010,11011011e3,11011000110,11000110110,10100011e3,10001011e3,10001000110,10110001e3,10001101e3,10001100010,11010001e3,11000101e3,11000100010,10110111e3,10110001110,10001101110,10111011e3,10111000110,10001110110,11101110110,11010001110,11000101110,11011101e3,11011100010,11011101110,11101011e3,11101000110,11100010110,11101101e3,11101100010,11100011010,11101111010,11001000010,11110001010,1010011e4,10100001100,1001011e4,10010000110,10000101100,10000100110,1011001e4,10110000100,1001101e4,10011000010,10000110100,10000110010,11000010010,1100101e4,11110111010,11000010100,10001111010,10100111100,10010111100,10010011110,10111100100,10011110100,10011110010,11110100100,11110010100,11110010010,11011011110,11011110110,11110110110,10101111e3,10100011110,10001011110,10111101e3,10111100010,11110101e3,11110100010,10111011110,10111101110,11101011110,11110101110,11010000100,1101001e4,11010011100,1100011101011]},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r,o=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}(),i=n(11),a=(r=i)&&r.__esModule?r:{default:r},u=n(0);var s=function(t){function e(t,n){!function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,e);var r=function(t,e){if(!t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return!e||"object"!=typeof e&&"function"!=typeof e?t:e}(this,(e.__proto__||Object.getPrototypeOf(e)).call(this,t.substring(1),n));return r.bytes=t.split("").map((function(t){return t.charCodeAt(0)})),r}return function(t,e){if("function"!=typeof e&&null!==e)throw new TypeError("Super expression must either be null or a function, not "+typeof e);t.prototype=Object.create(e&&e.prototype,{constructor:{value:t,enumerable:!1,writable:!0,configurable:!0}}),e&&(Object.setPrototypeOf?Object.setPrototypeOf(t,e):t.__proto__=e)}(e,t),o(e,[{key:"valid",value:function(){return/^[\x00-\x7F\xC8-\xD3]+$/.test(this.data)}},{key:"encode",value:function(){var t=this.bytes,n=t.shift()-105,r=u.SET_BY_CODE[n];if(void 0===r)throw new RangeError("The encoding does not start with a start character.");!0===this.shouldEncodeAsEan128()&&t.unshift(u.FNC1);var o=e.next(t,1,r);return{text:this.text===this.data?this.text.replace(/[^\x20-\x7E]/g,""):this.text,data:e.getBar(n)+o.result+e.getBar((o.checksum+n)%u.MODULO)+e.getBar(u.STOP)}}},{key:"shouldEncodeAsEan128",value:function(){var t=this.options.ean128||!1;return"string"==typeof t&&(t="true"===t.toLowerCase()),t}}],[{key:"getBar",value:function(t){return u.BARS[t]?u.BARS[t].toString():""}},{key:"correctIndex",value:function(t,e){if(e===u.SET_A){var n=t.shift();return n<32?n+64:n-32}return e===u.SET_B?t.shift()-32:10*(t.shift()-48)+t.shift()-48}},{key:"next",value:function(t,n,r){if(!t.length)return{result:"",checksum:0};var o=void 0,i=void 0;if(t[0]>=200){i=t.shift()-105;var a=u.SWAP[i];void 0!==a?o=e.next(t,n+1,a):(r!==u.SET_A&&r!==u.SET_B||i!==u.SHIFT||(t[0]=r===u.SET_A?t[0]>95?t[0]-96:t[0]:t[0]<32?t[0]+96:t[0]),o=e.next(t,n+1,r))}else i=e.correctIndex(t,r),o=e.next(t,n+1,r);var s=i*n;return{result:e.getBar(i)+o.result,checksum:s+o.checksum}}}]),e}(a.default);e.default=s},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=Object.assign||function(t){for(var e=1;e<arguments.length;e++){var n=arguments[e];for(var r in n)Object.prototype.hasOwnProperty.call(n,r)&&(t[r]=n[r])}return t};e.default=function(t,e){return r({},t,e)}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0}),e.default=function(t){var e=["width","height","textMargin","fontSize","margin","marginTop","marginBottom","marginLeft","marginRight"];for(var n in e)e.hasOwnProperty(n)&&(n=e[n],"string"==typeof t[n]&&(t[n]=parseInt(t[n],10)));"string"==typeof t.displayValue&&(t.displayValue="false"!=t.displayValue);return t}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r={width:2,height:100,format:"auto",displayValue:!0,fontOptions:"",font:"monospace",text:void 0,textAlign:"center",textPosition:"bottom",textMargin:2,fontSize:20,background:"#ffffff",lineColor:"#000000",margin:10,marginTop:void 0,marginBottom:void 0,marginLeft:void 0,marginRight:void 0,valid:function(){}};e.default=r},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0}),e.getTotalWidthOfEncodings=e.calculateEncodingAttributes=e.getBarcodePadding=e.getEncodingHeight=e.getMaximumHeightOfEncodings=void 0;var r,o=n(2),i=(r=o)&&r.__esModule?r:{default:r};function a(t,e){return e.height+(e.displayValue&&t.text.length>0?e.fontSize+e.textMargin:0)+e.marginTop+e.marginBottom}function u(t,e,n){if(n.displayValue&&e<t){if("center"==n.textAlign)return Math.floor((t-e)/2);if("left"==n.textAlign)return 0;if("right"==n.textAlign)return Math.floor(t-e)}return 0}function s(t,e,n){var r;if(n)r=n;else{if("undefined"==typeof document)return 0;r=document.createElement("canvas").getContext("2d")}r.font=e.fontOptions+" "+e.fontSize+"px "+e.font;var o=r.measureText(t);return o?o.width:0}e.getMaximumHeightOfEncodings=function(t){for(var e=0,n=0;n<t.length;n++)t[n].height>e&&(e=t[n].height);return e},e.getEncodingHeight=a,e.getBarcodePadding=u,e.calculateEncodingAttributes=function(t,e,n){for(var r=0;r<t.length;r++){var o,f=t[r],c=(0,i.default)(e,f.options);o=c.displayValue?s(f.text,c,n):0;var l=f.data.length*c.width;f.width=Math.ceil(Math.max(o,l)),f.height=a(f,c),f.barcodePadding=u(o,l,c)}},e.getTotalWidthOfEncodings=function(t){for(var e=0,n=0;n<t.length;n++)e+=t[n].width;return e}},function(t,e,n){"use strict";function r(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}function o(t,e){if(!t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return!e||"object"!=typeof e&&"function"!=typeof e?t:e}function i(t,e){if("function"!=typeof e&&null!==e)throw new TypeError("Super expression must either be null or a function, not "+typeof e);t.prototype=Object.create(e&&e.prototype,{constructor:{value:t,enumerable:!1,writable:!0,configurable:!0}}),e&&(Object.setPrototypeOf?Object.setPrototypeOf(t,e):t.__proto__=e)}Object.defineProperty(e,"__esModule",{value:!0});var a=function(t){function e(t,n){r(this,e);var i=o(this,(e.__proto__||Object.getPrototypeOf(e)).call(this));return i.name="InvalidInputException",i.symbology=t,i.input=n,i.message='"'+i.input+'" is not a valid input for '+i.symbology,i}return i(e,Error),e}(),u=function(t){function e(){r(this,e);var t=o(this,(e.__proto__||Object.getPrototypeOf(e)).call(this));return t.name="InvalidElementException",t.message="Not supported type to render on",t}return i(e,Error),e}(),s=function(t){function e(){r(this,e);var t=o(this,(e.__proto__||Object.getPrototypeOf(e)).call(this));return t.name="NoElementException",t.message="No element to render on.",t}return i(e,Error),e}();e.InvalidInputException=a,e.InvalidElementException=u,e.NoElementException=s},function(t,e,n){"use strict";var r=d(n(8)),o=d(n(2)),i=d(n(16)),a=d(n(17)),u=d(n(18)),s=d(n(3)),f=d(n(24)),c=n(6),l=d(n(4));function d(t){return t&&t.__esModule?t:{default:t}}var p=function(){},h=function(t,e,n){var r=new p;if(void 0===t)throw Error("No element to render on was provided.");return r._renderProperties=(0,u.default)(t),r._encodings=[],r._options=l.default,r._errorHandler=new f.default(r),void 0!==e&&((n=n||{}).format||(n.format=b()),r.options(n)[n.format](e,n).render()),r};for(var v in h.getModule=function(t){return r.default[t]},r.default)r.default.hasOwnProperty(v)&&g(r.default,v);function g(t,e){p.prototype[e]=p.prototype[e.toUpperCase()]=p.prototype[e.toLowerCase()]=function(n,r){var i=this;return i._errorHandler.wrapBarcodeCall((function(){r.text=void 0===r.text?void 0:""+r.text;var a=(0,o.default)(i._options,r);a=(0,s.default)(a);var u=t[e],f=y(n,u,a);return i._encodings.push(f),i}))}}function y(t,e,n){var r=new e(t=""+t,n);if(!r.valid())throw new c.InvalidInputException(r.constructor.name,t);var a=r.encode();a=(0,i.default)(a);for(var u=0;u<a.length;u++)a[u].options=(0,o.default)(n,a[u].options);return a}function b(){return r.default.CODE128?"CODE128":Object.keys(r.default)[0]}function _(t,e,n){e=(0,i.default)(e);for(var r=0;r<e.length;r++)e[r].options=(0,o.default)(n,e[r].options),(0,a.default)(e[r].options);(0,a.default)(n),new(0,t.renderer)(t.element,e,n).render(),t.afterRender&&t.afterRender()}p.prototype.options=function(t){return this._options=(0,o.default)(this._options,t),this},p.prototype.blank=function(t){var e=new Array(t+1).join("0");return this._encodings.push({data:e}),this},p.prototype.init=function(){var t;if(this._renderProperties)for(var e in Array.isArray(this._renderProperties)||(this._renderProperties=[this._renderProperties]),this._renderProperties){t=this._renderProperties[e];var n=(0,o.default)(this._options,t.options);"auto"==n.format&&(n.format=b()),this._errorHandler.wrapBarcodeCall((function(){var e=y(n.value,r.default[n.format.toUpperCase()],n);_(t,e,n)}))}},p.prototype.render=function(){if(!this._renderProperties)throw new c.NoElementException;if(Array.isArray(this._renderProperties))for(var t=0;t<this._renderProperties.length;t++)_(this._renderProperties[t],this._encodings,this._options);else _(this._renderProperties,this._encodings,this._options);return this},p.prototype._defaults=l.default,"undefined"!=typeof window&&(window.JsBarcode=h),"undefined"!=typeof jQuery&&(jQuery.fn.JsBarcode=function(t,e){var n=[];return jQuery(this).each((function(){n.push(this)})),h(n,t,e)}),t.exports=h},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=n(9);e.default={CODE128:r.CODE128,CODE128A:r.CODE128A,CODE128B:r.CODE128B,CODE128C:r.CODE128C}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0}),e.CODE128C=e.CODE128B=e.CODE128A=e.CODE128=void 0;var r=u(n(10)),o=u(n(13)),i=u(n(14)),a=u(n(15));function u(t){return t&&t.__esModule?t:{default:t}}e.CODE128=r.default,e.CODE128A=o.default,e.CODE128B=i.default,e.CODE128C=a.default},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=i(n(1)),o=i(n(12));function i(t){return t&&t.__esModule?t:{default:t}}function a(t,e){if(!t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return!e||"object"!=typeof e&&"function"!=typeof e?t:e}var u=function(t){function e(t,n){if(function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,e),/^[\x00-\x7F\xC8-\xD3]+$/.test(t))var r=a(this,(e.__proto__||Object.getPrototypeOf(e)).call(this,(0,o.default)(t),n));else r=a(this,(e.__proto__||Object.getPrototypeOf(e)).call(this,t,n));return a(r)}return function(t,e){if("function"!=typeof e&&null!==e)throw new TypeError("Super expression must either be null or a function, not "+typeof e);t.prototype=Object.create(e&&e.prototype,{constructor:{value:t,enumerable:!1,writable:!0,configurable:!0}}),e&&(Object.setPrototypeOf?Object.setPrototypeOf(t,e):t.__proto__=e)}(e,t),e}(r.default);e.default=u},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});e.default=function t(e,n){!function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,t),this.data=e,this.text=n.text||e,this.options=n}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=n(0),o=function(t){return t.match(new RegExp("^"+r.A_CHARS+"*"))[0].length},i=function(t){return t.match(new RegExp("^"+r.B_CHARS+"*"))[0].length},a=function(t){return t.match(new RegExp("^"+r.C_CHARS+"*"))[0]};function u(t,e){var n=e?r.A_CHARS:r.B_CHARS,o=t.match(new RegExp("^("+n+"+?)(([0-9]{2}){2,})([^0-9]|$)"));if(o)return o[1]+String.fromCharCode(204)+s(t.substring(o[1].length));var i=t.match(new RegExp("^"+n+"+"))[0];return i.length===t.length?t:i+String.fromCharCode(e?205:206)+u(t.substring(i.length),!e)}function s(t){var e=a(t),n=e.length;if(n===t.length)return t;t=t.substring(n);var r=o(t)>=i(t);return e+String.fromCharCode(r?206:205)+u(t,r)}e.default=function(t){var e=void 0;if(a(t).length>=2)e=r.C_START_CHAR+s(t);else{var n=o(t)>i(t);e=(n?r.A_START_CHAR:r.B_START_CHAR)+u(t,n)}return e.replace(/[\xCD\xCE]([^])[\xCD\xCE]/,(function(t,e){return String.fromCharCode(203)+e}))}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r,o=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}(),i=n(1),a=(r=i)&&r.__esModule?r:{default:r},u=n(0);var s=function(t){function e(t,n){return function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,e),function(t,e){if(!t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return!e||"object"!=typeof e&&"function"!=typeof e?t:e}(this,(e.__proto__||Object.getPrototypeOf(e)).call(this,u.A_START_CHAR+t,n))}return function(t,e){if("function"!=typeof e&&null!==e)throw new TypeError("Super expression must either be null or a function, not "+typeof e);t.prototype=Object.create(e&&e.prototype,{constructor:{value:t,enumerable:!1,writable:!0,configurable:!0}}),e&&(Object.setPrototypeOf?Object.setPrototypeOf(t,e):t.__proto__=e)}(e,t),o(e,[{key:"valid",value:function(){return new RegExp("^"+u.A_CHARS+"+$").test(this.data)}}]),e}(a.default);e.default=s},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r,o=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}(),i=n(1),a=(r=i)&&r.__esModule?r:{default:r},u=n(0);var s=function(t){function e(t,n){return function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,e),function(t,e){if(!t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return!e||"object"!=typeof e&&"function"!=typeof e?t:e}(this,(e.__proto__||Object.getPrototypeOf(e)).call(this,u.B_START_CHAR+t,n))}return function(t,e){if("function"!=typeof e&&null!==e)throw new TypeError("Super expression must either be null or a function, not "+typeof e);t.prototype=Object.create(e&&e.prototype,{constructor:{value:t,enumerable:!1,writable:!0,configurable:!0}}),e&&(Object.setPrototypeOf?Object.setPrototypeOf(t,e):t.__proto__=e)}(e,t),o(e,[{key:"valid",value:function(){return new RegExp("^"+u.B_CHARS+"+$").test(this.data)}}]),e}(a.default);e.default=s},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r,o=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}(),i=n(1),a=(r=i)&&r.__esModule?r:{default:r},u=n(0);var s=function(t){function e(t,n){return function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,e),function(t,e){if(!t)throw new ReferenceError("this hasn't been initialised - super() hasn't been called");return!e||"object"!=typeof e&&"function"!=typeof e?t:e}(this,(e.__proto__||Object.getPrototypeOf(e)).call(this,u.C_START_CHAR+t,n))}return function(t,e){if("function"!=typeof e&&null!==e)throw new TypeError("Super expression must either be null or a function, not "+typeof e);t.prototype=Object.create(e&&e.prototype,{constructor:{value:t,enumerable:!1,writable:!0,configurable:!0}}),e&&(Object.setPrototypeOf?Object.setPrototypeOf(t,e):t.__proto__=e)}(e,t),o(e,[{key:"valid",value:function(){return new RegExp("^"+u.C_CHARS+"+$").test(this.data)}}]),e}(a.default);e.default=s},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0}),e.default=function(t){var e=[];return function t(n){if(Array.isArray(n))for(var r=0;r<n.length;r++)t(n[r]);else n.text=n.text||"",n.data=n.data||"",e.push(n)}(t),e}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0}),e.default=function(t){return t.marginTop=t.marginTop||t.margin,t.marginBottom=t.marginBottom||t.margin,t.marginRight=t.marginRight||t.margin,t.marginLeft=t.marginLeft||t.margin,t}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(t){return typeof t}:function(t){return t&&"function"==typeof Symbol&&t.constructor===Symbol&&t!==Symbol.prototype?"symbol":typeof t},o=u(n(19)),i=u(n(20)),a=n(6);function u(t){return t&&t.__esModule?t:{default:t}}function s(t){if("string"==typeof t)return function(t){var e=document.querySelectorAll(t);if(0===e.length)return;for(var n=[],r=0;r<e.length;r++)n.push(s(e[r]));return n}(t);if(Array.isArray(t)){for(var e=[],n=0;n<t.length;n++)e.push(s(t[n]));return e}if("undefined"!=typeof HTMLCanvasElement&&t instanceof HTMLImageElement)return u=t,{element:f=document.createElement("canvas"),options:(0,o.default)(u),renderer:i.default.CanvasRenderer,afterRender:function(){u.setAttribute("src",f.toDataURL())}};if(t&&t.nodeName&&"svg"===t.nodeName.toLowerCase()||"undefined"!=typeof SVGElement&&t instanceof SVGElement)return{element:t,options:(0,o.default)(t),renderer:i.default.SVGRenderer};if("undefined"!=typeof HTMLCanvasElement&&t instanceof HTMLCanvasElement)return{element:t,options:(0,o.default)(t),renderer:i.default.CanvasRenderer};if(t&&t.getContext)return{element:t,renderer:i.default.CanvasRenderer};if(t&&"object"===(void 0===t?"undefined":r(t))&&!t.nodeName)return{element:t,renderer:i.default.ObjectRenderer};throw new a.InvalidElementException;var u,f}e.default=s},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=i(n(3)),o=i(n(4));function i(t){return t&&t.__esModule?t:{default:t}}e.default=function(t){var e={};for(var n in o.default)o.default.hasOwnProperty(n)&&(t.hasAttribute("jsbarcode-"+n.toLowerCase())&&(e[n]=t.getAttribute("jsbarcode-"+n.toLowerCase())),t.hasAttribute("data-"+n.toLowerCase())&&(e[n]=t.getAttribute("data-"+n.toLowerCase())));return e.value=t.getAttribute("jsbarcode-value")||t.getAttribute("data-value"),e=(0,r.default)(e)}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=a(n(21)),o=a(n(22)),i=a(n(23));function a(t){return t&&t.__esModule?t:{default:t}}e.default={CanvasRenderer:r.default,SVGRenderer:o.default,ObjectRenderer:i.default}},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r,o=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}(),i=n(2),a=(r=i)&&r.__esModule?r:{default:r},u=n(5);var s=function(){function t(e,n,r){!function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,t),this.canvas=e,this.encodings=n,this.options=r}return o(t,[{key:"render",value:function(){if(!this.canvas.getContext)throw new Error("The browser does not support canvas.");this.prepareCanvas();for(var t=0;t<this.encodings.length;t++){var e=(0,a.default)(this.options,this.encodings[t].options);this.drawCanvasBarcode(e,this.encodings[t]),this.drawCanvasText(e,this.encodings[t]),this.moveCanvasDrawing(this.encodings[t])}this.restoreCanvas()}},{key:"prepareCanvas",value:function(){var t=this.canvas.getContext("2d");t.save(),(0,u.calculateEncodingAttributes)(this.encodings,this.options,t);var e=(0,u.getTotalWidthOfEncodings)(this.encodings),n=(0,u.getMaximumHeightOfEncodings)(this.encodings);this.canvas.width=e+this.options.marginLeft+this.options.marginRight,this.canvas.height=n,t.clearRect(0,0,this.canvas.width,this.canvas.height),this.options.background&&(t.fillStyle=this.options.background,t.fillRect(0,0,this.canvas.width,this.canvas.height)),t.translate(this.options.marginLeft,0)}},{key:"drawCanvasBarcode",value:function(t,e){var n,r=this.canvas.getContext("2d"),o=e.data;n="top"==t.textPosition?t.marginTop+t.fontSize+t.textMargin:t.marginTop,r.fillStyle=t.lineColor;for(var i=0;i<o.length;i++){var a=i*t.width+e.barcodePadding;"1"===o[i]?r.fillRect(a,n,t.width,t.height):o[i]&&r.fillRect(a,n,t.width,t.height*o[i])}}},{key:"drawCanvasText",value:function(t,e){var n,r,o=this.canvas.getContext("2d"),i=t.fontOptions+" "+t.fontSize+"px "+t.font;t.displayValue&&(r="top"==t.textPosition?t.marginTop+t.fontSize-t.textMargin:t.height+t.textMargin+t.marginTop+t.fontSize,o.font=i,"left"==t.textAlign||e.barcodePadding>0?(n=0,o.textAlign="left"):"right"==t.textAlign?(n=e.width-1,o.textAlign="right"):(n=e.width/2,o.textAlign="center"),o.fillText(e.text,n,r))}},{key:"moveCanvasDrawing",value:function(t){this.canvas.getContext("2d").translate(t.width,0)}},{key:"restoreCanvas",value:function(){this.canvas.getContext("2d").restore()}}]),t}();e.default=s},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r,o=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}(),i=n(2),a=(r=i)&&r.__esModule?r:{default:r},u=n(5);var s="http://www.w3.org/2000/svg",f=function(){function t(e,n,r){!function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,t),this.svg=e,this.encodings=n,this.options=r,this.document=r.xmlDocument||document}return o(t,[{key:"render",value:function(){var t=this.options.marginLeft;this.prepareSVG();for(var e=0;e<this.encodings.length;e++){var n=this.encodings[e],r=(0,a.default)(this.options,n.options),o=this.createGroup(t,r.marginTop,this.svg);this.setGroupOptions(o,r),this.drawSvgBarcode(o,r,n),this.drawSVGText(o,r,n),t+=n.width}}},{key:"prepareSVG",value:function(){for(;this.svg.firstChild;)this.svg.removeChild(this.svg.firstChild);(0,u.calculateEncodingAttributes)(this.encodings,this.options);var t=(0,u.getTotalWidthOfEncodings)(this.encodings),e=(0,u.getMaximumHeightOfEncodings)(this.encodings),n=t+this.options.marginLeft+this.options.marginRight;this.setSvgAttributes(n,e),this.options.background&&this.drawRect(0,0,n,e,this.svg).setAttribute("style","fill:"+this.options.background+";")}},{key:"drawSvgBarcode",value:function(t,e,n){var r,o=n.data;r="top"==e.textPosition?e.fontSize+e.textMargin:0;for(var i=0,a=0,u=0;u<o.length;u++)a=u*e.width+n.barcodePadding,"1"===o[u]?i++:i>0&&(this.drawRect(a-e.width*i,r,e.width*i,e.height,t),i=0);i>0&&this.drawRect(a-e.width*(i-1),r,e.width*i,e.height,t)}},{key:"drawSVGText",value:function(t,e,n){var r,o,i=this.document.createElementNS(s,"text");e.displayValue&&(i.setAttribute("style","font:"+e.fontOptions+" "+e.fontSize+"px "+e.font),o="top"==e.textPosition?e.fontSize-e.textMargin:e.height+e.textMargin+e.fontSize,"left"==e.textAlign||n.barcodePadding>0?(r=0,i.setAttribute("text-anchor","start")):"right"==e.textAlign?(r=n.width-1,i.setAttribute("text-anchor","end")):(r=n.width/2,i.setAttribute("text-anchor","middle")),i.setAttribute("x",r),i.setAttribute("y",o),i.appendChild(this.document.createTextNode(n.text)),t.appendChild(i))}},{key:"setSvgAttributes",value:function(t,e){var n=this.svg;n.setAttribute("width",t+"px"),n.setAttribute("height",e+"px"),n.setAttribute("x","0px"),n.setAttribute("y","0px"),n.setAttribute("viewBox","0 0 "+t+" "+e),n.setAttribute("xmlns",s),n.setAttribute("version","1.1"),n.setAttribute("style","transform: translate(0,0)")}},{key:"createGroup",value:function(t,e,n){var r=this.document.createElementNS(s,"g");return r.setAttribute("transform","translate("+t+", "+e+")"),n.appendChild(r),r}},{key:"setGroupOptions",value:function(t,e){t.setAttribute("style","fill:"+e.lineColor+";")}},{key:"drawRect",value:function(t,e,n,r,o){var i=this.document.createElementNS(s,"rect");return i.setAttribute("x",t),i.setAttribute("y",e),i.setAttribute("width",n),i.setAttribute("height",r),o.appendChild(i),i}}]),t}();e.default=f},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}();var o=function(){function t(e,n,r){!function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,t),this.object=e,this.encodings=n,this.options=r}return r(t,[{key:"render",value:function(){this.object.encodings=this.encodings}}]),t}();e.default=o},function(t,e,n){"use strict";Object.defineProperty(e,"__esModule",{value:!0});var r=function(){function t(t,e){for(var n=0;n<e.length;n++){var r=e[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(t,r.key,r)}}return function(e,n,r){return n&&t(e.prototype,n),r&&t(e,r),e}}();var o=function(){function t(e){!function(t,e){if(!(t instanceof e))throw new TypeError("Cannot call a class as a function")}(this,t),this.api=e}return r(t,[{key:"handleCatch",value:function(t){if("InvalidInputException"!==t.name)throw t;if(this.api._options.valid===this.api._defaults.valid)throw t.message;this.api._options.valid(!1),this.api.render=function(){}}},{key:"wrapBarcodeCall",value:function(t){try{var e=t.apply(void 0,arguments);return this.api._options.valid(!0),e}catch(t){return this.handleCatch(t),this.api}}}]),t}();e.default=o}]);
  </script>
 
  <script type="text/javascript">
      JsBarcode("#barcode", "<%= study_note.signum_barcode %>", {
          width: 1.9,
          height: 50,
          margin: 0,
          fontSize: 16
      });
  </script>
<% end %>
</div>
</body>
</html>
