<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t(".title") %>
      <div class="button--title">
        <% if allowed_to? :create, :page %>
          <%= link_to t("actions.new", scope: "decidim.pages", name: t("models.page.name", scope: "decidim.pages.admin")), new_pages_extended_url(current_component), class: "button button__sm button__secondary" if allowed_to? :create, :page %>
        <% end %>
        <%#= export_dropdown %>
      </div>
    </h1>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.page.fields.title", scope: "decidim.pages") %></th>
            <th><%= t('models.page.fields.published', scope: "decidim.pages") %></th>
            <th><%= t('models.page.fields.weight', scope: "decidim.pages") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim.pages") %></th>
          </tr>
        </thead>
        <tbody>
          <% pages.each do |page| %>
            <tr data-id="<%= page.id %>">
              <td>
                <%= page.title[current_locale] %><br>
              </td>
              <td>
                <% if page.published? %>
                  <strong class="text-success"><%= t("pages.index.published", scope: "decidim.admin") %></strong>
                <% else %>
                  <strong class="text-alert"><%= t("pages.index.not_published", scope: "decidim.admin") %></strong>
                <% end %>
              </td>
              <td>
                <%= page.weight %><br>
              </td>
              <td class="table-list__actions">
                <%= icon_link_to "eye-line", resource_locator(page).path, t("actions.preview", scope: "decidim.pages"), class: "action-icon--preview", target: :blank %>

                <% if allowed_to? :update, :page, page: page %>
                  <%= edit_pages_extended_link(page, current_component) %>
                <% else %>
                  <span class="action-space icon"></span>
                <% end %>

                <% if allowed_to?(:publish, :page, page: page) %>
                  <% if page.published? %>
                    <%= icon_link_to "close-circle-line", publish_pages_extended_url(page, current_component), t("actions.unpublish", scope: "decidim.admin"), class: "action-icon--unpublish", method: :post %>
                  <% else %>
                    <%= icon_link_to "check-line", publish_pages_extended_url(page, current_component), t("actions.publish", scope: "decidim.admin"), class: "action-icon--publish", method: :post %>
                  <% end %>
                <% else %>
                  <span class="action-space icon"></span>
                <% end %>

                <%#= resource_permissions_link(page) %>

                <% if allowed_to? :destroy, :page, page: page %>
                  <%= destroy_pages_extended_link(page, current_component) %>
                <% else %>
                  <span class="action-space icon"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate pages, theme: "decidim" %>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "pages_extended_destroy_page_alert" %>
