<% filter_sections = [] unless local_assigns.has_key?(:filter_sections) %>
<% search_label = t("decidim.searches.filters.search") unless local_assigns.has_key?(:search_label) %>

<% if filter_sections.present? || local_assigns.has_key?(:search_variable) %>
  <%= filter_form_for filter, url_for, class: "new_filter self-stretch", data: { filters: "", component: "accordion" } do |form| %>

    <button id="dropdown-trigger-filters" data-component="dropdown" data-target="dropdown-menu-filters" data-open-md="true">
      <%= icon "arrow-down-s-line" %>
      <%= icon "arrow-up-s-line" %>
      <span>
        <%= local_assigns.has_key?(:search_variable) ? t("filter_and_search", scope: "decidim.searches.filters_small_view") : t("filter", scope: "decidim.searches.filters_small_view") %>
      </span>
    </button>

    <div id="dropdown-menu-filters">
      <% if local_assigns.has_key?(:skip_to_id) %>
        <%= link_to t("skip", scope: "decidim.shared.filter_form_help"), "##{skip_to_id}", class: "filter-skip", role: "menuitem" %>
      <% end %>
      <p class="filter-help" role="menuitem" aria-disabled="true"><%= t("help", scope: "decidim.shared.filter_form_help") %></p>

      <% if local_assigns.has_key?(:search_variable) %>
        <div class="filter-search filter-container" role="menuitem">
          <%= form.search_field search_variable,
                                label: false,
                                placeholder: search_label,
                                title: search_label,
                                "aria-label": search_label %>
          <button type="submit" aria-label="<%= search_label %>">
            <%= icon "search-line" %>
          </button>
        </div>
      <% end %>

      <% filter_sections.each do |f| %>
        <%= form.collection_filter(**f) %>
      <% end %>


      <div class="filter-container" role="menuitem">
        <button id="trigger-menu-address" data-controls="panel-dropdown-menu-address" data-open="true" data-open-md="true" role="button" tabindex="0" aria-controls="panel-dropdown-menu-address" aria-expanded="true" aria-disabled="false">
          <svg width="1em" height="1em" role="img" aria-hidden="true"><use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-arrow-down-s-line"></use></svg>
          <svg width="1em" height="1em" role="img" aria-hidden="true"><use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-arrow-up-s-line"></use></svg>
          <span>Wyszukaj po adresie</span>
        </button>
        <div id="panel-dropdown-menu-address" role="address" tabindex="-1" aria-labelledby="trigger-menu-address" aria-hidden="false">

          <%= form.hidden_field :address_lat, id: "filter_address_lat", class: "filter_address_lat" %>
          <%= form.hidden_field :address_lng, id: "filter_address_lng", class: "filter_address_lng"  %>
          <%= form.text_field :address, label:false, placeholder: t('.address').html_safe, id: "filter_address", class: "filter_address" %>
          <p class="filter-help">(np. plac Bankowy 3/5), żeby zobaczyć wszystkie trwające i zakończone konsultacje w odległości 2 km od tego miejsca</p>
        </div>
      </div>
      <%= yield %>
    </div>

  <% end %>
<% end %>

<%= append_javascript_pack_tag "autocomplete" %>
<%= append_javascript_pack_tag "address_search" %>
