<%= link_to participatory_process_path(promoted_process), class: "card card--full card--process #{promoted_process.area ? "area-color-#{promoted_process.area.id}" : ''}" do %>
  <div class="row collapse card--process__row">
    <div class="columns mediumlarge-8 large-6 card--process__column">
      <div class="card__content">
        <div class="card__link">
          <h2 class="card__title"><%= decidim_html_escape(translated_attribute(promoted_process.title)).html_safe %></h2>
        </div>
        <p>
          <%= decidim_sanitize html_truncate(translated_attribute(promoted_process.short_description), length: 200, separator: "..."), strip_tags: true %>
        </p>

        <%== cell('decidim/participatory_processes/process_m', promoted_process).footer_new %>
      </div>
    </div>
    <div class="columns mediumlarge-8 large-6 card--process__column highlited">
      <div class="promoted_process-image-box">
        <% if promoted_process.hero_image.present? %>
          <%= image_tag main_app.url_for(promoted_process.hero_image), alt: promoted_process.hero_image_alt, class: 'promoted_process-image' %>
        <% elsif promoted_process.banner_image.present? %>
          <%= image_tag main_app.url_for(promoted_process.banner_image), alt: '', class: 'promoted_process-image' %>
        <% end %>
      </div>
      
      <%= cell('decidim/content_blocks/hero', current_organization, highlited: 'highlited').consultation_decor.html_safe %>

      <div class="process-status">
        <% if promoted_process.end_date.present? && promoted_process.end_date >= Time.current.to_date %>
          <span class="process-status__circle process-status__circle--active"></span>
          <p class="process-status__title">Trwające</p>
        <% else %>
          <span class="process-status__circle process-status__circle--inactive"></span>
          <p class="process-status__title">Zakończone</p>
        <% end %>
      </div>
    </div>
  </div>
  <%= cell('decidim/content_blocks/hero', current_organization, highlited: 'highlited').consultation_decor.html_safe %>
<% end %>
