<%= decidim_modal id: modal_id, class: "flag-modal" do %>
  <%= form_for report_form, builder:, url: report_path, method: :post, html: { id: nil } do |f| %>
    <div data-dialog-container>
      <%= icon "flag-line" %>
      <h2 tabindex="-1" data-dialog-title><%= t("decidim.shared.flag_modal.subtitle") %></h2>
      <div>
        <div class="form__wrapper flag-modal__form">
          <p id="dialog-desc-<%= modal_id %>" class="flag-modal__form-description">
            <%= t("decidim.shared.flag_modal.description") %>
            <%= t(
                  "decidim.shared.flag_modal.description_terms_url",
                  terms_url: decidim.page_path("terms-of-service")
                ).html_safe %>
          </p>
          <%= f.text_area :details,
                          rows: 4,
                          label_options: { class: "flag-modal__form-textarea-label", for: nil },
                          label: t("decidim.shared.flag_modal.details_for_hide"),
                          id: nil %>
          <%= f.hidden_field :reason, value: "hidden_by_admin" %>
          <%= f.hidden_field :hide, value: true %>
        </div>
      </div>
    </div>
    <div data-dialog-actions>
      <button type="button" class="button button__lg button__transparent-secondary" data-dialog-close="<%= modal_id %>">
        <%= t("decidim.shared.confirm_modal.cancel") %>
      </button>
      <button type="submit" class="button button__lg button__secondary">
        <span><%= t("decidim.shared.flag_modal.hide") %></span>
        <%= icon "arrow-right-line", class: "fill-current" %>
      </button>
    </div>
  <% end %>
<% end %>
