<%= render "layouts/decidim/application" do %>
  <% if controller_name == 'pages' %>
    <%= render partial: "layouts/decidim/page_header" %>
  <% end %>

  <%= cell "decidim/translation_bar", current_organization %>
    <%= yield %>
  <% if content_for? :expanded %>
    <div class="expanded">
      <div class="wrapper wrapper--inner">
        <div class="row">
          <%= yield :expanded %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
