<% add_decidim_meta_tags({
                           title: translated_attribute(questionnaire.title),
                           description: translated_attribute(questionnaire.description)
                         }) %>

<%= append_stylesheet_pack_tag "decidim_forms" %>
<%= append_javascript_pack_tag "decidim_forms" %>

<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 10 } do %>
  <section class="pt-10">
    <% if current_component.users_action_disallowed? %>
      <%= render partial: 'decidim/shared/users_action_disallowed' %>
    <% else %>
    <div class="help-section" id="survey-info" data-toggler=".hide">
      <% if questionnaire.title.present? %>
        <h2 class="help-section__title">
          <%= translated_attribute questionnaire.title %>
        </h2>
      <% end %>

      <% if questionnaire.description.present? %>
        <div class="help-section__description editor-content">
          <%= decidim_sanitize_editor_admin translated_attribute questionnaire.description %>
          <%= render 'decidim/shared/gallery_attachments', model: questionnaire %>
        </div>
      <% end %>
    </div>

    <%= render partial: "decidim/shared/component_announcement" if current_component.manifest_name == "surveys" %>

    <% unless questionnaire_for.try(:component)&.try(:published?) %>
      <%= cell("decidim/announcement", t("decidim.forms.questionnaires.show.questionnaire_not_published.body"), callout_class: "warning") %>
    <% end %>
  </section>
<% end %>
<% end %>
<%= render layout: "layouts/decidim/shared/layout_center", locals: { columns: 8 } do %>
  <% if user_with_token? %>
    <p style="text-align: center"><strong>To jest podgląd wysłanej przez Ciebie ankiety. Nie możesz jej już modyfikować.</strong></p>
    <%= render partial: "decidim/forms/questionnaires/questionnaire_disabled" %>
  <% else %>
    <% unless current_component.users_action_disallowed? %>
  <% if allow_answers? %>
    <% if visitor_can_answer? %>
      <% if visitor_already_answered? %>
        <p style="text-align: center"><strong>To jest podgląd wysłanej przez Ciebie ankiety. Nie możesz jej już modyfikować.</strong></p>
        <%= render partial: "decidim/forms/questionnaires/questionnaire_disabled" %>
      <% else %>
        <% if @form.responses_by_step.flatten.empty? %>
          <%= cell("decidim/announcement", t("decidim.forms.questionnaires.show.empty")) %>
        <% else %>
          <%= render partial: "decidim/forms/questionnaires/questionnaire" %>
        <% end %>
      <% end %>
    <% else %>
       <span class="md:!col-start-1 lg:!col-start-2"> <%= t(".answer_questionnaire.anonymous_user_message", sign_in_link: decidim.new_user_session_path, sign_up_link: decidim.new_user_registration_path).html_safe %></span>
    <% end %>
  <% else %>
    <%= cell("decidim/announcement", { title: t("decidim.forms.questionnaires.show.questionnaire_closed.title"), body: t("decidim.forms.questionnaires.show.questionnaire_closed.body") }, callout_class: "warning") %>
  <% end %>
  <% end %>
<% end %>
<% end %> 

<% if current_component.ai_enabled? %>
  <%= render partial: "decidim/forms/questionnaires/ai_processing_modal" %>

  <%
    js_configs = {
      processAiEndpoint: "/processes/#{current_participatory_space.slug}/f/#{current_component.id}/ai_api"
    }
  %>

  <% content_for(:js_content) do %>
    <%= nonced_javascript_tag do %> 
      window.Decidim.config.set(<%== js_configs.to_json %>); 
    <% end %>
  <% end %>

  <%= append_javascript_pack_tag "ai_questionnaire" %>
<% end %>
