<div class="mt-4">
  <% model.files.each do |file| %>
    <% next unless file.present? %>

    <% if file.variable? %>
      <div class="single-image">
        <%= link_to Rails.application.routes.url_helpers.rails_representation_path(file.variant(resize: "900x900").processed, only_path: true), name: "link", class: 'swipebox', rel: dom_id(model) do %>
          <%= image_tag(Rails.application.routes.url_helpers.rails_representation_path(file.variant(resize: "200x200^").processed, only_path: true), class: 'thumbnail') %>
          <%= image_pack_tag "media/images/zoom-icon.svg", alt: '', class: 'zoom-icon' %>
        <% end %>
      </div> 
    <% else %>
      <div class="single-file">
        <div class="single-file__text">
          <div>
            <a href="<%= Rails.application.routes.url_helpers.rails_blob_path(file, only_path: true) %>" class="card__link" data-external-link="text-only" target="_blank">
              <h4 class="single-file__heading">
                <%= file.filename %>
              </h4>
            </a>

            <small class="block">
              <%= file.filename.extension_without_delimiter.upcase %>,
              <%= '%.2f' % ((file.byte_size / 1024000.0).ceil(2)) %> MB
            </small>
          </div>
        </div>
        <div class="single-file__data">
          <%= link_to Rails.application.routes.url_helpers.rails_blob_path(file, only_path: true), target: "_blank", rel: "noopener", class: "card--list__data__icon", data: { "external-link": "false" }, title: t("decidim.components.component.download_file") do %>
            <%= icon "download-2-line" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
