<% add_decidim_page_title(t("decidim.admin.titles.files")) %>

<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= @gallery.name %> / <%= t "decidim.admin.titles.files" %>

      <%# TODO: upgrade v029! poprawic lub usunac - przywrocic sortowanie, decidim uzywa html5sortable %>
      <%# unless tiles_view? %>
        <%#= link_to 'sortuj', decidim_repository.sort_admin_gallery_path(@gallery), id: 'start-sort-gallery', class: "button button__sm button__secondary" %>
        <%#= link_to 'zapisz sortowanie', decidim_repository.sort_admin_gallery_path(@gallery), id: 'save-sort-gallery', class: "button button__sm button__secondary", style: 'display: none' %>
      <%# end %>

      <%= render partial: "decidim/repository/admin/switch_between_tiles_or_list" %>

      <%= link_to t("actions.add_file", scope: "decidim.admin"),
                  decidim_repository.new_admin_gallery_file_path(@gallery),
                  class: "button button__sm button__secondary" %>
    </h1>
  </div>

  <%= render partial: "decidim/repository/admin/filters" %>
  <%= render partial: "decidim/repository/admin/tiles_or_list" %>
</div>

<%= nonced_javascript_tag do %>
  $(function() {
    $("#sortable").sortable({
      disabled: true,
      placeholder: "ui-state-highlight"
    });

    $('#start-sort-gallery').click(function(e) {
      e.preventDefault();
      $('#start-sort-gallery').hide();
      $('#save-sort-gallery').show();
      $('.sort-icon').show();
      $("#sortable").sortable("option", "disabled", false);
    });

    $('#save-sort-gallery').click(function(e) {
      e.preventDefault();
      $('#start-sort-gallery').show();
      $('#save-sort-gallery').hide();
      $('.sort-icon').hide();
      $("#sortable").sortable("option", "disabled", true);
      var sort_ids = $.map($('#sortable tr'), function(el) { return $(el).data('id'); });
      $.post($(this).attr('href'), {_method: 'post', remote: true, sort_ids: sort_ids}, null, "script");
    });
  });
<% end %>
