<div class="card" id="consultation_requests">
  <div class="card-divider">
    <h2 class="card-title">
      <%= @gallery.name %> / <%= t "decidim.admin.titles.files" %>

      <% unless tiles_view? %>
        <%= link_to 'sortuj', sort_admin_gallery_url(@gallery), id: 'start-sort-gallery', class: "button tiny button--title new" %>
      <% end %>
      <%= link_to 'zapisz sortowanie', sort_admin_gallery_url(@gallery), id: 'save-sort-gallery', class: "button tiny button--title new", style: 'display: none' %>

      <% if tiles_view? %>
        <%= link_to 'lista', { view_type: nil }, class: "tiny button--title new" %>
      <% else %>
        <%= link_to 'kafelki', { view_type: 'tiles' }, class: " tiny button--title new" %>
      <% end %>
      <%# if allowed_to? :create, :ws_message %>
      <%= link_to t("actions.add_file", scope: "decidim.admin"), decidim_repository.new_admin_gallery_file_path(@gallery), class: "button tiny button--title new" %>
      <%# end %>
    </h2>
  </div>
  <div class="card-section">
    <% if @files.any? %>
      <% if tiles_view? %>
        <%= render 'decidim/repository/admin/files/tiles' %>
      <% else %>
        <%= render 'decidim/repository/admin/files/list' %>
      <% end %>
    <% else %>
      <p><%= t("decidim.admin.repository.no_files") %></p>
    <% end %>
  </div>
</div>


<%= nonced_javascript_tag do %>
  $(function() {
    $("#sortable").sortable({
      disabled: true,
      placeholder: "ui-state-highlight"
    });

    $('#start-sort-gallery').click(function(e) {
      e.preventDefault();
      $('#start-sort-gallery').hide();
      $('#save-sort-gallery').show();
      $('.sort-icon').show();
      $("#sortable").sortable("option", "disabled", false);
    });

    $('#save-sort-gallery').click(function(e) {
      e.preventDefault();
      $('#start-sort-gallery').show();
      $('#save-sort-gallery').hide();
      $('.sort-icon').hide();
      $("#sortable").sortable("option", "disabled", true);
      var sort_ids = $.map($('#sortable tr'), function(el) { return $(el).data('id'); });
      $.post($(this).attr('href'), {_method: 'post', remote: true, sort_ids: sort_ids}, null, "script");
    });
  });
<% end %>