<div class="agenda-section">
  <section data-meeting-agenda="">
    <div class="meeting__agenda-title">
      <svg width="1em" height="1em" role="img" aria-hidden="true">
        <use href="/decidim-packs/media/images/remixicon.symbol-e643e553623ffcd49f94.svg#ri-list-ordered"></use>
      </svg>
      <h2 class="h4"><%= translated_attribute(meeting.agenda.title) %></h2>
    </div>

    <% agenda_items_times = calculate_start_and_end_time_of_agenda_items(meeting.agenda.agenda_items.first_class, meeting) %>

    <% meeting.agenda.agenda_items.first_class.each_with_index do |agenda_item, index| %>
      <div class="meeting__agenda-item">
        <h3 class="meeting__agenda-item__title">
          <span><%= "#{index + 1}. #{translated_attribute(agenda_item.title)}" %></span>
          <span>[<%= agenda_items_times[index][:start_time].strftime("%H:%M") %> - <%= agenda_items_times[index][:end_time].strftime("%H:%M") %>]</span>
        </h3>

        <div class="meeting__agenda-item__description editor-content">
          <%= translated_attribute(agenda_item.description).html_safe %>
        </div>

        <% if agenda_item.agenda_item_children.presence %>
          <% parent_start_time = agenda_items_times[index][:start_time] %>
          <% agenda_item_children_times = calculate_start_and_end_time_of_agenda_items(agenda_item.agenda_item_children, meeting, parent_start_time) %>

          <% agenda_item.agenda_item_children.each_with_index do |agenda_item_child, index_child| %>
            <div class="meeting__agenda-subitem">
              <h4 class="meeting__agenda-item__title">
                <span><%= "#{index + 1}.#{index_child + 1} #{translated_attribute(agenda_item_child.title)}" %></span>
                <span>[<%= agenda_item_children_times[index_child][:start_time].strftime("%H:%M") %> - <%= agenda_item_children_times[index_child][:end_time].strftime("%H:%M") %>]</span>
              </h4>
              <div class="meeting__agenda-item__description editor-content">
                <%= translated_attribute(agenda_item_child.description).html_safe %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </section>
</div>

