<div class="form__wrapper">
  <div class="card pt-4">
    <div class="row column hashtags__container">
      <%= form.text_field :full_name %>
    </div>

    <div class="row column hashtags__container">
      <%= form.text_field :affiliation, hashtaggable: true %>
    </div>

    <div class="row column hashtags__container">
      <%= form.text_field :description %>
    </div>

    <div class="row column hashtags__container">
      <%= form.upload :avatar, required: true, button_class: "button button__sm button__transparent-secondary" %>
    </div>

    <div class="row column">
      <%= form.number_field :weight %>
    </div>
  </div>
</div>
