<%= content_tag :div, id: "comment_#{model.id}#{for_reader}", class: comment_classes, data: { comment_id: model.id } do %>
  <div class="comment__header">
    <div class="author-data">
      <div class="author-data__main">
        <%= render :author %>
        <span>
          <%= time_tag created_at, l(created_at, format: :decidim_short) %>
        </span>
      </div>
      <div class="author-data__extra">
        <%= render :utilities_new %>
      </div>
    </div>
  </div>
  <div class="comment__content">
    <%= alignment_badge %>
    <%= comment_body %>
    <% model.files.each do |file| %>
      <%# fix for missing files in localhost storage %>
      <% next unless ActiveStorage::Blob.service.exist?(file.blob.key) %>

      <% if file.variable? %>
        <div class="single-image">
          <%= link_to Rails.application.routes.url_helpers.rails_representation_path(file.variant(resize: "900x900").processed, only_path: true), name: "link", class: 'swipebox' do %>
            <%= image_tag(Rails.application.routes.url_helpers.rails_representation_path(file.variant(resize: "200x200^").processed, only_path: true), class: 'thumbnail') %>
            <%= image_tag("zoom-icon.svg", alt: 'Powiększ', class: 'zoom-icon') %>
          <% end %>
        </div>
      <% else %>
        <div class="single-file">
          <div class="single-file__text">
            <div>
              <a href="<%= Rails.application.routes.url_helpers.rails_blob_path(file, only_path: true) %>" class="card__link" target="_blank">
                <h4 class="single-file__heading">
                   <%= file.filename %>
                   <span class="show-for-sr"> otwiera się w nowej karcie</span>
                </h4>
              </a> 
            </div>
          </div>
          <div class="single-file__data">
            <%= link_to Rails.application.routes.url_helpers.rails_blob_path(file, only_path: true), target: "_blank", rel: "noopener", class: "card--list__data__icon", title: t("decidim.comments_extended.comments.comment.download_file") do %>
              <%= image_tag 'download-icon.png' %>
            <% end %>
          </div>
        </div> 
      <% end %>
    <% end %>

    <% if model.edited %>
      <%= t('.edited').html_safe %>
    <% end %>

  </div>
  <div class="comment__footer">
    <% if can_reply? %>
      <div class="comment__actions">
        <button class="comment__reply muted-link" aria-controls="<%= reply_id %>" data-toggle="<%= reply_id %>">
          <%= image_tag "pencil-icon.svg", class: "icon mr-xs", role: "none presentation", "aria-hidden": "true" %><%= t("decidim.components.comment.reply") %><span class="show-for-sr"> na komentarz <%= time_tag created_at, l(created_at, format: :decidim_short) %></span>
        </button>
      </div>
      <div class="add-comment hide" id="<%= reply_id %>" data-toggler=".hide">
        <% if !current_user && !model.participatory_space.users_action_allowed_for_unregister_users %>
          <h4 class="section-heading"><%= t("decidim.components.add_comment_form.title") %></h4>

          <p class="mb-xs">
            <%= t("decidim.components.add_comment_form.anonymous_user_message", sign_in_link: decidim.new_user_session_path, sign_up_link: decidim.new_user_registration_path).html_safe %>
          </p>
        <% else %>
          <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order, for_reader: for_reader) %>
        <% end %>
      </div>
      <div class="add-comment phantom hide" id="<%= reply_id %>__phantom" data-toggler=".hide">
        <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order, for_reader: for_reader) %>
      </div>
      <div class="add-comment phantom hide" id="<%= reply_id %>__phantom" data-toggler=".hide">
        <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order, for_reader: for_reader) %>
      </div>
      <div class="add-comment phantom hide" id="<%= reply_id %>__phantom" data-toggler=".hide">
        <%== cell("decidim/comments/comment_form", model, root_depth: root_depth, order: order, for_reader: for_reader) %>
      </div>
    <% end %>
  </div>
  <div id="comment-<%= model.id %>-replies" class="comment__replies">
    <% if has_replies? %>
      <% replies.each do |reply| %>
        <div class="comment-thread">
          <div>
            <%= cell("decidim/comments/comment", reply, root_depth: root_depth, order: order, for_reader: for_reader) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
