<main>
  <% if current_component.users_action_disallowed? %>
    <div class="participatory-space__container">
      <section class="study-note-wrapper">
        <%= render partial: 'decidim/shared/users_action_disallowed' %>
      </section>
      <section>
        <%= render partial: 'decidim/shared/component_settings_help_section' %>
      </section>
    </div>
<% else %>
  <div class="participatory-space__container">

    <section> 
      <%= render partial: 'decidim/shared/component_settings_help_section' %>
    </section> 
 
    <section class="study-note-wrapper">  
      <%= decidim_form_for(@form, remote: true) do |form| %> 
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        
        <div class="form-head">
          <h2><%= t(".form_title") %></h2>

          <div>
            <%= t(".submission_date") %>
            <strong><%= Time.now.strftime("%-d.%m.%Y") %></strong>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_1">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_1") %></h3>

              <span>
                <%= t(".prefilled") %>
              </span>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_1" data-toggler="form-section__content--visible" class="form-section__content">
            <div class="narrow-part">
              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :authority_name_which_letter_is_addressed, disabled: true, class: "mb-0" %> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_2">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>
  
            <div>
              <h3><%= t(".section_2") %></h3>

              <span>
                <%= t(".prefilled") %>
              </span>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_2"  data-toggler="form-section__content--visible" class="form-section__content">
            <div class="form-section__content-checkboxes form-section__content-checkboxes--halves">
              <div class="checkboxed">
                <label for="study_note_letter_type_1" class="styled-label"><input type="checkbox" disabled id="study_note_letter_type_1" /><%= t(".letter_type_1") %></label>
              </div> 
              
              <div class="checkboxed">
                <%= form.check_box :letter_type, disabled: true, checked: true %>
              </div>

              <div class="checkboxed">
                <label for="study_note_letter_type_3" class="styled-label"><input type="checkbox" disabled id="study_note_letter_type_3" /><%= t(".letter_type_3") %></label>
              </div> 
              
              <div class="checkboxed">
                <label for="study_note_letter_type_4" class="styled-label"><input type="checkbox" disabled id="study_note_letter_type_4" /><%= t(".letter_type_4") %></label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_3">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>
  
            <div>
              <h3><%= t(".section_3") %></h3>

              <span>
                <%= t(".prefilled") %>
              </span>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_3" data-toggler="form-section__content--visible" class="form-section__content">
            <div class="form-section__content-checkboxes">
              <div class="checkboxed">
                <%= form.check_box :urban_planning_act_type, disabled: true, checked: true %>  
              </div>

              <div class="checkboxed">
                <label for="study_note_urban_planning_act_type_2" class="styled-label"><input type="checkbox" disabled id="study_note_urban_planning_act_type_2" /><%= t(".urban_planning_act_type_2") %></label>
              </div>

              <div class="checkboxed">
                <label for="study_note_urban_planning_act_type_3" class="styled-label"><input type="checkbox" disabled id="study_note_urban_planning_act_type_3" /><%= t(".urban_planning_act_type_3") %></label>
              </div>

              <div class="checkboxed">
                <label for="study_note_urban_planning_act_type_4" class="styled-label"><input type="checkbox" disabled id="study_note_urban_planning_act_type_4" /><%= t(".urban_planning_act_type_4") %></label>
              </div>

              <div class="checkboxed">
                <label for="study_note_urban_planning_act_type_5" class="styled-label"><input type="checkbox" disabled id="study_note_urban_planning_act_type_5" /><%= t(".urban_planning_act_type_5") %></label>
              </div>
            </div>

          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_4">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_4") %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_4"  data-toggler="form-section__content--visible" class="form-section__content form-section__content--visible">
            <div class="form-description">
              <%= t(".section_4_description").html_safe %>
            </div>

            <%= form.label :submitter_data_role, t('activemodel.attributes.study_note.submitter_data_role').html_safe %>
            <div class="radio-wrapper">
              <div>
                <input type="radio" id="submitter_role_person" name="study_note[submitter_data_role]" value="0" <%= "checked" unless @form.submitter_data_role == Decidim::StudyNotes::StudyNote::INDIVIDUAL %>>
                <label for="submitter_role_person"><%= t(".submitter_role_person") %></label>
              </div>

              <div>
                <input type="radio" id="submitter_role_organization" name="study_note[submitter_data_role]" value="1" <%= "checked" if @form.submitter_data_role == Decidim::StudyNotes::StudyNote::ORGANIZATION %>>
                <label for="submitter_role_organization"><%= t(".submitter_role_organization") %></label>
              </div>
            </div>

            <div class="submitter-form narrow-part person-form">
              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :submitter_data_first_name,
                                      required: true,
                                      autocomplete: "given-name",
                                      data: { "disable-character-counter": true },
                                      label: t('activemodel.attributes.study_note.submitter_data_first_name')+"*" %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :submitter_data_last_name,
                                      required: true,
                                      autocomplete: "family-name",
                                      data: { "disable-character-counter": true },
                                      label: t('activemodel.attributes.study_note.submitter_data_last_name')+"*" %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>
              </div>
            </div>

            <div class="submitter-form narrow-part organization-form hidden">
              <%= form.text_field :submitter_data_org_name,
                                  autocomplete: "organization",
                                  data: { "disable-character-counter": true },
                                  label: t('activemodel.attributes.study_note.submitter_data_org_name')+"*" %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <%= form.text_field :submitter_data_country,
                                  required: true,
                                  autocomplete: "country",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>
            
            <div class="narrow-part">
              <%= form.text_field :submitter_data_voivodeship,
                                  required: true,
                                  autocomplete: "voivodeship",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>     

            <div class="narrow-part">
              <%= form.text_field :submitter_data_county,
                                  required: true,
                                  autocomplete: "county",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>     
            
            <div class="narrow-part">
              <%= form.text_field :submitter_data_community,
                                  required: true,
                                  autocomplete: "community",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <%= form.text_field :submitter_data_street,
                                  required: true,
                                  autocomplete: "street-address",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :submitter_data_street_number,
                                      required: true,
                                      autocomplete: "street-address",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :submitter_data_flat_number,
                                      data: { "disable-character-counter": true } %>
                </div>
              </div>

              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :submitter_data_zip_code,
                                      required: true,
                                      autocomplete: "postal-code",
                                      data: { "disable-character-counter": true } %>

                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :submitter_data_city,
                                      required: true,
                                      autocomplete: "address-level2",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>
              </div>
            </div>

            <div class="narrow-part">
              <%= form.email_field :submitter_data_email,
                                  value: current_user.present? ? current_user.email : nil,
                                  autocomplete: "email",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.invalid") %></span>
            </div>

            <div class="narrow-part">
              <%= form.text_field :submitter_data_phone_number,
                                  autocomplete: "phone",
                                  data: { "disable-character-counter": true } %>
            </div>

            <div class="narrow-part">
              <%= form.text_field :submitter_data_epuap_delivery_address,
                                  data: { "disable-character-counter": true } %>

              <div class="form-description">
                <%= t(".epuap_delivery_address_description") %>
              </div>
            </div>

            <div class=""> 
              <%= form.label :perpetual_owner_of_the_property,
                            t('activemodel.attributes.study_note.perpetual_owner_of_the_property')+"*",
                            for: "study_note_perpetual_owner_of_the_property_true study_note_perpetual_owner_of_the_property_false" %>

              <div class="radio-wrapper">
                <%= form.radio_button :perpetual_owner_of_the_property, true, required: true, label: t(".option_yes") %>
                <%= form.radio_button :perpetual_owner_of_the_property, false, required: true, label: t(".option_no") %>
              </div>
            </div>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_5">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_5") %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_5"  data-toggler="form-section__content--visible" class="form-section__content">
            <div class="form-description">
              <%= t(".section_5_description").html_safe %>
            </div> 
            
            <div class="narrow-part">
              <%= form.text_field :mailing_address_data_country,
                                  autocomplete: "country",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>     

            <div class="narrow-part">
              <%= form.text_field :mailing_address_data_voivodeship,
                                  autocomplete: "voivodeship",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>     

            <div class="narrow-part">
              <%= form.text_field :mailing_address_data_county,
                                  autocomplete: "county",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>     
            
            <div class="narrow-part">
              <%= form.text_field :mailing_address_data_community,
                                  autocomplete: "community",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <%= form.text_field :mailing_address_data_street,
                                  autocomplete: "street-address",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :mailing_address_data_street_number,
                                      autocomplete: "street-address",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :mailing_address_data_flat_number,
                                      data: { "disable-character-counter": true } %>
                </div>
              </div>

              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :mailing_address_data_zip_code,
                                      autocomplete: "postal-code",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :mailing_address_data_city,
                                      autocomplete: "address-level2",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_6">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_6") %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_6"  data-toggler="form-section__content--visible" class="form-section__content">
            <div class="form-description">
              <%= t(".section_6_description").html_safe %>
            </div>

            <div class="radio-wrapper <%= 'is-invalid-input' if form.object.errors[:attorney_data_role].present? %>">
              <%= form.radio_button :attorney_data_role, 0, label: t(".attorney_role_all") %>
              <%= form.radio_button :attorney_data_role, 1, label: t(".attorney_role_delivery") %>
              <% if form.object.errors[:attorney_data_role].present? %>
                <span class="form-error is-visible"><%= form.object.errors[:attorney_data_role].first %></span>
              <% end %>
            </div>

            <div class="submitter-form narrow-part">
              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :attorney_data_first_name,
                                      autocomplete: "given-name",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :attorney_data_last_name,
                                      autocomplete: "family-name",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>
              </div>
            </div>

            <div class="narrow-part">
              <%= form.text_field :attorney_data_country,
                                  autocomplete: "country",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>
            
            <div class="narrow-part">
              <%= form.text_field :attorney_data_voivodeship,
                                  autocomplete: "voivodeship",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>     
            
            <div class="narrow-part">
              <%= form.text_field :attorney_data_county,
                                  autocomplete: "county",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>    

            <div class="narrow-part">
              <%= form.text_field :attorney_data_community,
                                  autocomplete: "community",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <%= form.text_field :attorney_data_street,
                                  autocomplete: "street-address",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.required") %></span>
            </div>

            <div class="narrow-part">
              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :attorney_data_street_number,
                                      autocomplete: "street-address",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :attorney_data_flat_number,
                                      data: { "disable-character-counter": true } %>
                </div>
              </div>

              <div class="narrow-part__fields">
                <div class="field">
                  <%= form.text_field :attorney_data_zip_code,
                                      autocomplete: "postal-code",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>

                <div class="field">
                  <%= form.text_field :attorney_data_city,
                                      autocomplete: "address-level2",
                                      data: { "disable-character-counter": true } %>
                  <span class="form-error"><%= t("errors.messages.required") %></span>
                </div>
              </div>
            </div>

            <div class="narrow-part">
              <%= form.email_field :attorney_data_email,
                                  autocomplete: "email",
                                  data: { "disable-character-counter": true } %>
              <span class="form-error"><%= t("errors.messages.invalid") %></span>
            </div>

            <div class="narrow-part">
              <%= form.text_field :attorney_data_phone_number,
                                  autocomplete: "phone",
                                  data: { "disable-character-counter": true } %>
            </div>

            <div class="narrow-part">
              <%= form.text_field :attorney_data_epuap_delivery_address,
                                  data: { "disable-character-counter": true } %>

              <div class="form-description">
                <%= t(".epuap_delivery_address_description") %>
              </div>
            </div>

            <div class="narrow-part field file-field relative">
              <%= form.label :attorney_power_represent_applicant_or_for_service, t("activemodel.attributes.study_note.attorney_power_represent_applicant_or_for_service") %>

              <div class="form-description">
              <%= t(".attorney_power_represent_applicant_or_for_service_description").html_safe %>
              </div>

              <%= form.file_field :attorney_power_represent_applicant_or_for_service,
                                  label: false,
                                  class: 'multifile hidden multifile--study-note-form',
                                  accept: ".jpg,.jpeg,.pdf",
                                  multiple: false
              %>

              <button type="button" class="study-note-file-button attachment-button-js" data-target="#study_note_attorney_power_represent_applicant_or_for_service"><%= t(".add_attachment") %></button>
            </div>

            <div class="narrow-part field file-field relative">
              <%= form.label :attorney_power_payment_stamp_duty_confirm, t("activemodel.attributes.study_note.attorney_power_payment_stamp_duty_confirm") %>

              <div class="form-description">
                <%= t(".attorney_power_payment_stamp_duty_confirm_description").html_safe %>
              </div>

              <%= form.file_field :attorney_power_payment_stamp_duty_confirm,
                                  label: false,
                                  class: 'multifile hidden multifile--study-note-form',
                                  accept: ".jpg,.jpeg,.pdf",
                                  multiple: false
              %>

              <button type="button" class="study-note-file-button attachment-button-js" data-target="#study_note_attorney_power_payment_stamp_duty_confirm"><%= t(".add_attachment") %></button>
            </div> 
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_7">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_7") %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_7"  data-toggler="form-section__content--visible" class="form-section__content form-section__content--visible">
            <div class="form-section">
              <button type="button" class="form-section__trigger form-section__trigger--small" aria-expanded="false" data-toggle="detailed_notes">
                <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon form-section__trigger-icon--small' %>

                <div>
                  <label><%= t('activemodel.attributes.study_note.detailed_notes') %></label>

                  <span class="action">
                    <span expand><%= t(".expand") %></span>
                    <span collapse><%= t(".collapse") %></span>
                  </span>
                </div>
              </button>

              <div data-toggler="form-section__content--visible" class="form-section__content form-section__content--visible multiple-hash-input" id="detailed_notes">
                <div class="form-description">
                  <%= t(".detailed_notes_description").html_safe %>
                </div>
                
                <%= form.hidden_field :detailed_notes %>
      
                <ol class="multiple-hash-input__items"></ol>

                <button type="button" class="multiple-hash-input__add-button multiple-hash-input__add-button-js">
                  <%= image_pack_tag "media/images/plus.svg", alt: "" %>

                  <span>
                    <%= t(".add_item") %>
                  </span>
                </button>
              </div>
            </div>

            <label for="study_note_request_body" class="font-bold mb-4 block">
              <%= t('activemodel.attributes.study_note.request_body') %> 
            </label>

            <div class="form-description">
              <%= @form.request_body_description_with_hyperlinks %>
            </div>

            <div class="narrow-part pb-8">
              <%= form.text_area(
                    :request_body, 
                    rows: 8,
                    label: false,
                    data: { remaining_characters: "#request_body-remaining-characters", validator: "required_if_no_detailed_notes value_below_limit", maxlength: 1000 },
                    aria: { describedby: "request_body-remaining-characters" }
                  ) %>
              <span class="form-error" data-form-error-on="required_if_no_detailed_notes"><%= t("decidim.forms.errors.messages.required_if_no_detailed_notes") %></span>
              <span class="form-error" data-form-error-on="value_below_limit"><%= t("decidim.forms.errors.messages.value_below_limit", count: 1000) %></span>
            </div>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_8">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_8") %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_8"  data-toggler="form-section__content--visible" class="form-section__content form-section__content--visible">
            <div class="radio-wrapper !mb-2">
              <%= form.radio_button :declaration_remote_correspondence, true, required: true, label: t(".declaration_remote_correspondence_true") %>
              <%= form.radio_button :declaration_remote_correspondence, false, required: true, label: t(".declaration_remote_correspondence_false") %> 
            </div>
  
            <label for="study_note_declaration_remote_correspondence_true study_note_declaration_remote_correspondence_false">
              <%= t(".declaration_remote_correspondence_description") %>
            </label>
          </div>
        </div>

        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_9">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t(".section_9") %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <ul id="study_note_form_section_9"  data-toggler="form-section__content--visible" class="form-section__content"> 
            <li class="field file-field relative">
              <%= form.label :files, t("activemodel.attributes.study_note.files") %>

              <div class="form-description"> 
                <%= t(".files_description").html_safe %>
              </div>

              <%= form.file_field :files,
                                  label: false,
                                  class: 'multifile hidden multifile--study-note-form',
                                  accept: ".jpg,.jpeg,.pdf,.doc,.docx,.odt,.rtf",
                                  multiple: true,
                                  include_hidden: false
              %>

              <button type="button" class="study-note-file-button attachment-button-js" data-target="#study_note_files"><%= t(".add_attachment") %></button>
            </li>
          </ul>
        </div>
        <div class="form-section">
          <button type="button" class="form-section__trigger" aria-expanded="false" data-toggle="study_note_form_section_10">
            <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'form-section__trigger-icon' %>

            <div>
              <h3><%= t('activemodel.attributes.study_note.optional_confirmation_request') %></h3>

              <span class="action">
                <span expand><%= t(".expand") %></span>
                <span collapse><%= t(".collapse") %></span>
              </span>
            </div>
          </button>
          
          <div id="study_note_form_section_10"  data-toggler="form-section__content--visible" class="form-section__content form-section__content--visible">          
            <div class="radio-wrapper">
              <%= form.radio_button :optional_confirmation_request, true, required: true, label: t(".option_yes") %>
              <%= form.radio_button :optional_confirmation_request, false, required: true, label: t(".option_no") %>
            </div>

            <div id="email_confirmation_request" class="hidden field narrow-part">
              <%= form.email_field :email_confirmation_request, pattern: "email" %>
              <span class="form-error" data-form-error-on="pattern"><%= t("errors.messages.invalid") %></span>
              <span class="form-error" data-form-error-on="required"><%= t("errors.messages.required") %></span>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <div>
            <div class="field rodo-field checkboxed">
              <div>
                <%= form.check_box :confirm_read_process_description, required: true %>
              </div>
              
              <div>
                <%= form.check_box :confirm_process_personal_data, required: true %>
              </div>
            </div>  
            <small class="muted"><%= t(".required_fields") %></small>
          </div>

          <div class='buttons'> 
            <%= form.submit t(".continue"), class: "button button__lg button__primary", data: { disable: true } %>
          </div>
        </div>

      <% end %>

      <div class="form-disclaimer [&_a]:underline [&_a]:text-primary">
        <%= t(".tos_agreement", link: link_to((t(".terms")).html_safe, decidim.page_path("rodo-plan-ogolny"), target: "_blank")).html_safe %>
      </div>
    </section>
  </div>

  <%= render partial: "parcel_selection_modal" %>
  <%= render partial: "parcel_deletion_modal" %>
  <%= render partial: "map_modal" %>
  <%= render partial: "preview_before_submit_modal" %>

  <% if current_component.map_guide.present? %>
    <%= render partial: "map_guide_modal", locals: { map_guide: current_component.map_guide } %>
  <% end %>
  <% end %>
</main>
 
<%= append_javascript_pack_tag "study_notes" %>

<% content_for(:js_content) do %>
  <%= nonced_javascript_tag do %>
    $('.study-note-map__legend-header').click(function() { 
      const $parent = $(this).parent();
      const isActive = $parent.hasClass("study-note-map__legend-item--active");

      if (isActive) {
        $parent.removeClass("study-note-map__legend-item--active");
      } else {
        $parent.addClass("study-note-map__legend-item--active");

        $parent.siblings().removeClass("study-note-map__legend-item--active");
      }
    });

    function renderDetailedNotes(append = false) {
      if (!append) {
        $("#detailed_notes .multiple-hash-input__items").empty();
        $("#selected_detailed_note_id").empty();
      }

      var detailedNotes = JSON.parse(
        $("#study_note_detailed_notes").val() ||
          `[{"index": "0", "name": "Plan ogólny gminy"}]`
      );

      detailedNotes.slice(append ? -1 : undefined).forEach(function (item) {
        $("#detailed_notes .multiple-hash-input__items").append(
          `
              <li id="detailed_notes_item_${item.index}"> 
                <button type="button" class="multiple-hash-input__trigger" aria-expanded="false" data-toggle="detailed_notes_item_content_${item.index}">
                  <%= image_pack_tag "media/images/chevron-down-thick.svg", alt: "", class: 'multiple-hash-input__trigger-icon' %>

                  <div>
                    <strong><%= t(".area") %> ${parseInt(item.index + 1)}</strong>

                    <span class="action">
                      <span expand><%= t(".expand") %></span>
                      <span collapse><%= t(".collapse") %></span>
                    </span>
                  </div>
                </button>

                <div id="detailed_notes_item_content_${item.index}" data-toggler=".multiple-hash-input__item-content--visible" class="multiple-hash-input__item-content multiple-hash-input__item-content--visible">
                  <div>
                    <label for="detailed_notes_parcel_ids_item_${
                      item.index
                    }" ><%= t('activemodel.attributes.study_note.detailed_notes_parcel_ids') %> <button type="button" class="underline font-bold show-map-modal-js text-[#1b7c96]" data-detailed-note-id="${item.index}"><%= t('activemodel.attributes.study_note.detailed_notes_parcel_ids_find_on_map') %></button></label>

                    <div class="form-description">
                      <%= t(".detailed_notes_parcel_ids_description").html_safe %>
                    </div> 

                    <textarea id="detailed_notes_parcel_ids_item_${
                      item.index
                    }" type="text" rows="4" data-disable-character-counter="true" data-index="${item.index}" data-key="parcel_ids" data-validator="required_if_detailed_notes required_if_no_detailed_notes_and_request_body">${
                        item.parcel_ids || ""
                      }</textarea>
                    <span class="form-error" data-form-error-on="required_if_detailed_notes"><%= t("errors.messages.required") %></span>
                    <span class="form-error" data-form-error-on="required_if_no_detailed_notes_and_request_body"><%= t("decidim.forms.errors.messages.required_if_no_detailed_notes_and_request_body") %></span>
                  </div> 

                  <div> 
                    <label for="detailed_notes_is_record_area_included_item_${
                      item.index
                    }"><%= t('activemodel.attributes.study_note.detailed_notes_is_record_area_included') %></label>

                    <div class="form-description">
                      <%= t(".is_record_area_included_description").html_safe %>
                    </div> 

                    <div class="radio-wrapper">
                      <input type="radio" value="true" name="detailed_notes_is_record_area_included_item_${
                        item.index
                      }" id="detailed_notes_is_record_area_included_item_${
                        item.index
                      }_true" data-index="${item.index}" data-key="is_record_area_included" ${
                        item.is_record_area_included === "true" && "checked"
                      } data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_is_record_area_included_item_${
                        item.index
                      }_true"><%= t(".option_yes") %></label>

                      <input type="radio" value="false" name="detailed_notes_is_record_area_included_item_${
                        item.index
                      }" id="detailed_notes_is_record_area_included_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="is_record_area_included" ${
                        item.is_record_area_included === "false" && "checked"
                      } data-toggle-target="detailed_notes_parcel_site_boundary_item_${
                        item.index
                      }" data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_is_record_area_included_item_${
                        item.index
                      }_false"><%= t(".option_no") %></label>
                    </div>
                  </div> 

                  <div id="detailed_notes_parcel_site_boundary_item_${
                    item.index
                  }" data-toggler=".hidden" class="field file-field relative ${
                        item.is_record_area_included !== "false" && "hidden"
                      } p-4 border-white border-4">
                    <label for="study_note_detailed_notes_parcel_site_boundary_${
                      item.index
                    }"><%= t("activemodel.attributes.study_note.parcel_site_boundary") %></label>

                    <div class="form-description">
                      <%= t(".parcel_site_boundary_description").html_safe %>
                    </div>

                    <input type="hidden" id="detailed_notes_is_parcel_site_boundary_included_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="is_parcel_site_boundary_included" value="false" />

                    <input type="file" name="study_note[parcel_site_boundary][]" id="study_note_detailed_notes_parcel_site_boundary_${
                      item.index
                    }" class="multifile hidden multifile--study-note-form" accept=".jpg,.jpeg,.pdf" multiple="false" data-index="${item.index}" data-key="parcel_site_boundary"/>
                    
                    <button type="button" class="study-note-file-button attachment-button-js" data-target="#study_note_detailed_notes_parcel_site_boundary_${
                      item.index
                    }"><%= t(".add_attachment") %></button>
                  </div>
                  
                  <div> 
                    <label for="detailed_notes_functional_profile_item_${
                      item.index
                    }"><%= t('activemodel.attributes.study_note.detailed_notes_functional_profile') %></label> 

                    <div class="radio-wrapper">
                      <input type="radio" value="true" name="detailed_notes_functional_profile_item_${
                        item.index
                      }" id="detailed_notes_functional_profile_item_${
                        item.index
                      }_true" data-index="${item.index}" data-key="functional_profile" ${
                        item.functional_profile === "true" && "checked"
                      } data-toggle-target="detailed_notes_functional_profile_details_item_${
                        item.index
                      }" data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_functional_profile_item_${
                        item.index
                      }_true"><%= t(".option_yes") %></label>

                      <input type="radio" value="false" name="detailed_notes_functional_profile_item_${
                        item.index
                      }" id="detailed_notes_functional_profile_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="functional_profile" ${
                        item.functional_profile === "false" && "checked"
                      } data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_functional_profile_item_${
                        item.index
                      }_false"><%= t(".option_no") %></label>
                    </div>
                  </div>

                  <div id="detailed_notes_functional_profile_details_item_${
                    item.index
                  }" data-toggler=".hidden" class="field file-field relative ${
                        item.functional_profile !== "true" && "hidden"
                      } p-4 border-white border-4">
                    <div class="flex flex-col gap-4">
                      <div>
                        <label for="study_note_detailed_notes_functional_profile_area_${
                          item.index
                        }"><%= t("activemodel.attributes.study_note.detailed_notes_functional_profile_area") %></label>

                        <select id="study_note_detailed_notes_functional_profile_area_${
                          item.index
                        }" data-index="${item.index}" data-key="functional_profile_area_id" value="${item.functional_profile_area_id || ''}" data-toggle-input="study_note_detailed_notes_functional_profile_area_classes_${item.index}_wrapper"> 
                          <option value>Wybierz strefę</option>  
                          <% t("activemodel.attributes.study_note.functional_profile_areas").each do |id, area| %>
                            <option value="<%= id %>" ${item.functional_profile_area_id === "<%= id %>" && "selected"}><%= area %></option>
                          <% end %>
                        </select>

                        <div class="help-text mt-2 empty:hidden" data-index="${item.index}" data-key="functional_profile_area_id"></div>
                      </div>

                      <div id="study_note_detailed_notes_functional_profile_area_classes_${item.index}_wrapper" class="hidden">
                        <label for="study_note_detailed_notes_functional_profile_area_classes_${
                          item.index
                        }"><%= t("activemodel.attributes.study_note.detailed_notes_functional_profile_area_classes") %></label>

                        <div class="checkboxed !flex flex-col gap-1 empty:hidden" id="study_note_detailed_notes_functional_profile_area_classes_${
                          item.index
                        }"></div>
                      </div>
                    </div>
                  </div> 

                  <div> 
                    <label for="detailed_notes_area_parameters_item_${
                      item.index
                    }"><%= t('activemodel.attributes.study_note.detailed_notes_area_parameters') %></label> 

                    <div class="radio-wrapper">
                      <input type="radio" value="true" name="detailed_notes_area_parameters_item_${
                        item.index
                      }" id="detailed_notes_area_parameters_item_${
                        item.index
                      }_true" data-index="${item.index}" data-key="area_parameters" ${
                        item.area_parameters === "true" && "checked"
                      } data-toggle-target="detailed_notes_area_parameters_details_item_${
                        item.index
                      }" data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_area_parameters_item_${
                        item.index
                      }_true"><%= t(".option_yes") %></label>

                      <input type="radio" value="false" name="detailed_notes_area_parameters_item_${
                        item.index
                      }" id="detailed_notes_area_parameters_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="area_parameters" ${
                        item.area_parameters === "false" && "checked"
                      } data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_area_parameters_item_${
                        item.index
                      }_false"><%= t(".option_no") %></label>
                    </div>
                  </div>
                  
                  <div id="detailed_notes_area_parameters_details_item_${
                    item.index
                  }" data-toggler=".hidden" class="field file-field relative ${
                        item.area_parameters !== "true" && "hidden"
                      } p-4 border-white border-4">
                    <div class="flex flex-col gap-4">
                      <div>
                        <div class="checkboxed !mt-0">
                          <label for="study_note_detailed_notes_area_parameters_max_height_intensity_${
                            item.index
                          }">
                            <input type="checkbox" id="study_note_detailed_notes_area_parameters_max_height_intensity_${
                              item.index
                              }" data-index="${item.index}" data-key="detailed_notes_area_parameters_max_height_intensity" data-toggle-input="detailed_notes_area_parameters_max_height_intensity_item_${
                                item.index
                              }" ${item.detailed_notes_area_parameters_max_height_intensity ? "checked" : ""} />

                            <%= t("activemodel.attributes.study_note.detailed_notes_area_parameters_max_height_intensity") %>
                          </label>
                        </div>

                        <input id="detailed_notes_area_parameters_max_height_intensity_item_${
                                    item.index
                                  }" type="number" value="${
                            item.max_height_intensity || ""
                          }" data-index="${
                            item.index
                          }" data-key="max_height_intensity" min="0" max="9999" data-validator="value_in_range fractional_part_max_length" maxlength="8" data-disable-character-counter="true" ${item.detailed_notes_area_parameters_max_height_intensity ? "" : "disabled"} />  
                        <span class="form-error" data-form-error-on="value_in_range"><%= t("errors.messages.not_in_range") %></span>
                        <span class="form-error" data-form-error-on="fractional_part_max_length"><%= t("errors.messages.fractional_part_max_length") %></span>
                        <span class="form-error" data-form-error-on="required"><%= t("errors.messages.required") %></span>
                      </div>

                      <div>
                        <div class="checkboxed !mt-0">
                          <label for="study_note_detailed_notes_area_parameters_max_height_building_${
                            item.index
                          }">
                            <input type="checkbox" id="study_note_detailed_notes_area_parameters_max_height_building_${
                              item.index
                              }" data-index="${item.index}" data-key="detailed_notes_area_parameters_max_height_building" data-toggle-input="detailed_notes_area_parameters_max_height_building_item_${
                                item.index
                              }" ${item.detailed_notes_area_parameters_max_height_building ? "checked" : ""} />

                            <%= t("activemodel.attributes.study_note.detailed_notes_area_parameters_max_height_building") %>
                          </label>
                        </div>

                        <input id="detailed_notes_area_parameters_max_height_building_item_${
                                    item.index
                                  }" type="number" value="${
                            item.max_height_building || ""
                          }" data-index="${
                            item.index
                          }" data-key="max_height_building" min="0" max="9999" data-validator="value_in_range fractional_part_max_length" maxlength="8" data-disable-character-counter="true" ${item.detailed_notes_area_parameters_max_height_building ? "" : "disabled"} />  
                        <span class="form-error" data-form-error-on="value_in_range"><%= t("errors.messages.not_in_range") %></span>
                        <span class="form-error" data-form-error-on="fractional_part_max_length"><%= t("errors.messages.fractional_part_max_length") %></span>
                        <span class="form-error" data-form-error-on="required"><%= t("errors.messages.required") %></span>
                      </div>

                      <div>
                        <div class="checkboxed !mt-0">
                          <label for="study_note_detailed_notes_area_parameters_max_percent_area_${
                            item.index
                          }">
                            <input type="checkbox" id="study_note_detailed_notes_area_parameters_max_percent_area_${
                              item.index
                              }" data-index="${item.index}" data-key="detailed_notes_area_parameters_max_percent_area" data-toggle-input="detailed_notes_area_parameters_max_percent_area_item_${
                                item.index
                              }" ${item.detailed_notes_area_parameters_max_percent_area ? "checked" : ""} />

                            <%= t("activemodel.attributes.study_note.detailed_notes_area_parameters_max_percent_area") %>
                          </label>
                        </div>

                        <input id="detailed_notes_area_parameters_max_percent_area_item_${
                                    item.index
                                  }" type="number" value="${
                            item.max_percent_area || ""
                          }" data-index="${
                            item.index
                          }" data-key="max_percent_area" min="0" max="100" data-validator="value_in_range fractional_part_max_length" maxlength="8" data-disable-character-counter="true" ${item.detailed_notes_area_parameters_max_percent_area ? "" : "disabled"} />  
                        <span class="form-error" data-form-error-on="value_in_range"><%= t("errors.messages.not_in_range") %></span>
                        <span class="form-error" data-form-error-on="fractional_part_max_length"><%= t("errors.messages.fractional_part_max_length") %></span>
                        <span class="form-error" data-form-error-on="required"><%= t("errors.messages.required") %></span>
                      </div>

                      <div>
                        <div class="checkboxed !mt-0">
                          <label for="study_note_detailed_notes_area_parameters_min_percent_bio_${
                            item.index
                          }">
                            <input type="checkbox" id="study_note_detailed_notes_area_parameters_min_percent_bio_${
                              item.index
                              }" data-index="${item.index}" data-key="detailed_notes_area_parameters_min_percent_bio" data-toggle-input="detailed_notes_area_parameters_min_percent_bio_item_${
                                item.index
                              }" ${item.detailed_notes_area_parameters_min_percent_bio ? "checked" : ""} />

                            <%= t("activemodel.attributes.study_note.detailed_notes_area_parameters_min_percent_bio") %>
                          </label>
                        </div>

                        <input id="detailed_notes_area_parameters_min_percent_bio_item_${
                                    item.index
                                  }" type="number" value="${
                            item.min_percent_bio || ""
                          }" data-index="${
                            item.index
                          }" data-key="min_percent_bio" min="0" max="100" data-validator="value_in_range fractional_part_max_length" maxlength="8" data-disable-character-counter="true" ${item.detailed_notes_area_parameters_min_percent_bio ? "" : "disabled"} />  
                        <span class="form-error" data-form-error-on="value_in_range"><%= t("errors.messages.not_in_range") %></span>
                        <span class="form-error" data-form-error-on="fractional_part_max_length"><%= t("errors.messages.fractional_part_max_length") %></span>
                        <span class="form-error" data-form-error-on="required"><%= t("errors.messages.required") %></span>
                      </div>
                    </div>
                  </div> 

                  <div> 
                    <label for="detailed_notes_infill_development_item_${
                      item.index
                    }"><%= t('activemodel.attributes.study_note.detailed_notes_infill_development') %></label> 

                    <div class="radio-wrapper">
                      <input type="radio" value="true" name="detailed_notes_infill_development_item_${
                        item.index
                      }" id="detailed_notes_infill_development_item_${
                        item.index
                      }_true" data-index="${item.index}" data-key="infill_development" ${
                        item.infill_development === "true" && "checked"
                      } data-toggle-target="detailed_notes_infill_development_details_item_${
                        item.index
                      }" data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_infill_development_item_${
                        item.index
                      }_true"><%= t(".option_yes") %></label>

                      <input type="radio" value="false" name="detailed_notes_infill_development_item_${
                        item.index
                      }" id="detailed_notes_infill_development_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="infill_development" ${
                        item.infill_development === "false" && "checked"
                      } data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_infill_development_item_${
                        item.index
                      }_false"><%= t(".option_no") %></label>
                    </div>
                  </div>
                  
                  <div id="detailed_notes_infill_development_details_item_${
                    item.index
                  }" data-toggler=".hidden" class="field file-field relative ${
                        item.infill_development !== "true" && "hidden"
                      } p-4 border-white border-4">
                    <div class="flex flex-col">
                      <div class="radio-wrapper radio-wrapper--single">
                        <input type="radio" value="true" name="detailed_notes_infill_development_include_item_${
                          item.index
                        }" id="detailed_notes_infill_development_include_item_${
                          item.index
                        }_true" data-index="${item.index}" data-key="infill_development_include" ${
                          item.infill_development_include === "true" && "checked"
                        } data-toggle-target="detailed_notes_infill_development_include_details_item_${
                          item.index
                        }">
                        <label for="detailed_notes_infill_development_include_item_${
                          item.index
                        }_true"><%= t("activemodel.attributes.study_note.detailed_notes_infill_development_include") %></label>
                      </div>

                      <div class="radio-wrapper radio-wrapper--single">
                        <input type="radio" value="false" name="detailed_notes_infill_development_include_item_${
                          item.index
                        }" id="detailed_notes_infill_development_include_item_${
                          item.index
                        }_false" data-index="${
                          item.index
                        }" data-key="infill_development_include" ${
                          item.infill_development_include === "false" && "checked"
                        }>
                        <label for="detailed_notes_infill_development_include_item_${
                          item.index
                        }_false"><%= t("activemodel.attributes.study_note.detailed_notes_infill_development_exclude") %></label>
                      </div> 
                    </div>
                  </div>
                  
                  <div> 
                    <label for="detailed_notes_inner_city_development_item_${
                      item.index
                    }"><%= t('activemodel.attributes.study_note.detailed_notes_inner_city_development') %></label> 

                    <div class="radio-wrapper">
                      <input type="radio" value="true" name="detailed_notes_inner_city_development_item_${
                        item.index
                      }" id="detailed_notes_inner_city_development_item_${
                        item.index
                      }_true" data-index="${item.index}" data-key="inner_city_development" ${
                        item.inner_city_development === "true" && "checked"
                      } data-toggle-target="detailed_notes_inner_city_development_details_item_${
                        item.index
                      }" data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_inner_city_development_item_${
                        item.index
                      }_true"><%= t(".option_yes") %></label>

                      <input type="radio" value="false" name="detailed_notes_inner_city_development_item_${
                        item.index
                      }" id="detailed_notes_inner_city_development_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="inner_city_development" ${
                        item.inner_city_development === "false" && "checked"
                      } data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_inner_city_development_item_${
                        item.index
                      }_false"><%= t(".option_no") %></label>
                    </div>
                  </div>
                  
                  <div id="detailed_notes_inner_city_development_details_item_${
                    item.index
                  }" data-toggler=".hidden" class="field file-field relative ${
                        item.inner_city_development !== "true" && "hidden"
                      } p-4 border-white border-4">
                    <div class="flex flex-col">
                      <div class="radio-wrapper radio-wrapper--single">
                        <input type="radio" value="true" name="detailed_notes_inner_city_development_include_item_${
                          item.index
                        }" id="detailed_notes_inner_city_development_include_item_${
                          item.index
                        }_true" data-index="${item.index}" data-key="inner_city_development_include" ${
                          item.inner_city_development_include === "true" && "checked"
                        } data-toggle-target="detailed_notes_inner_city_development_include_details_item_${
                          item.index
                        }">
                        <label for="detailed_notes_inner_city_development_include_item_${
                          item.index
                        }_true"><%= t("activemodel.attributes.study_note.detailed_notes_inner_city_development_include") %></label>
                      </div>

                      <div class="radio-wrapper radio-wrapper--single">
                        <input type="radio" value="false" name="detailed_notes_inner_city_development_include_item_${
                          item.index
                        }" id="detailed_notes_inner_city_development_include_item_${
                          item.index
                        }_false" data-index="${
                          item.index
                        }" data-key="inner_city_development_include" ${
                          item.inner_city_development_include === "false" && "checked"
                        }>
                        <label for="detailed_notes_inner_city_development_include_item_${
                          item.index
                        }_false"><%= t("activemodel.attributes.study_note.detailed_notes_inner_city_development_exclude") %></label>
                      </div> 
                    </div>
                  </div>

                  <div> 
                    <label for="detailed_notes_social_infrastructure_accessibility_item_${
                      item.index
                    }"><%= t('activemodel.attributes.study_note.detailed_notes_social_infrastructure_accessibility') %></label> 

                    <div class="radio-wrapper">
                      <input type="radio" value="true" name="detailed_notes_social_infrastructure_accessibility_item_${
                        item.index
                      }" id="detailed_notes_social_infrastructure_accessibility_item_${
                        item.index
                      }_true" data-index="${item.index}" data-key="detailed_notes_social_infrastructure_accessibility" ${
                        item.detailed_notes_social_infrastructure_accessibility === "true" && "checked"
                      } data-toggle-target="detailed_notes_social_infrastructure_accessibility_details_item_${
                        item.index
                      }" data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_social_infrastructure_accessibility_item_${
                        item.index
                      }_true"><%= t(".option_yes") %></label>

                      <input type="radio" value="false" name="detailed_notes_social_infrastructure_accessibility_item_${
                        item.index
                      }" id="detailed_notes_social_infrastructure_accessibility_item_${
                        item.index
                      }_false" data-index="${
                        item.index
                      }" data-key="detailed_notes_social_infrastructure_accessibility" ${
                        item.detailed_notes_social_infrastructure_accessibility === "false" && "checked"
                      } data-validator="required_if_detailed_notes">
                      <label for="detailed_notes_social_infrastructure_accessibility_item_${
                        item.index
                      }_false"><%= t(".option_no") %></label>
                    </div>
                  </div>
                  
                  <div id="detailed_notes_social_infrastructure_accessibility_details_item_${
                    item.index
                  }" data-toggler=".hidden" class="field file-field relative ${
                        item.detailed_notes_social_infrastructure_accessibility !== "true" && "hidden"
                      } p-4 border-white border-4">
                    <div>
                      <label for="detailed_notes_social_infrastructure_accessibility_body_item_${
                        item.index
                      }" ><%= t('activemodel.attributes.study_note.detailed_notes_social_infrastructure_accessibility_body') %></label>
                      <textarea data-maxlength="1000" data-validator="value_below_limit" id="detailed_notes_social_infrastructure_accessibility_body_item_${
                        item.index
                      }" rows="8" data-remaining-characters="#detailed_notes_social_infrastructure_accessibility_body_item_${
                        item.index
                      }-characters" aria-describedby="detailed_notes_social_infrastructure_accessibility_body_item_${
                        item.index
                      }-characters" data-index="${item.index}" data-key="social_infrastructure_accessibility_body">${
                        item.social_infrastructure_accessibility_body || ""
                      }</textarea>
                      <span class="form-error" data-form-error-on="required"><%= t("errors.messages.required") %></span>
                      <span class="form-error" data-form-error-on="value_below_limit"><%= t("decidim.forms.errors.messages.value_below_limit", count: 1000) %></span>
                    </div>
                  </div>

                  <button type="button" class="multiple-hash-input__delete-button multiple-hash-input__delete-button-js" data-index="${
                    item.index
                  }">
                    <%= image_pack_tag("media/images/trash.svg", alt: "") %>

                    <span>
                      <%= t(".delete_item") %>
                    </span>
                  </button>
                </div>
              </li>              
            `
        );
      });

      detailedNotes.slice(append ? -1 : undefined).forEach(function (item) {
        $("#selected_detailed_note_id").append(
          `<option value="${item.index}"><%= t(".area") %> ${parseInt(item.index + 1)}</option>`
        );
      });

      if (append) {
        $(
          "#detailed_notes .multiple-hash-input__items > li:last-of-type"
        ).foundation();
        $(
          "#detailed_notes .multiple-hash-input__items > li:last-of-type textarea[data-maxlength]"
        ).data(
          "remaining-characters-counter",
          new Decidim.InputCharacterCounter(
            $(
              "#detailed_notes .multiple-hash-input__items > li:last-of-type textarea[data-maxlength]"
            )
          )
        );     
      } else {
        $(
          "#detailed_notes .multiple-hash-input__items"
        ).foundation(); 
        $(
          "#detailed_notes .multiple-hash-input__items textarea[data-maxlength]"
        ).data(
          "remaining-characters-counter",
          new Decidim.InputCharacterCounter(
            $(
              "#detailed_notes .multiple-hash-input__items textarea[data-maxlength]"
            )
          )
        );  
      }

      renderFunctionalProfileAreaInfo();
    }

    function renderFunctionalProfileAreaInfo() {
      var detailedNotes = JSON.parse(
        $("#study_note_detailed_notes").val() ||
          `[{"index": "0", "name": "Plan ogólny gminy"}]`
      );

      detailedNotes.forEach(function (item) {
        const index = item.index;
        const value = item.functional_profile_area_id;
        const selectedClasses = item.functional_profile_area_classes || []; 

        let helpText = "";
        let checkboxesHtml = "";

        <% t("activemodel.attributes.study_note.functional_profile_areas_main_profile").each do |id, text| %>
          if(value == "<%= id %>") {
            $(`#study_note_detailed_notes_functional_profile_area_classes_${index}_wrapper`).removeClass("hidden");
            $(`#study_note_detailed_notes_functional_profile_area_classes_${index}_wrapper`).removeAttr("hidden");            

            helpText = `Profil podstawowy strefy <%= id %>: <%= j text %>`;

            const toggleCheckboxes = `<%= t("activemodel.attributes.study_note.functional_profile_area_classes." + id.to_s).split(",").each_with_index.map { |item, index| "study_note_detailed_notes_functional_profile_area_classes_${index}_#{index}" }.join(", ") %>`.replace(/\$\{index\}/g, index);

            checkboxesHtml = `
              <% t("activemodel.attributes.study_note.functional_profile_area_classes." + id.to_s).split(",").each_with_index do |class_name, class_id| %>
                <div>
                  <label for="study_note_detailed_notes_functional_profile_area_classes_${index}_<%= class_id %>">
                    <input type="checkbox" id="study_note_detailed_notes_functional_profile_area_classes_${index}_<%= class_id %>" name="study_note_detailed_notes_functional_profile_area_classes_${index}" data-index="${index}" data-key="functional_profile_area_classes" value="<%= class_name %>" data-mode="multiple" ${selectedClasses.includes("<%= class_name %>") && "checked"} ${selectedClasses.includes("nie chcę, aby strefa miała profil dodatkowy") && "disabled"} />
                    <%= class_name %>
                  </label>
                </div>
              <% end %>

              <div>
                <label for="study_note_detailed_notes_functional_profile_area_classes_${index}_null">
                  <input type="checkbox" id="study_note_detailed_notes_functional_profile_area_classes_${index}_null" name="study_note_detailed_notes_functional_profile_area_classes_${index}" required data-index="${index}" data-key="functional_profile_area_classes" value="nie chcę, aby strefa miała profil dodatkowy" data-toggle-input="${toggleCheckboxes}" data-mode="multiple" ${selectedClasses.includes("nie chcę, aby strefa miała profil dodatkowy") && "checked"} />
                  nie chcę, aby strefa miała profil dodatkowy
                </label>
              </div>
            `;
          }
        <% end %>

        $(
          `div.help-text[data-index='${index}'][data-key='functional_profile_area_id']`
        ).html(helpText);

        $(`#study_note_detailed_notes_functional_profile_area_classes_${index}`).html(checkboxesHtml);

        $(`#study_note_detailed_notes_functional_profile_area_classes_${index}`).find("input[type=checkbox]").each(function() {
          $(this).on("change", function(event) {
            var detailedNotes = JSON.parse(
              $("#study_note_detailed_notes").val() ||
                `[{"index": "0", "name": "Plan ogólny gminy"}]`
            );
            var index = parseInt($(this).data("index"));
            var key = $(this).data("key");
            var mode = $(this).data("mode");

            var value = event.target.value;  

            if(mode === "multiple") {
              var existingValues = detailedNotes[index][key] || [];
              
              if(value === "nie chcę, aby strefa miała profil dodatkowy") {
                if($(this).is(":checked")) {
                  existingValues = ["nie chcę, aby strefa miała profil dodatkowy"]; 
                } else {
                  existingValues = existingValues.filter(function(item) {
                    return item !== value;
                  });
                }
              } else {
                if($(this).is(":checked")) {
                  existingValues.push(value);
                } else {
                  existingValues = existingValues.filter(function(item) {
                    return item !== value;
                  });
                }
              } 

              detailedNotes[index][key] = [...new Set(existingValues)]; 
            } else {
              detailedNotes[index][key] = value;
            }

            $("#study_note_detailed_notes").val(
              JSON.stringify(detailedNotes)
            );
          });
        });
      });

      Foundation.reInit("abide");
    }


    function initDetailedNotesChangeEvents() {
      $(
        "#detailed_notes input, #detailed_notes textarea, #detailed_notes select"
      ).on("change", function (event) {
        var detailedNotes = JSON.parse(
          $("#study_note_detailed_notes").val() ||
            `[{"index": "0", "name": "Plan ogólny gminy"}]`
        );
        var index = parseInt($(this).data("index"));
        var key = $(this).data("key");
        var mode = $(this).data("mode");

        var value = event.target.value; 

        if(mode === "multiple") {
          var existingValues = detailedNotes[index][key] || [];
          
          if(value === "nie chcę, aby strefa miała profil dodatkowy") {
            if($(this).is(":checked")) {
              existingValues = ["nie chcę, aby strefa miała profil dodatkowy"]; 
            } else {
              existingValues = existingValues.filter(function(item) {
                return item !== value;
              });
            }
          } else {
            if($(this).is(":checked")) {
              existingValues.push(value);
            } else {
              existingValues = existingValues.filter(function(item) {
                return item !== value;
              });
            }
          } 

          detailedNotes[index][key] = [...new Set(existingValues)];
        } else {
          detailedNotes[index][key] = value;
        }

        if(key === "functional_profile_area_id") { 
          detailedNotes[index]["functional_profile_area_classes"] = [];
        }

        $("#study_note_detailed_notes").val(
          JSON.stringify(detailedNotes)
        );

        if (key === "functional_profile_area_id") {
          renderFunctionalProfileAreaInfo();
        }
      });

      $("#detailed_notes .multiple-hash-input__delete-button-js").off("click");
      $(
        "#detailed_notes .multiple-hash-input__delete-button-js"
      ).on("click", function () {
        var index = $(this).data("index");
        var detailedNotes = JSON.parse(
          $("#study_note_detailed_notes").val() ||
            `[{"index": "0", "name": "Plan ogólny gminy"}]`
        );
        detailedNotes = detailedNotes.filter(function (item) {
          return item.index != index;
        });

        detailedNotes = detailedNotes.map(function(item, newIndex) {
          return {
            ...item,
            index: newIndex
          };
        });

        $("#study_note_detailed_notes").val(
          JSON.stringify(detailedNotes)
        );

        renderDetailedNotes();
        initDetailedNotesChangeEvents();
      });

      $("#detailed_notes .multiple-hash-input__items > li").each(
        function () {
          const index = this.id.split("_").pop();
          const regex = new RegExp(
            `detailed_notes_(parcel_id|body|is_record_area_included)_item_${index}`
          );

          $("input:not([type=radio]), textarea")
            .filter(function () {
              return this.id.match(regex);
            })
            .on("change", function (event) {
              const inputs = $("input:not([type=radio]), textarea").filter(
                function () {
                  return this.id.match(regex);
                }
              );
              const radioInputs = $("input[type=radio]").filter(function () {
                return this.id.match(regex);
              });

              if (event.target.value.length > 0) {
                inputs.attr("required", "required");
                radioInputs.attr("required", "required");
                inputs.each(function () {
                  const label = $("label[for='" + this.id + "']");
                  label.find("span.asterisk").remove();
                  $(label).append('<span class="asterisk">*</span>');
                });
              } else {
                const emptyInputs = $("input:not([type=radio]), textarea").filter(
                  function () {
                    return this.id.match(regex) && this.value === "";
                  }
                );

                if (emptyInputs.length === inputs.length) {
                  inputs.removeAttr("required");
                  radioInputs.removeAttr("required");
                  inputs.each(function () {
                    $("#new_study_note_").foundation(
                      "validateInput",
                      $(this)
                    );

                    const label = $("label[for='" + this.id + "']");
                    label.find("span.asterisk").remove();
                  });
                }
              }
            });
        }
      );

      $("#detailed_notes").on("change", "input[type=radio]", function(event) { 
        const name = $(this).attr("name");
        const radioGroup = $(`input[type=radio][name="${name}"]`);

        if (name.includes("detailed_notes_functional_profile")) {
          renderFunctionalProfileAreaInfo();
        };
        
        radioGroup.filter("[data-toggle-target]").each(function() {
          const targetElement = $(`#${$(this).data("toggle-target")}`); 

          if ($(this).is(":checked")) {
            targetElement.removeClass("hidden"); 
            targetElement.removeAttr("hidden");

            targetElement.find("input, textarea, select").not("[type=file], [type=checkbox], [type=number]").each(function() { 
              $(this).removeAttr("disabled"); 
              $(this).attr("required", "required");

              if($(this).is("[type=radio]")) return;
              
              const label = $("label[for='" + this.id + "']"); 

              label.find("span.asterisk").remove();
              label.append('<span class="asterisk">*</span>');
            }); 

            targetElement.find("input[type=checkbox], input[type=number], input[type=radio]").each(function() {
              $(this).removeAttr("data-abide-ignore")
            });
          } else {
            targetElement.addClass("hidden");
            targetElement.attr("hidden", "");
            
            targetElement.find("input, textarea, select").not("[type=file], [type=checkbox], [type=number]").each(function() {
              $(this).attr("disabled", ""); 
              $(this).removeAttr("required"); 

              if($(this).is("[type=radio]")) return;

              const label = $("label[for='" + this.id + "']"); 
            
              label.find("span.asterisk").remove();

              $("#new_study_note_").foundation("removeErrorClasses", $(this));
            }); 

            targetElement.find("input[type=checkbox], input[type=number], input[type=radio]").each(function() {
              $(this).attr("data-abide-ignore", "");
              $('#new_study_note_').foundation('removeErrorClasses', $(this));
            });
          }
        });
      });

      $("#detailed_notes").on("change", "input[type=checkbox][data-toggle-input]", function(event) { 
        if ($(this).data("toggle-input").includes(",")) {
          const targetIds = $(this).data("toggle-input").split(",");

          targetIds.forEach(function(targetId) {
            const targetElement = $(`#${targetId.trim()}`); 

            if ($(this).is(":checked")) { 
              targetElement.attr("disabled", ""); 
              targetElement.prop("checked", false); 
            } else { 
              targetElement.removeAttr("disabled"); 
            } 
          }.bind(this));
        } else {
          const targetElement = $(`#${$(this).data("toggle-input")}`); 
          const label = $("label[for='" + targetElement.attr("id") + "']");

          if ($(this).is(":checked")) { 
            targetElement.removeAttr("disabled");
            targetElement.attr("required", "required");

            label.find("span.asterisk").remove();
            label.append('<span class="asterisk">*</span>');
          } else { 
            targetElement.attr("disabled", "");
            targetElement.removeAttr("required");

            label.find("span.asterisk").remove();

            $("#new_study_note_").foundation("removeErrorClasses", targetElement);
          }
        }
      });

      $("#detailed_notes").on("change", "select[data-toggle-input]", function(event) { 
        const targetElement = $(`#${$(this).data("toggle-input")}`); 

        if ($(this).val().length > 0) { 
          targetElement.removeClass("hidden");
          targetElement.removeAttr("hidden");
        } else { 
          targetElement.addClass("hidden");
          targetElement.attr("hidden", "");
        } 
      });
      
      $("#detailed_notes input[type=file]")
        .not(".MultiFile-applied")
        .MultiFile({
          max: 1,
          STRING: {
            remove: "usuń",
            denied: "Ten format pliku $ext jest niedozwolony.",
            file: "$file",
            selected: "Wybrany plik: $file",
            duplicate: "Ten plik już został wybrany:\n$file",
            toomuch: "Łączny rozmiar plików przekracza limit ($size)",
            toomany: "Niedozwolona liczba plików (maks: $max)",
            toobig: "$file ma za duży rozmiar (maks: $size)",
          },
          afterFileAppend: function (element, value, master_element) {
            if (master_element.files.length >= 1) {
              $(this).parent().find(".attachment-button-js").hide();
              $(this).parent().find("[id^=detailed_notes_is_parcel_site_boundary_included]").val(true);
              $(this).parent().find("[id^=detailed_notes_is_parcel_site_boundary_included]").trigger("change");
            }
          },
          afterFileRemove: function (element, value, master_element) {
            if (master_element.files.length < 1) {
              $(this).parent().find(".attachment-button-js").show();
              $(this).parent().find("[id^=detailed_notes_is_parcel_site_boundary_included]").val(false);
              $(this).parent().find("[id^=detailed_notes_is_parcel_site_boundary_included]").trigger("change");
            }
          },
        });

      $(".show-map-modal-js").click(function(e) {
        e.preventDefault();
        const id = $(this).data("detailed-note-id");
        
        if(id !== window.Decidim.currentDetailedNoteId){
          window.Decidim.currentDetailedNoteId = id;

          if (window.Decidim.studyNoteMap){
            window.Decidim.studyNoteMapRefreshParcelsLayer(window.Decidim.studyNoteMap);
          }
        }
        
        window.Decidim.currentDialogs.mapModal.open(e.currentTarget);
      });

      
      $(".attachment-button-js")
        .not(".AttachmentButton-applied")
        .each(function () {
          $(this).addClass("AttachmentButton-applied");
        })
        .click(function (e) {
          e.preventDefault(); 

          var target_id = $(this).data("target");
          $(this)
            .closest("div")
            .find(target_id + " > input")
            .last()
            .click();
        });
    }

    $("#detailed_notes .multiple-hash-input__add-button-js").on(
      "click",
      function () {
        var detailedNotes = JSON.parse(
          $("#study_note_detailed_notes").val() ||
            `[{"index": "0", "name": "Plan ogólny gminy"}]`
        );
        detailedNotes.push({
          index: detailedNotes.length,
        });
        $("#study_note_detailed_notes").val(
          JSON.stringify(detailedNotes)
        );

        renderDetailedNotes(true);
        initDetailedNotesChangeEvents();
      }
    );

    $("input[type=file]#study_note_attorney_power_payment_stamp_duty_confirm, input[type=file]#study_note_attorney_power_represent_applicant_or_for_service")
      .not(".MultiFile-applied")
      .MultiFile({
        max: 1,
        STRING: {
          remove: "usuń",
          denied: "Ten format pliku $ext jest niedozwolony.",
          file: "$file",
          selected: "Wybrany plik: $file",
          duplicate: "Ten plik już został wybrany:\n$file",
          toomuch: "Łączny rozmiar plików przekracza limit ($size)",
          toomany: "Niedozwolona liczba plików (maks: $max)",
          toobig: "$file ma za duży rozmiar (maks: $size)",
        },
        afterFileAppend: function (element, value, master_element) {
          if (master_element.files.length >= 1) {
            $(this).parent().find(".attachment-button-js").hide();
          }
        },
        afterFileRemove: function (element, value, master_element) {
          if (master_element.files.length < 1) {
            $(this).parent().find(".attachment-button-js").show();
          }
        },
      });

    $("input[type=file]#study_note_files")
      .not(".MultiFile-applied")
      .MultiFile({
        max: 2,
        STRING: {
          remove: "usuń",
          denied: "Ten format pliku $ext jest niedozwolony.",
          file: "$file",
          selected: "Wybrany plik: $file",
          duplicate: "Ten plik już został wybrany:\n$file",
          toomuch: "Łączny rozmiar plików przekracza limit ($size)",
          toomany: "Niedozwolona liczba plików (maks: $max)",
          toobig: "$file ma za duży rozmiar (maks: $size)",
        },
        afterFileAppend: function (element, value, master_element) {
          master_element.files.forEach(function (file, index) {
            if (index === 0 && master_element.files.length > 1) {
              if (
                $(`#study_note_files_list > div:eq(${index})`).hasClass(
                  "MultiFile-label--added-inputs"
                )
              ) {
                return;
              } else {
                $(`#study_note_files_list > div:eq(${index})`).append(
                  `
                    <div>
                      <label for="files_filename_one" ><%= t('activemodel.attributes.study_note.files_filename_one') %> 1</label>
                      <input id="files_filename_one" type="text" name="study_note[files_filename_one]" required /> 
                      <span class="form-error"><%= t("errors.messages.required") %></span>
                    </div>
                    <div>
                      <label for="files_filename_two" ><%= t('activemodel.attributes.study_note.files_filename_two') %> 2</label>
                      <input id="files_filename_two" type="text" name="study_note[files_filename_two]" required /> 
                      <span class="form-error"><%= t("errors.messages.required") %></span>
                    </div>
                  `
                );
                $(`#study_note_files_list > div:eq(${index})`).addClass(
                  "MultiFile-label--added-inputs"
                );
              }
            }

            if (
              !$(`#study_note_files_list > div:eq(${index})`).hasClass(
                "MultiFile-label--added-inputs"
              )
            ) {
              $(`#study_note_files_list > div:eq(${index})`).append(
                `
                  <div>
                    <label for="files_filename_${
                      index === 0 ? "one" : "two"
                    }" ><%= t('activemodel.attributes.study_note.files_filename_one') %></label>
                    <input id="files_filename_${
                      index === 0 ? "one" : "two"
                    }" type="text" name="study_note[files_filename_${
                  index === 0 ? "one" : "two"
                }]" required /> 
                    <span class="form-error"><%= t("errors.messages.required") %></span>
                  </div>
                `
              );

              $(`#study_note_files_list > div:eq(${index})`).addClass(
                "MultiFile-label--added-inputs"
              );
            }

            Foundation.reInit("abide");
          });

          if (master_element.files.length >= 2) {
            $(this).parent().find(".attachment-button-js").hide();
          }
        },
        afterFileRemove: function (element, value, master_element) {
          if (master_element.files.length < 2) {
            $(this).parent().find(".attachment-button-js").show();
          }
        },
      });

      $(document).ready(function () {
        renderDetailedNotes();
        initDetailedNotesChangeEvents();
      });
  <% end %>
<% end %>