<main>
  <div class="participatory-space__container">     
    <section class="py-6"> 
      <%= link_to study_notes_path + "#subcontent", class: "back-link" do %>
        <%= icon "arrow-go-back-line", class: "icon--small", role: "img", "aria-hidden": true %>
        <span><%= t(".back") %></span>
      <% end %>
    </section>

    <section class="study-note-wrapper">
      <div class="study-note-success">
        <div class="study-note-success__popup"> 
          <div class="inner">
            <h3><%= t(".heading") %></h3>

            <p><%= t(".thank_you_html") %></p>

            <% if study_note.email_confirmation_request.present? %>
              <p><%= t(".email_sent") %></p>
            <% end %>

            <br />
            <%= link_to study_note_path(study_note, uuid: study_note.uuid, format: :pdf), class: "pdf-link flex", rel: "noopener", title: "Pobierz" do %> 
              <%= t(".download_pdf") %><%= icon "download-2-line" %>
            <% end %>
          </div>

          <div class="foot">
            <%= link_to t(".send_new"), study_notes_path + "#subcontent", class: "button button__sm button__transparent-secondary" %>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>