<div class="documents__container custom-container-wrapper mt-4 min-h-[86px] flex justify-center flex-col">
  <div class="card--list__text" id="attachment_<%= file.id %>">
    <div>
      <a href="<%= Rails.application.routes.url_helpers.rails_blob_path(file.file, only_path: true) %>" class="card__link" target="_blank">
        <span class="card--list__text">
          <%= file.name %>
        </span>
      </a><br />

      <small>
        <%= file.file.filename.extension_without_delimiter.upcase %>,
        <%= '%.2f' % ((file.file.byte_size / 1024000.0).ceil(2)) %> MB
      </small>
    </div>
    <div class="card--list__data">
      <%= link_to Rails.application.routes.url_helpers.rails_blob_path(file.file, only_path: true), target: "_blank", rel: "noopener", class: "card--list__data__icon", title: t("download", scope: 'decidim.application.document'), data: { "external-link": "false" } do %>
        <span class="show-for-sr"><%= file.name %> otwiera się w nowej karcie</span>
        <%= image_pack_tag "media/images/download-icon.png", alt: '' %>
      <% end %>
    </div>
  </div>
</div>
