<%# View for PAGES COMPONENT (not static pages) %>

<div class="wrapper--knowledge-base" id="subcontent">
  <% if pages.any? %>
    <div class="row ">
      <div class="column">
        <div class="topic">
          <div class="topic__articles">
            <% pages.each do |article| %>
              <div class="card article article--component-pages custom-article--component-pages" id="article-<%= article.id %>">
                <button aria-controls="<%= article.slug %>-content" class="card__title" data-url="<%= article.slug %>" id="<%= article.slug %>" aria-expanded="false">
                  <h3 class="section-title"><%= translated_attribute article.title %></h3>

                  <img src="<%= asset_pack_path('media/images/arrow-down-s-line.svg') %>" width="32" height="32" alt="" class="toggle-button" />
                </button>

                <div class="card__content custom-card__content" id="<%= article.slug %>-content"  aria-labelledby="<%= article.slug %>" role="region">
                  <div class="editor-content">
                    <%= quill_sanitize translated_attribute article.content %>
                  </div>

                  <%= render 'decidim/shared/gallery_attachments', model: article %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= append_javascript_pack_tag "pages_extended_expanding" %>
