<% add_decidim_page_title(t(".title")) %>
<div class="item_show__header">
  <h1 class="item_show__header-title">
    <%= t ".title" %>
  </h1>
</div>

<div class="item__edit-form">
  <%= decidim_form_for(@form, url: admin_file_path(@file), html: {  id: 'edit_file_form', autocomplete: 'off', class: "form-defaults form scope_types_new" }) do |f| %>
    <%= render partial: "form", object: f %>
    <div class="item__edit-sticky">
      <div class="item__edit-sticky-container">
        <%= link_to t("actions.cancel", scope: "decidim.admin"), admin_files_path, class: 'button button__sm button__transparent-secondary' %>
        <%= f.submit t(".update"), class: "button button__sm button__secondary" %>
        <%= f.button 'Zapisz jako kopię',
                     type: 'input',
                     name: "subaction",
                     value: "save_as_copy",
                     action: :post,
                     class: 'button button__sm button__secondary' %>
      </div>
    </div>
  <% end %>
</div>

<%= append_javascript_pack_tag "image_editor" %>

<% if @file.image? %>
  <%= nonced_javascript_tag do %>
    document.addEventListener("DOMContentLoaded", function() {
      async function dataUrlToFile(dataUrl, fileName) {
      const res = await fetch(dataUrl);
      const blob = await res.blob();
      return new File([blob], fileName, { type: "image/png" });
    }

    let imageEditorApi;

    window.renderImageEditor(document.getElementById("root"), {
      width: 1000,
      height: 1000,
      imageUrl: "<%= only_image_path(@file) %>",
      onInit: (canvasApi) => (imageEditorApi = canvasApi),
    });
    });
  <% end %>
<% end %>
