<%= decidim_form_for(@form, url: admin_file_path(@file), html: { id: 'edit_file_form', autocomplete: 'off' }) do |f| %>
  <div id="root"></div>
  <div class="card">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title" %></h2>
    </div>
    <div class="card-section">
      <%= render partial: "form", object: f %>
    </div>
  </div>
  <div class="button--double form-general-submit">
    <%= link_to 'anuluj', admin_files_path, class: 'button hollow' %>
    <%= f.submit t(".update") %>
    <%= f.submit 'Zapisz jako kopię', name: 'save_as_copy', value: 'save_as_copy' %>
  </div>
<% end %>

<% if @file.image? %>
  <%= javascript_include_tag "decidim/repository/admin/image-editor.1.0.0" %>

  <%= javascript_tag do %>
    async function dataUrlToFile(dataUrl, fileName) {
      const res = await fetch(dataUrl);
      const blob = await res.blob();
      return new File([blob], fileName, { type: "image/png" });
    }

    window.renderImageEditor(document.getElementById("root"), {
      width: 1000,
      height: 1000,
      imageUrl: "<%= decidim_repository.blob_path(@file.file.signed_id, filename: @file.file.filename, disposition: "attachment") %>",
      onSaveButtonClick: async (base64) => {
        const file = await dataUrlToFile(base64, "<%= @file.file.filename %>");
        let container = new DataTransfer();
        container.items.add(file);
        document.getElementById("file_file_input").files = container.files;
      },
      onSaveAsButtonClick: (base64) => alert(base64),
    });

    // FIX: foundation submit with button value problem
    $(document).ready(() => {
      $("form").find('[type="submit"]').off('click.zf.abide keydown.zf.abide')
    })
  <% end %>
<% end %>