<% add_decidim_page_title(t("decidim.admin.titles.files")) %>

<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t "decidim.admin.titles.files" %>

      <%= render partial: "decidim/repository/admin/switch_between_tiles_or_list" %>

      <%= link_to t("actions.add_file", scope: "decidim.admin"),
                  [:new, :admin, :file],
                  class: "button button__sm button__secondary" %>
    </h1>
  </div>
  <%= render partial: "decidim/repository/admin/filters" %>
  <%= render partial: "decidim/repository/admin/tiles_or_list" %>
</div>

<%= decidim_paginate @files %>
