<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">
      <div class="row column">
        <%= form.text_field :name %>
      </div>

      <div class="row column">
        <%= form.number_field :position %>
      </div>

      <div class="row column">
        <%= form.file_field :file %>
      </div>

      <div class="row column">
        <label>Typ podkładu *</label>
        <%= form.collection_radio_buttons :file_type, [[:raster, 'Rastrowy'], [:vector, 'Wektorowy']], :first, :last, { legend_title: t(".file_type") }, "aria-controls": "user_questions" %>
      </div>

      <strong>Współrzędne lewego górnego narożnika mapy:</strong><br/>
      <div class="row column">
        <%= form.number_field :x_latitude %>
      </div>
      <div class="row column">
        <%= form.number_field :x_longitude %>
      </div>

      <strong>Współrzędne prawego dolnego narożnika mapy:</strong><br/>
      <div class="row column">
        <%= form.number_field :y_latitude %>
      </div>
      <div class="row column">
        <%= form.number_field :y_longitude %>
      </div>

      <div class="row column">
        <%= form.check_box :visible_on_load %>
      </div>

      <div class="row column">
        <%= form.select :min_zoom_level,
                        options_for_select((10..19).map { |i| [i.zero? ? "brak" : i, i] }, form.object.min_zoom_level),
                        {} %>
      </div>
    </div>
  </div>
</div>
