<% add_decidim_page_title(t("tags.title", scope: "decidim.admin")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <%= t("tags.title", scope: "decidim.admin") %>
      <% if allowed_to? :update, :organization %>
        <%= link_to t("actions.add", scope: "decidim.admin"), new_tag_path, class: "button button__sm button__secondary" %>
      <% end %>
    </h1>
  </div>

  <div class="table-scroll">
    <table class="table-list">
      <thead>
      <tr>
        <th><%= t(".headers.name") %></th>
        <th><%= t(".headers.actions") %></th>
      </tr>
      </thead>

      <tbody>
        <%= render partial: "tag", collection: @items.order('name ASC') %>
      </tbody>
    </table>
  </div>
</div>
